[2021-11-22 18:45] digitalsleuth commented on #547
Hi @itripc , Rekall is no longer in SIFT as it has been deprecated and no longer supported by the developers. However if you need rekall, you can download or build the docker from the REMnux repo (docker pull remnux/rekall:latest or build from https://github.com/REMnux/docker/tree/master/rekall).

Hope that helps!

[2021-11-22 18:50] digitalsleuth commented on #541
Since a successful install of SIFT on anything above 20.04 will require a number of repos to support 21.04 (GIFT, SIFT, SaltStack), this will likely take some time before it can be supported. Especially from a SaltStack standpoint, which still only supports 20.04. With 22.04 coming around the corner (newest LTS), that might be a better option for support.

[2021-11-22 18:54] itripc commented on #547
Greatly appreciated.

On Mon, Nov 22, 2021 at 6:45 PM Digital Sleuth ***@***.***>
wrote:

[2021-11-22 19:24] ekristen commented on #547
Thanks @digitalsleuth -- saw this over the weekend, you beat me to the response.

[2021-11-22 19:24] #547 closed

[2021-11-23 17:09] ekristen commented on #541
@digitalsleuth points out several good points, while I could open support for the newer version, the apt repos would definitely be a problem.

[2021-12-19 00:30] f6484563 commented on #530
For anyon still having the same issues, I've fixed just changing the OS to Ubuntu. By default the OVA uses "Other OS" that may cause this blank screen issue.

[2021-12-19 00:58] ekristen commented on #530
Great feedback! We just caught this problem elsewhere and fixed for the next release!

[2021-12-31 17:10] pyhoff commented on #518
Issue is we can't sift-cli get it to install on the OVA. I even tried using the Salt-stack install still failed, many issues with pip

[2021-12-31 17:16] ekristen commented on #518
@pyhoff please open a new issue and provide logs.

[2021-12-31 18:48] pyhoff opened #548 "Can't install sift-cli"
I have tried everything,
1) SIFT ova, download sift-cli and follow instructions
2) New SIFT image from ova, follow salt install method
3) fresh Ubuntu 20.04 updated, manually install python2, python3, git. Use Salt install and then try again with sift-cli all of them broken. (gave up on this)

One thing I found using sift salt is the 4m6Monke scripts were resorted " In December 2021, an attempted

[2021-12-31 19:59] pyhoff commented on #548
Salt minion log
[minion.txt](https://github.com/teamdfir/sift/files/7796964/minion.txt)
s

[2021-12-31 20:03] pyhoff commented on #548
[saltstack.log](https://github.com/teamdfir/sift/files/7796970/saltstack.log)

[2021-12-31 20:03] #548 closed

[2021-12-31 20:06] pyhoff opened #549 "Can't Install sift on OVA image"
Loaded ova on VMware Workstation pro. did not have sift, as documented. Installed sift-cli as per documentation. Attached you will find attached staltstack logs from various runs
[saltstack.log](https://github.com/teamdfir/sift/files/7796975/saltstack.log)
.

[2021-12-31 20:07] ekristen commented on #548
The salt stack log looks to be incomplete. It should have additional YAML at the end.

The python parse errors can generally be ignored at this time.

[2021-12-31 20:08] ekristen commented on #549
Where did you download the OVA?

[2021-12-31 20:12] ekristen commented on #549
The current OVA is missing the CLI. However SIFT is installed.

[2021-12-31 20:14] pyhoff commented on #549
First error :
# [DEBUG   ] An exception occurred in this state: Error: HTTP 404: Not Found reading http://mirrors.kernel.org/ubuntu/pool/universe/p/pdftk-java/pdftk-java_3.1.1-1_all.deb, currently
**"pdftk-java_3.2.2-1_all.deb"**

Found this installer under http://old-releases.ubuntu.com/ubuntu/pool/universe/p/pdftk-java/ installed this version, the python script still fails

[2021-12-31 20:14] pyhoff commented on #549
https://www.sans.org/tools/sift-workstation/

[2021-12-31 20:18] pyhoff commented on #549
So you are saying tools are all installed I just can't perform update or upgrades correct?

[2021-12-31 20:29] ekristen commented on #549
This log looks intact, let me review it. I do see a few errors.

[2021-12-31 20:31] ekristen commented on #549
When you import and start your OVA does it look like this?

![Screen Shot 2021-12-31 at 1 31 03 PM](https://user-images.githubusercontent.com/48329/147838321-d441e999-a881-45ec-8f89-d430563fcb2c.png)
![Screen Shot 2021-12-31 at 1 30 41 PM](https://user-images.githubusercontent.com/48329/147838322-509e75f7-a8fe-4f0e-b0b6-3c562b894394.png)

[2021-12-31 20:38] ekristen commented on #549
Installing the OVA, then manually installing the CLI and running `sudo sift update` works just fine, so does `sudo sift upgrade` according to my tests just now.

I will admit the CLI context is a bit ambiguous and I'm looking to fix that in the next major release.

- `sudo sift update` will simply re-run the existing version installed (defined by /etc/sift-version) and make sure everything is in t

[2021-12-31 20:40] ekristen commented on #549
I just released v2021.12.3 to address and fix the PDFTK issue.

Also please note, this is very important .. when using the SIFT CLI nothing is rolled back in the face of failure. If a state fails, everything just continues on, that means only states that fail or states that are dependent on the thing that failed do not get installed, everything else does. So if there are 100 things to install and

[2021-12-31 20:43] ekristen commented on #549
It looks like 10 days ago the 4n6 repository was drastically re-organized. I'll be pushing 2021.12.4 here shortly to address that issue.

[2021-12-31 20:46] ekristen commented on #546
@AgnosticCrusader following up here.

[2021-12-31 20:47] ekristen commented on #541
@rbnmaia we unfortunately have to wait until several of our dependencies support to officially support, but in the new version of the CLI I'm working on, I'll make sure to add provisions to allow you to override the restriction even though things will fail.

[2021-12-31 20:47] #541 closed

[2021-12-31 20:48] ekristen commented on #540
@Daniel-CS-Team checking in.

[2021-12-31 20:56] ekristen commented on #549
2021.12.5 has been released to fix the 4n6 issue. `sudo sift upgrade`

[2021-12-31 21:24] pyhoff commented on #549
ty

On Fri, Dec 31, 2021 at 3:56 PM Erik Kristensen ***@***.***>
wrote:

--
Paul Hoff
CISSP
***@***.***

[2021-12-31 21:26] pyhoff commented on #549
yes

On Fri, Dec 31, 2021 at 3:31 PM Erik Kristensen ***@***.***>
wrote:

--
Paul Hoff
CISSP
***@***.***

[2022-01-03 08:10] Daniel-CS-Team commented on #540
Hi @ekristen,

thank you for die update. Works now like expected.

[2022-01-03 08:10] #540 closed

[2022-01-03 18:34] #549 closed

[2022-01-03 22:06] ivityc opened #550 "[CLI] Issue installing SIFT on Ubuntu workstation - except IOError, e:"
Hi ,
I have a problem installing SIFT from cli on an existing Ubuntu workstation Ubuntu 20.04.3 LTS
I use the command **sudo sift install --mode=server**
and then I get the error below.
thaks for your help.

============================================================

sift-cli@1.13.1+0-g5ecd4f4

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anon

[2022-01-04 15:37] AgnosticCrusader commented on #546
None of the suggestions above worked. It looks like Saltstack has some issues with certain proxy types. I ended up deploying the SIFT appliance. I then tried to install REMnux on top of the SIFT appliance and ran into the same Saltstack issues.  Here is how I resolved those issues :

wget https://repo.saltproject.io/py3/ubuntu/20.04/amd64/latest/salt-archive-keyring.gpg

sudo mv salt-archive-keyri

[2022-01-04 15:46] ekristen commented on #546
You can just install `salt-common` via apt-get to get the `salt-call` command.

Nice note on the proxy_host and proxy_port variables, I can incorporate that into the updated CLI I'm working on.

[2022-01-04 15:47] #546 closed

[2022-01-04 15:47] ekristen commented on #546
Closed the issue since you have a work around for your proxy problems.

[2022-01-09 22:21] salty4n6 opened #551 "SIFT clean install errors - PDF posters"
Hi,
Looks like there is an issue with the links for a few of the SANS posters.

Here's a sample of the log.

comment: 'Failed to cache https://sansorg.egnyte.com/dd/hZjkv5VupH/: Error: HTTP
      403: Forbidden reading https://sansorg.egnyte.com/dd/hZjkv5VupH/'
    duration: 201.125
    name: /home/salty/Desktop/Network-Forensics-Poster.pdf
    result: false

Thanks,
Salty

[saltstack.log](https:/

[2022-01-10 21:09] ekristen commented on #551
Thanks for the report @salty4n6 -- we are aware of the issue. Unfortunately it's not a quite fix, some changes are being made with the backend on how these files are hosted and how access it provided. As soon as I have a solution I'll provide an update.

[2022-01-10 23:35] salty4n6 commented on #551
Thanks @ekristen .  I wasn't sure if you were aware or when the change happened.  Close the issue or leave it open, I'll leave that up to you.

Salty

[2022-01-19 19:31] lcsig156 opened #552 "Trying to install sift"
I am trying to install sift on ubuntu 20.4 and get this exit code not zero error...

sift install --mode=server --pre-release

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:546:23)
[saltstack.log](https://github.com/teamdfir/sift/files/7900079/saltstack.log)

    at ChildProcess.emit (events.js:400:28)

[2022-01-19 20:02] ekristen commented on #552
Looks like you are actually hitting a python bug. Can you give me the output of `salt-call --versions-report`

[2022-01-19 20:02] ekristen commented on #552
also provide `lsb_release -a` and `uname -a`

[2022-01-19 20:16] lcsig156 commented on #552
salt-call --versions-report

Traceback (most recent call last):
  File "/usr/bin/salt-call", line 11, in <module>
    load_entry_point('salt==3001.8', 'console_scripts', 'salt-call')()
  File "/usr/lib/python3/dist-packages/salt/scripts.py", line 439, in salt_call
    import salt.cli.call
  File "/usr/lib/python3/dist-packages/salt/cli/call.py", line 6, in <module>
    import salt.cli.caller
  Fil

[2022-01-19 20:19] ekristen commented on #552
Interesting this seems to be a new issue with the version of python. I can provide a sift-cli binary to test with to see if it resolves the issue.

[2022-01-19 20:21] ekristen commented on #552
Actually if you'd like, you can test my new CLI tool https://github.com/ekristen/cast/releases/tag/v0.1.0, once you download the binary, you can put it into `/usr/local/bin/` or run it from the downloaded directory `./cast install --mode=server sift`

In the mean time I can update the sift-cli to see if an update will fix it.

[2022-01-19 20:40] lcsig156 commented on #552
Thank you for your time...I will try the test tool now...is this the download I need?  cast-v0.1.0-linux-amd64.tar.gz

[2022-01-19 20:45] lcsig156 commented on #552
I ran cast and this was the output...

WARN[0000] using unauthenticated github client, could result in API rate limiting
INFO[0000] checking operating system support             component=distro owner=teamdfir repo=sift-saltstack
INFO[0000] operating system is supported                 component=distro owner=teamdfir repo=sift-saltstack
INFO[0000] distro validated successfully                 comm

[2022-01-19 20:47] ekristen commented on #552
Oh you are in WSL2, I haven't tested that environment, can you re-run with `./cast install -l debug --mode server sift`

I've also published an RC of sift-cli that **might** address the issue https://github.com/teamdfir/sift-cli/releases/edit/v1.14.0-rc1

[2022-01-19 21:02] lcsig156 commented on #552
This is the output at the end of the debug

INFO[0002] distro downloaded successfully                command=install
INFO[0002] installing using mode: server                 command=install
INFO[0002] checking if install can progress              component=installer
DEBU[0002] configuring the installer                     component=installer
DEBU[0002] configuring saltstack installer

[2022-01-19 21:05] ekristen commented on #552
Ok, I know why that didn't work now.

Find salt.list or saltstack.list in /etc/apt/source.list.d/ and update it to `deb [signed-by=/usr/share/keyrings/salt-archive-keyring.gpg arch=amd64] https://repo.saltproject.io/py3/ubuntu/20.04/amd64/latest focal main` and then run `sudo curl -fsSL -o /usr/share/keyrings/salt-archive-keyring.gpg https://repo.saltproject.io/py3/ubuntu/20.04/amd64/latest/salt-a

[2022-01-19 21:11] lcsig156 commented on #552
This is the salt-call --versions output

Salt Version:
          Salt: 3004

Dependency Versions:
          cffi: 1.15.0
      cherrypy: Not Installed
      dateutil: 2.8.2
     docker-py: 5.0.3
         gitdb: 4.0.9
     gitpython: 3.1.26
        Jinja2: 3.0.3
       libgit2: Not Installed
      M2Crypto: 0.38.0
          Mako: Not Installed
       msgpack: 1.0.3
  msgpack-pure: Not Installed
  m

[2022-01-19 21:16] ekristen commented on #552
Ok try using cast again. The SIFT cli will try and overwrite the install, which normally is ok, but we are having some issues.

[2022-01-19 21:21] lcsig156 commented on #552
you want me to run ./cast install --mode=server sift again?

[2022-01-19 21:45] ekristen commented on #552
Yes please

[2022-01-19 22:53] lcsig156 commented on #552
This was the end of the output from re-running the prior command...it looks like it froze up

INFO[0925] state completed                               component=installer duration=5.423 state=/usr/local/bin/parseusn.py time_begin="16:35:09.422561" time_end="16:35:09.427984"
INFO[0925] running state                                 component=installer state=/usr/local/bin time_begin="16:35:09.428140

[2022-01-19 23:05] ekristen commented on #552
Ok. I'll look into that, but it looks like to installed everything, or most everything.

[2022-01-19 23:10] lcsig156 commented on #552
I just ran it again no errors, and seems t have installed correctly!  Is there anything other info you need via logs?  I appreciate your time and assistance very much!  Thank You again

[2022-01-20 23:31] ekristen commented on #552
The latest version now fixes the PDF issue, you can use the same tool as well. Cheers.

[2022-01-20 23:31] #552 closed

[2022-01-20 23:31] ekristen commented on #551
This is now fixed.

[2022-01-20 23:31] #551 closed

[2022-01-20 23:33] ekristen commented on #550
@ivityc apologies, but somehow I didn't see this issue get opened up.

Please see the latest version of the `sift-cli` it should fix it, but I haven't been able to reproduce this.

Are you running ubuntu 20.04? Do you happen to be WSL2?

[2022-01-20 23:34] ekristen commented on #524
I'm going to close this issue for now. I'm not sure that I'll add a latest tag and the SIFT CLI is getting replaced by a new tool soon.

[2022-01-20 23:34] #524 closed

[2022-01-22 10:19] ivityc commented on #550
ok thanks,
the OS is Ubuntu workstation Ubuntu 20.04.3 LTS , running on a VMware esx environment. No WSL.
 I will try with the latest command version and let you know.

[2022-01-24 17:41] ivityc commented on #550
Ok after downloading the latest sift-cli I manage to complete the installation without error. It was just complaining for inetsim as the ppa was not available, but after fixing that , it complete the setup properly.
The issue can be closed, thanks.

[2022-01-24 17:41] #550 closed

[2022-02-04 22:09] theocaines opened #553 "SIFT Install Issue"
I've been trying to install SIFT on vanilla Ubuntu 20.04 running on AWS.
Ubuntu Server 20.04 LTS (HVM), SSD Volume Type - ami-04505e74c0741db8d (64-bit x86)
--command--
$ sudo sift install --mode=server

Issue: Hangs right at the following line every time

Is this a know issue or is there a workaround?

Thanks
Theo

[2022-02-04 23:33] digitalsleuth commented on #553
Hi @theocaines , any chance you can provide your saltstack.log so we can review?

[2022-02-05 01:14] theocaines commented on #553
Doing some additional checking as I was able to go to completion on using a larger instance type (t2.xlarge). All previous tries were on t2.micro and I noticed the CPU being pegged at 100%.  I will update you on this either way.

[2022-02-05 15:12] ekristen commented on #553
There are prebuilt AMIs already. See the main SIFT repo's README

[2022-02-16 18:30] blackph0en1x opened #554 "[CLI] Apple M1 ARM architecture support"
I've been using SANS SIFT VM since my FOR408 class and GCFE cert. I've been working on an Intel Macbook Pro and everything worked fine. Recently I switched to a new Macbook which has a M1 Pro processor with ARM architecture. I tried to use the sift-cli path because I thought it was written in some scripting language but it appears to be an x86-64 ELF executable.
It would be nice to have an ARM ver

[2022-02-16 18:53] philhagen commented on #554
At this time, the build does not support the M1, and we do not yet have an estimate on when that may be supported.  With the hundreds of tools involved, it will take a significant amount of work to ensure a build on multiple architectures works consistently and accurately.

While this is a feature we are working on, I will close this issue so folks can find it on a search for M1.  It's not a "no"

[2022-02-16 18:53] #554 closed

[2022-02-16 21:31] blackph0en1x commented on #554
Thank you. Let me know if there is something I can do or if you need beta testers.

[2022-02-18 03:29] watsoninfosec opened #555 "sift-cli-linux install errors"
Hello Sift Team,

I am installing this SIFT workstation on my Ubuntu Mate OS. I have did a clean install twice with a fully update OS and I am getting these error messages when I try to install this script.

I tried to do a apt autoremove, apt update and apt upgrade commands and I still got this error message at the end.
I have done what the system asked for the commands below this code block, but

[2022-02-18 03:38] digitalsleuth commented on #555
Hi there @watsoninfosec , I'm pretty sure I have a good idea what the issue is, but to make sure, can you upload a copy of your saltstack.log for review?

[2022-02-18 03:43] watsoninfosec commented on #555
[saltstack.log](https://github.com/teamdfir/sift/files/8093936/saltstack.log)
Done!

[2022-02-18 03:57] watsoninfosec commented on #555
So, other than that I am ok? Will I have any problems with updating tools if needed be? Or Upgrades?

[2022-02-18 04:08] digitalsleuth commented on #555
Yes, other than that you're good to go. You shouldn't have any problems updating to future versions, however this error will pop up again for the same reason.
If you review the saltstack.log file, you'll see a number of `[ERROR   ] Can't parse...` lines. These can be ignored, but the lines which contain `[ERROR   ]` and don't contain the `Can't parse...` will help you identify the error.

If the e

[2022-02-18 04:10] watsoninfosec commented on #555
Thank you!

[2022-02-18 04:10] #555 closed

[2022-02-28 15:10] ekristen opened #556 "SIFT AMI Default User Issue (with Fix)"
The current AMIs have a problem with the default user (ubuntu) not existing, but it not being set to `sansforensics` either properly.

To work around this simply add this to your user-data when using the AMI.

[code]

**Note:** if this issue is closed, that means the **LATEST** AMI has been fixed to default the user to sansforensics.

[2022-03-15 21:03] salty4n6 opened #557 "Volatility3"
Hi,
Is volatility3 on the roadmap?  I know I can do the install but curious if it will be included at some point.
Thanks,
Salty

[2022-03-19 18:06] digitalsleuth commented on #557
Added a pull request to support this. Vol3 will require that the symbols for the appropriate dump be downloaded separately.

[2022-04-01 11:05] ShahJainam24 commented on #407
hello! i am trying to install sift on AWS EC2 ubuntu 16.04 and i am getting the following errors!

ubuntu@ip-172-31-19-137:~$ sudo sift install

Installing and configuring SaltStack properly ...

Command failed: wget -O - https://repo.saltstack.com/apt/ubuntu/16.04/amd64/latest/SALTSTACK-GPG-KEY.pub | apt-key add -
--2022-04-01 11:03:34--  https://repo.saltstack.com/apt/ubuntu/16.04/amd64/latest/S

[2022-04-01 11:06] ShahJainam24 opened #558 "sift installation on AWS EC2 UBUNTU 16.04"
hello! i am trying to install sift on AWS EC2 ubuntu 16.04 and i am getting the following errors!

ubuntu@ip-172-31-19-137:~$ sudo sift install

[sift-cli@1.5.1-beta.0-master.154cb2f](mailto:sift-cli@1.5.1-beta.0-master.154cb2f)
sift-version: notinstalled

Installing and configuring SaltStack properly ...

Command failed: wget -O - https://repo.saltstack.com/apt/ubuntu/16.04/amd64/latest/SALTSTACK

[2022-04-01 11:15] digitalsleuth commented on #558
Good morning @ShahJainam24 While Ubuntu 16.04 is no longer supported, the error you're receiving is due to Saltstack dropping support for Salt 3001 and Ubuntu 16.04. This will require us to update the sift cli to upgrade the version. Stay tuned for a new version.

[2022-04-18 14:02] bhamdans opened #559 "Jinja2 Markup error during SIFT CLI install"
Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:556:23)
    at ChildProcess.emit (events.js:400:28)
    at maybeClose (internal/child_process.js:1058:16)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:293:5)
----------------------------------------------------------------------------

[2022-04-18 14:53] digitalsleuth commented on #559
Hi @bhamdans This is caused by a change in Salt 3004 which upgrades the Jinja package. You can rectify this temporarily by running `sudo python3 -m pip install jinja2==3.0.3` then running the command again.

I'll submit a PR later today which will fix this issue for the SIFT install.

[2022-04-18 15:28] bhamdans commented on #559
Testing now.

-=Dan=-

On Mon, Apr 18, 2022 at 9:54 AM Digital Sleuth ***@***.***>
wrote:

[2022-04-20 20:30] simon0117 opened #560 "VM doesn't boot"
Using MacOS VirtualBox 6.1.32, the SIFT-Workstation.ova doesn't boot into a GUI, just a blinking cursor. I can reset to see the GRUB boot menu, but neither normal nor recovery mode boot seems to do anything. Attached is the VirtualBox log file
[vm-2022-04-20-15-27-36.log](https://github.com/teamdfir/sift/files/8525193/vm-2022-04-20-15-27-36.log)
.

[2022-04-20 21:40] simon0117 commented on #560
I've gotten further by changing General - Basic - Version from Other/Unknown to "Other/Unknown (64-bit)"
![VirtualBox_SIFT Workstation_20_04_2022_16_39_42](https://user-images.githubusercontent.com/5805263/164327446-6c36077a-0a23-466d-9961-6de666230585.png)

[2022-04-20 21:50] simon0117 commented on #560
It seems that performance events error/warning was because I checked a couple of boxes while I'm trying to troubleshoot it. Finally I changed the VM Type to Linux and Version to Ubuntu (64-bit) and it is booting up now.

[2022-04-20 21:50] #560 closed

[2022-04-20 22:48] ekristen commented on #560
@simon0117 good deal, I'm glad you figured it out. We recently identified this as a general problem with the OVA file and have made a correction to fix that going forward. Any new builds **should** be set to Ubuntu (64-bit) by default. Sorry you ran into issues, but glad you got it worked out.

[2022-05-16 15:20] cipherz404 opened #561 "Log2timeline"
Hi, with the recent update at Log2timeline, the functionally of the tool is not working in SIFT. I have tried updated all dependencies with no luck. In trying to read an E01, it brings back many errors relating to libewf, and other dependencies.

[2022-05-19 03:43] abanerjee-svmk opened #562 "sift installation issue Ubuntu 20.04 on AWS EC2"
AWS EC2 base image ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20220419
EC2 m5.xlarge 100GB EBS

Steps followed for SIFT installation https://github.com/teamdfir/sift-cli#installation

After execution of all the steps I receive this at the end of sudo sift install

`sudo sift install

Installing and configuring SaltStack properly ...

Update returned exit code not zero
Error: Update retu

[2022-05-19 11:56] digitalsleuth commented on #562
Hi @abanerjee-svmk can you provide the saltstack.log file, it may contain some useful information to resolve the issue. As well, there is already a [SIFT AMI](https://github.com/teamdfir/sift#aws) on the AWS cloud, so you might find that useful as well.

[2022-05-19 15:21] abanerjee-svmk commented on #562
Thank you. Will take a look at the AMI. Attaching log.
[saltstack.log](https://github.com/teamdfir/sift/files/8730659/saltstack.log)

[2022-05-25 00:08] abanerjee-svmk commented on #562
We ended up using the SIFT AMI. Thank you.

[2022-05-25 00:08] #562 closed

[2022-05-25 17:53] smclinden opened #563 "[CLI] SIFT doesn't install on a USB device running Ubuntu 20.04LTS"
I get:

[code]

This is with the current LTS download of 20.04.

I can't build from source because there is no documentation on what config.json should look like for sift-cli."

I would really like to be able to install from source rather than rely on packages that depend upon code that appears to be in flux.

[2022-05-26 22:21] RobinUndermost commented on #556
This doesn't seem to work unfortunately. Tried with key pair authentication and without, no success.
Using ami-0b9d5c33ff8f8ca7d (sift-2022-03-02-1717)

[2022-05-28 08:03] MonolithInd opened #564 "invalid OS, unable to determine ubuntu version - Clean ubuntu 20.04 LTS"
Hi there. I'm trying to install SIFT workstation on my new clean install of Ubuntu 20.04 but I'm getting the error "invalid OS, unable to determine ubuntu version" I have carried out an apt update and apt upgrade and apt autoremove. Still no joy. It says this should be supported.

root@host:~# apt-get upgrade
Reading package lists... Done
Building dependency tree... Done
Reading state information.

[2022-05-28 11:28] digitalsleuth commented on #564
Hello @MonolithInd , currently SIFT only supports Ubuntu 20.04 (focal), but your OS is actually 22.04 (jammy). There will be support soon for Jammy, but as of yet not all of the tools included in SIFT are available on Jammy.

I hope this helps!

[2022-05-31 01:56] digitalsleuth commented on #564
Hi @MonolithInd , have you made any progress with this?

[2022-05-31 02:07] digitalsleuth commented on #563
Hi @smclinden , to build from source, you don't need the sift-cli repo, you only need the sift-saltstack repo and saltstack. However, the error you're having as listed above is indicative of an `apt` issue, not a `SIFT` issue.

Additionally the salt states aren't packages that depend upon code in flux, they're instructions to allow SaltStack to install those packages from source.
To install SIFT u

[2022-05-31 02:09] digitalsleuth commented on #561
Hi @cipherz404 is there any chance you can provide some more info? Preferably the error messages you're receiving and your saltstack.log file from your most recent install. This should help us resolve your issues.

[2022-05-31 02:10] digitalsleuth commented on #559
Hi @bhamdans has this issue been resolved for you?

[2022-05-31 02:12] digitalsleuth commented on #558
Hi @ShahJainam24 , have you had the opportunity to download the latest CLI and try again? Additionally, if you look [here](https://github.com/teamdfir/sift#aws) you'll find that there are AMI's available on AWS which are already setup and configured for SIFT.

[2022-06-02 05:51] stormblessed7 opened #565 "[CLI] sift update command failing with "exit code not zero""
I was able to successfully install sift on a fresh Ubuntu 20.04 VM. I did a reboot and all of the "theme" settings were applied (desktop image, desktop files, terminal theme, etc.). However, when attempting to run "sift update", I get a message stating "Update returned exit code not zero". I've tried the suggested fixes such as running "apt-get update" and "apt-get autoremove". "sudo sift upgrade"

[2022-06-09 10:15] devilzeedfgvvg commented on #335
One month ago i receive this error sir can you help me how to solve?
sift-cli@1.8.3
sift-version: notinstalled

Installing and configuring SaltStack properly ...

Command failed: wget -O - https://repo.saltstack.com/apt/ubuntu/null/amd64/2018.3/SALTSTACK-GPG-KEY.pub | apt-key add -
--2020-03-12 11:13:32-- https://repo.saltstack.com/apt/ubuntu/null/amd64/2018.3/SALTSTACK-GPG-KEY.pub
Resolving repo.

[2022-06-09 12:28] digitalsleuth commented on #335
Hi @devilzeedfgvvg It looks like you've added this comment to a closed ticket vice opening a new one.
I would recommend first that you make sure your system is fully updated (`sudo apt-get update && sudo apt-get upgrade -y`) and then download the newest CLI installer. The old one you're using (`1.8.3`) uses versions of SaltStack no longer supported. The newer one ([found here](https://github.com/t

[2022-06-10 17:01] wilsq36 opened #566 "SIFT .ova 490GB"
Why is the Sift .ova VM takin up 490GB on my hard drive?

[2022-06-10 17:04] ekristen commented on #566
Did you tell it to provision all the space ahead of time?

[2022-06-10 17:19] wilsq36 commented on #566
Just imported it into VMWare Workstation. No changes were made.

[2022-07-06 14:38] IreSec73 opened #567 ">> Running: /etc/sift-version Update returned exit code not zero"
Hi Guys

I`m installing SIFT on Ubuntu (20.04.1-Ubuntu) in AWS using an EC2 (I cant use the AMIs you provided in my company because of guard rails) and I'm having the issue below - Any idea how I solve it please - As a test I ran it on my own private AWS account to make sure it wasn't something related to the company account and had the identical issue.

Thanks

Update returned exit code not zero

[2022-07-08 00:33] digitalsleuth commented on #567
Hi @IreSec73, are you able to provide the saltstack.log file which gets generates so we can review the possible issue?

[2022-07-08 00:36] digitalsleuth commented on #565
Hi @stormblessed7 , it looks like issue is one which was introduced with the most recent version of SaltStack. If you run the following command, you should then be able to try the install again without an issue:
`sudo python3 -m pip install jinja2==3.0.3`

[2022-07-14 14:05] IreSec73 commented on #567
[
[saltstack.log](https://github.com/teamdfir/sift/files/9112473/saltstack.log)
](url)

[2022-07-29 10:46] TheWanderer1983 opened #568 "Errors when installing sift over a remnux on focal"
Hello all,
This is a fresh minimal Focal distro with remnux installed and sift installed with --mode=packages-only.

attached is the saltstack.log
[saltstack.log](https://github.com/teamdfir/sift/files/9219224/saltstack.log)

[2022-07-29 11:15] digitalsleuth commented on #568
Hi @TheWanderer1983 , can you confirm that you have sufficient disk space to install the tools? I noticed you had a disk space error earlier when installing REMnux.

When looking at your logs, it appears that many of the tools are not installable due to broken packages, which may have become broken due to the aforementioned disk space error.

[2022-07-29 11:36] TheWanderer1983 commented on #568
Thanks for the fast response. Looking at df I can see I have 5 gig free.   I just expanded it anyway and tried again same errors.

[2022-07-29 11:51] digitalsleuth commented on #568
Now that you've increased your disk space, try running:
[code]
This should fix the broken packages from before, then try running the install again. If that install fails, please upload that log so we can try to resolve any further issues :)

[2022-07-29 12:06] TheWanderer1983 commented on #568
Done.  Attached are the logs.
[saltstack.log](https://github.com/teamdfir/sift/files/9219727/saltstack.log)

[2022-07-29 12:18] digitalsleuth commented on #568
@TheWanderer1983 Can you confirm your timezone? The time in the log you uploaded shows it started between 21-22h. If your timezone is correct, then this log may be a previous log.

[2022-07-30 02:03] TheWanderer1983 commented on #568
Hey @digitalsleuth
The time is correct. I'm in Australia. I've just deleted the saltstack.log and reran sudo sift install --mode=packages-only this morning.
Attached is the new saltstack.log
[saltstack.log](https://github.com/teamdfir/sift/files/9224145/saltstack.log)

[2022-08-01 10:47] TheWanderer1983 commented on #568
I failed to mention sudo apt-get install -f didn't fix any issues, however there were clearly many umets. For example, I couldn't install apache2. Is it better to keep sift and remnux separate?

[2022-08-02 01:36] TheWanderer1983 opened #569 "Fresh Sift build (focal) on qubes"
Hello all,
I decided to try building sift from scratch on a fresh focal system.  Not built on top Remnux.
I followed the github guide for installing.
Attached is the saltstack.log.

[saltstack.log](https://github.com/teamdfir/sift/files/9238365/saltstack.log)

[2022-08-02 11:47] digitalsleuth commented on #569
Hi @TheWanderer1983 , after looking at all of the issues you've had, you seem to be getting the exact same error message each time, related to the 'systemd-run' error code 100. Can you provide the output of the following:
[code]

[2022-08-02 12:10] TheWanderer1983 commented on #569
Hello @digitalsleuth,
Here are the requested outputs.

$ sudo apt-get update
Hit:1 https://download.docker.com/linux/ubuntu focal InRelease
Hit:2 https://repo.saltproject.io/py3/ubuntu/20.04/amd64/3004 focal InRelease
Get:3 http://ppa.launchpad.net/gift/stable/ubuntu focal InRelease [18.0 kB]
Hit:4 http://archive.canonical.com/ubuntu focal InRelease
Hit:5 http://archive.ubuntu.com/ubuntu focal InR

[2022-08-02 12:22] digitalsleuth commented on #569
Can you run the following as well and paste the output?
[code]

[2022-08-03 00:02] ekristen commented on #568
Last checked they run together, but it's always possible there's going to be conflicts, it just depends on what is being installed.

So right now there are either held or broken packages which can be difficult to troubleshoot.

You can try installing apache2 manually and see what error returns and see if it indicates which package isn't installed all the way and start trying to fix it by either fo

[2022-08-03 00:43] TheWanderer1983 commented on #569
cat /etc/apt/sources.list | grep -v "#"
deb http://archive.ubuntu.com/ubuntu focal universe
deb http://archive.canonical.com/ubuntu focal partner
deb http://archive.ubuntu.com/ubuntu focal-security multiverse
deb http://archive.ubuntu.com/ubuntu focal-updates main universe multiverse restricted
deb http://archive.ubuntu.com/ubuntu focal multiverse

[2022-08-03 11:07] digitalsleuth commented on #569
Thanks @TheWanderer1983 , it looks like you have all the repos you need enabled, so I'm not quite sure why you are unable to install a few of the tools found in those repos. Can you tell me what steps you took to set up the OS?

[2022-08-04 00:00] TheWanderer1983 commented on #569
Sure, This is a Qubes System. So I cloned a Focal template. Specifically this one https://qubes.3isec.org/Templates_4.1/
Then I followed the Option 2A: SIFT Easy Installation on Native Ubuntu System as detailed here. https://www.sans.org/tools/sift-workstation/
The only variation is I didn't create that user account. I'm using the default account for this VM which has sudo.

[2022-08-04 00:05] digitalsleuth commented on #569
Sounds good, I'll give that process a shot and see if I come across the same issue.

[2022-08-04 00:11] TheWanderer1983 commented on #569
Thanks for the help. Appreciated.

[2022-08-05 08:01] aarislarsen commented on #556
This still appears to be broken, and the suggested workaround does not appear to work.
Using ami-0c444654c3cb65700, resulting in `Permission denied (publickey)` when attempting to SSH with the `sansforensics` user.

[2022-08-11 02:16] TBesss opened #570 "Saltstack repo no longer available"
Hey team,

Tried updating SIFT this morning and Saltstack v3001 doesnt appear to be hosted anymore and is causing an issue preventing the update/upgrade of SIFT. I attempted to amend the sources.list.d file to the latest release of Saltstack however the SIFT CLI looks for v3001 specifically. https://repo.saltproject.io/py3/ubuntu/20.04/amd64/
![image](https://user-images.githubusercontent.com/1110

[2022-08-11 11:19] digitalsleuth commented on #570
Hi @TBesss , can you tell me which version of the SIFT installer you're using?

[2022-08-16 00:10] TBesss commented on #570
Morning @digitalsleuth, I was running V 1.10. Just upgraded to the 1.14 and all is good! Thanks ;)

[2022-08-16 00:25] digitalsleuth commented on #570
Awesome, great to hear!

[2022-08-16 13:27] gmangus117 commented on #564
@digitalsleuth do you have a timeline for when jammy will be supported?

[2022-08-20 18:07] nullpanda opened #571 "[CLI] WSL2 Ubuntu 22.04 Apt Errors"
Followed instructions at https://github.com/teamdfir/sift-cli#installation

When I run sift install --mode=server I get:

`sift install --mode=server

EACCES: permission denied, mkdir '/var/cache/sift'
Error: EACCES: permission denied, mkdir '/var/cache/sift'

----- PLEASE READ ----------------------

A lot of failures are caused by the apt system being locked
or unhealthy.

Before opening an issu

[2022-08-21 20:01] nullpanda commented on #571
Downgrading to Ubuntu 20.04 alleviated the errors about version identification, but now hangs on the download of different components. Not sure if I am having some kind of networking issues with WSL.

[2022-08-21 20:07] nullpanda commented on #571
And we are back:
`sudo sift install --mode=server

Hashes for sift-saltstack-v2022.01.22.tar.gz do not match. Expected: , Actual: 12d4be3e4b31690c17ed7675b11540c77b25d1c8b5a1bd5a8a15122f51984b9e  /tmp/sift-saltstack-v2022.01.22.tar.gz

Error: Hashes for sift-saltstack-v2022.01.22.tar.gz do not match. Expected: , Actual: 12d4be3e4b31690c17ed7675b11540c77b25d1c8b5a1bd5a8a15122f51984b9e  /tmp/sift-sa

[2022-08-21 20:15] nullpanda commented on #571
Switching off the SANS conference network resolved the download errors/problems, even though I was on VPN using that network.

Version issue still exists but 22.04 isn't officially supported, so closing issue.

[2022-08-21 20:15] #571 closed

[2022-08-23 14:52] Michael-McClelland opened #572 "Feature Request - AWS CLI"
Is AWS CLI on roadmap?
This would be a beneficial addition, especially to the AMI version of SIFT.

[2022-08-24 13:42] n3tl0kr opened #573 "ARM Support for SIFT-CLI"
Like many others, I had to set my MBP to pasture and ended up with an M1 Max.  While the M1 runs Ubuntu ARM with no issues, we can't import the prebuilt SIFT OVA and the SIFT CLI is an x64 ELF binary presently. Not sure if it's just a matter of cross compiling but I thought I'd ask for goodness sake :)

[2022-08-24 14:18] ekristen commented on #573
Hi @n3tl0kr thanks for the issue. There likely won't be any more work done with the `sift-cli` specifically, it's successor a new project I've been working on https://github.com/ekristen/cast/

I've actually just pushed [0.10.0](https://github.com/ekristen/cast/releases/tag/v0.10.0) that adds support for `linux/arm64`

Unfortunately I already know it won't work 100%, we've been doing some testing

[2022-08-24 17:37] ekristen commented on #573
You can attempt this with the latest version of cast along with the `--pre-release` flag on Ubuntu 20.04, unfortunately 22.04 is not yet supported.

[2022-08-24 18:25] ekristen commented on #566
As far as I know the only reason for this is if the option to pre-provision all the space ahead of time is enabled, which it's not on the OVA the last time I checked.

[2022-08-24 22:57] ekristen commented on #556
odd, it was working, but I can confirm it doesn't now. I'll do some debugging.

[2022-08-26 15:35] joecasanova opened #574 "Docker build fails for desktop container"
I'm trying to build a docker image based on ubuntu 20.04 desktop for use in Kasm Workspaces.

DISCLAIMER: I honestly do not believe this is an issue with SIFT and more an issue of my inexperience with building such docker containers.

If I try to build using sift-linux-cli it results in an issue with /etc/sift-version with the following output:

[code]

With a pretty vanilla docker build:

`sudo d

[2022-08-26 20:41] digitalsleuth commented on #574
Hi @joecasanova , I've actually got a sift Dockerfile created which you should be able to modify for your purposes, but I haven't updated it recently for Saltstack 3004. If you give me an hour I can have it finished for you. You can find it [here](https://github.com/digitalsleuth/sift-docker) when it's done. Alternatively, I also have one which has SIFT and REMnux as well [here](https://github.com

[2022-08-27 21:58] tompolth commented on #567
I am having a similar issue. The upgrade seems to be ok but there is a similar message to the one especified by IreSec73.
Here it is my log file
[saltstack.log](https://github.com/teamdfir/sift/files/9438739/saltstack.log)

[2022-08-27 22:10] digitalsleuth commented on #567
Hi @tompolth , It looks like there was an issue finding a package from the repos, which in turn caused a couple of errors. Can you provide me a listing of your /etc/apt/sources.list.d directory and possibly try the installation again?

[2022-08-28 00:43] digitalsleuth commented on #574
Hi @joecasanova , I was just re-reading your original message and realized I skipped over the error message you provided. The message occurs because the operating system within the docker container doesn't run with system level operation, and as such cannot run system-level commands such as timedatectl. Your best bet to set the timezone might be to set it manually using configuration files.

As fo

[2022-08-28 08:12] tompolth commented on #567
Here is the list.
[source.list.d.txt](https://github.com/teamdfir/sift/files/9439310/source.list.d.txt)
Probably there is some entrances coming from the previous version. Yesterday I upgraded the 18.04 version to the 20.04

[2022-08-28 09:11] tompolth commented on #567
I've just reviewed the source.list.d directory removing some old entrances and enable the related with sift that were disabled during the dist-upgrade. After that I upgraded the Ubuntu again and then the sift. Voila!! It worked flawlessly.
Thanks for your help

[2022-08-29 10:51] IreSec73 commented on #567
[saltstack (3).log](https://github.com/teamdfir/sift/files/9443896/saltstack.3.log)

Hi digitalsleuth - Attached is the log file

[2022-08-29 13:11] digitalsleuth commented on #567
Hi @IreSec73 , it looks like there's a network connectivity issue when trying to use and configure pip during the process. I'm guessing it's a configuration issue with the AMI, as it keeps trying to search a non-existent python index:
[code]

Can you confirm that you can manually install a python package within your AMI instance?

[2022-09-01 21:20] mheckman101 commented on #560
I just downloaded the latest OVA today (9/1/22) and this is still a problem. You have to manually change the "Guest OS Type" to "Ubuntu (64-bit)" or the VM won't boot. I suppose I should open another ticket.

[2022-09-01 21:23] mheckman101 opened #575 "(SOLVED) VirtualBox - VM Doesn't Boot - OS Type is "unknown""
I downloaded the SIFT Workstation VM ova and imported it into VirtualBox. It doesn't boot.

I fixed the problem by manually changing the "Guest OS Type" to "Ubuntu (64-bit)" when I import it.

This is a problem that was recognized in April but was not fixed.

[2022-09-01 21:38] ekristen commented on #575
Fairly certain the OVA has been fixed, but mileage may vary especially when it comes to virtualbox.

[2022-09-01 21:40] ekristen commented on #560
It may be a virtualbox issue, but we'll take a look.

[2022-09-08 18:48] DacoDev commented on #558
I'm running into the same issue using Ubuntu 20.04, the call for the version 3001 key just doesn't exist anymore - the AMI works but I believe anyone installing SIFT manually would run into failures now. The next closest in the dir is 3002, so I guess the options are to package the needed version in this repo or test+upgrade the version used in the installation.

[2022-09-08 20:00] ekristen commented on #558
We are working on an updated AMI but running into a few issues getting the default user to work properly. If you manually upgrade to the latest CLI things should be good to go.

[2022-09-09 00:17] DacoDev commented on #558
Roger that -

I ran into that issue too when launching the AMI, and I sort of worked around it with: a [tls_private_key](https://registry.terraform.io/providers/hashicorp/tls/latest/docs/resources/private_key) resource, an [aws_key_pair](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/key_pair), then in the user-data script echo >> the tls_private_key.name.private_key_p

[2022-09-20 19:05] mskarsem opened #576 "Saltstack issue"
Installing and configuring SaltStack properly ...

Command failed: wget -O - https://repo.saltproject.io/py3/ubuntu/20.04/amd64/3004/salt-archive-keyring.gpg | apt-key add -
--2022-09-20 20:41:55--  https://repo.saltproject.io/py3/ubuntu/20.04/amd64/3004/salt-archive-keyring.gpg
Resolving repo.saltproject.io (repo.saltproject.io)... failed: Temporary failure in name resolution.
wget: unable to res

[2022-09-20 19:06] mskarsem commented on #576
Keep getting this when I try to install sift on desktop. any one got a solution for this?

[2022-09-20 19:29] mskarsem commented on #576
Tried to fix it with
sudo curl -fsSL -o /usr/share/keyrings/salt-archive-keyring.gpg https://repo.saltproject.io/py3/ubuntu/20.04/amd64/3004/salt-archive-keyring.gpg

But now i get another fault ofcourse.

E: Conflicting values set for option Signed-By regarding source https://repo.saltproject.io/py3/ubuntu/20.04/amd64/3004/ focal: /usr/share/keyrings/salt-archive-keyring.gpg !=
E: The list of sou

[2022-09-21 02:02] digitalsleuth commented on #576
Hi there @mskarsem , the first issue you had was due to a network connectivity / DNS resolution error, and wasn't as a result of the installation process: `Resolving repo.saltproject.io (repo.saltproject.io)... failed: Temporary failure in name resolution.`

The second error you're receiving is due to the changes you made after this. Your best bet would be to delete the `/usr/share/keyrings/salt-a

[2022-09-21 02:03] digitalsleuth commented on #574
Hi @joecasanova , just checking in to see how things have progressed with this.

[2022-10-12 23:45] salty4n6 opened #577 "Autopsy 4?"
Hi,
Is Autopsy 4 on the roadmap?  Autopsy 2.24 is a bit long in the tooth.
~Salty

[2022-10-13 20:47] digitalsleuth commented on #577
I'm sure this should be possible. Right now we're installing it through the Ubuntu PPA, and that's pinned at 2.24. We'll likely have to build from source, so I'll take a look at what it'll take to get it working.

[2022-10-13 22:15] salty4n6 commented on #577
Thank you.

[2022-10-17 12:34] salty4n6 commented on #577
Hi digitalsleuth,

I found this project over the weekend.

https://github.com/labcif/autopsy-packager

~Salty

[2022-10-22 23:44] digitalsleuth commented on #577
Hey @salty4n6 , sorry for the delay, but I'm looking at this right now. It looks promising, but I need to confirm some dependency issues which seem to be popping up. I'll keep you posted.

[2022-10-23 01:53] varunkrs33 opened #578 "Update returned exit code not zero while installing sift in Remnux"
Tried installing Sift Cli in Remnux VM and it is displaying error codes below

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:556:23)
    at ChildProcess.emit (events.js:400:28)
    at maybeClose (internal/child_process.js:1058:16)
    at Socket.<anonymous> (internal/child_process.js:443:11)
    at Socket

[2022-10-23 11:47] digitalsleuth commented on #578
It looks like this is an issue with importlib_metadata. I'll look to see if I can duplicate then resolve this issue.

[2022-10-25 19:01] opzesty opened #579 "[CLI] sift-cli installer broken due to python dependency changes"
Not sure if this should be under CLI or the main project....however

[SIFTSaltStack.log](https://github.com/teamdfir/sift/files/9863192/SIFTSaltStack.log)

Per the above SaltStack log, SIFT version v2022.01.22 breaks when attempting to run python utilizing the `importlib-metadata` library.

The latest version of this library appears to change its previous return type (was a dict, now is a list), w

[2022-10-25 19:13] digitalsleuth commented on #579
Hi @opzesty , we are tracking this issue. Can you tell me what OS you're attempting to install on, and the current version of Python it's running?

[2022-10-25 19:16] opzesty commented on #579
Of course!

OS: Ubuntu 20.04 Focal Fossa
Python: 3.8.10

[2022-10-25 19:39] digitalsleuth commented on #579
Could you try running the following and see if this works:

`sudo python3 -m pip install importlib-metadata==4.13.0`

Then try running the installer.

[2022-10-25 21:30] opzesty commented on #579
running:
`$ sudo pip install -Iv 'importlib-metadata<5.0.0'`
(which I believe does the same thing)

then running the installer works

[2022-10-26 02:53] varunkrs33 commented on #578
Sift CLI  - 1.14 and the python version is python 2.7 so do i need to update it to Python3 -V and try installing it ?

[2022-10-26 16:49] opzesty commented on #579
checked and running

`sudo python3 -m pip install importlib-metadata==4.13.0`

does allow SIFT to install.

[2022-10-26 16:56] digitalsleuth commented on #579
Hi @opzesty , you're correct, your command would work as well, I just wanted to make sure importlib-metadata was pinned to a confirmed working version, but anything under 5 is acceptable anyways.
Glad to hear you got this working. I'll see if I can come up with a way to prevent this issue in the future, but I know the SaltStack team is also working on it.

Cheers!

[2022-10-26 20:36] AndreVanM opened #580 "vss_carver"
Does anybody know the steps you need to take to install and configure vss_carver on the standard SIFT instance. vss_carver is installed on the FOR508. Please advice.

[2022-10-26 20:42] digitalsleuth commented on #580
Hi @AndreVanM , you can take a look [here](https://github.com/mnrkbys/vss_carver) for details. I'll take a look to see if it's something we can install in SIFT.

[2022-10-27 06:15] AndreVanM commented on #580
Appreciate it if you take a look to install it in SIFT. Would be a great addition.

[2022-11-01 06:17] varunkrs33 commented on #578
Hi @digitalsleuth
Now I tried it is working thanks
Cheers!

[2022-11-01 06:17] #578 closed

[2022-11-04 11:55] Cybertest06 opened #581 "[SALTSTACK] -Unable to install sift"
Getting error as below
sudo sift install

Installing and configuring SaltStack properly ...

Command failed: wget -O - https://repo.saltproject.io/py3/ubuntu/20.04/amd64/3001/salt-archive-keyring.gpg | apt-key add -
--2022-11-04 17:24:11--  https://repo.saltproject.io/py3/ubuntu/20.04/amd64/3001/salt-archive-keyring.gpg
Resolving repo.saltproject.io (repo.saltproject.io)... 52.84.45.4, 52.84.45.10

[2022-11-07 22:10] pshef commented on #578
I'm getting the same error while trying to install on a REMnux box (using `sudo sift install --mode=packages-only`) and if I'm reading my [saltstack.log](https://github.com/teamdfir/sift/files/9955860/saltstack.log) correctly it's also an issue with importlib-metadata, however when I run `sudo python3 -m pip install importlib-metadata<=5.0.0` I get the following response:
[code]

I'm on an Ubuntu

[2022-11-07 22:36] digitalsleuth commented on #578
Hi @pshef , the command is actually `sudo python3 -m pip install importlib_metadata<5.0.0`

Make note of the underscore, and ensure there is no = sign either. That should fix the issue for you.

[2022-11-08 15:43] pshef commented on #578
`sudo python3 -m pip install "importlib-metadata<5.0.0"` is what ended up working. Thank you so much!

[2022-11-15 09:11] kchew888 opened #582 "[CLI] Spotted some error during installation"
Hi, I am using the latest cli package to perform installation on Ubuntu 20.04 focal and spotted some errors captured in saltstack.log. However, the installation is able to complete with message of ">> COMPLETED SUCCESSFULLY -- Success: 664, Failure: 0".

I am not sure if the installation is completed without any issue. Appreciate any advise. Thanks!

[code]

[code]

[code]

[2022-11-16 07:08] chris200712 opened #583 "WSL SIFT Ubuntu 20.04"
The first problem I faced during installations is SIFT would fail to write to the Windows 10 Desktop.

The second problem I am facing Warning: apt-key output should not be parsed (stdout is not a terminal)
gpg: no valid OpenPGP data found.

Saltstack.log is attached
[saltstack.log](https://github.com/teamdfir/sift/files/10018945/saltstack.log)

[2022-11-16 07:11] chris200712 commented on #583
I am trying to install the Windows version of SIFT on WSL Ubuntu 18.04.

Windows 10 Pro. 20H2 build 19042.2251

[2022-11-17 03:41] digitalsleuth commented on #583
Hi @chris200712 , SIFT no longer supports 18.04, but is supporting 20.04. You should be able to successfully install SIFT in WSL using 20.04 without a problem.

[2022-11-17 11:41] chris200712 commented on #583
I tried 20.04 and it fails at the very end when trying to copy over the sans posters

Sent from my iPhone

[2022-11-17 13:36] chris200712 commented on #583
Yes.  Here you are.
[saltstack.log](https://github.com/teamdfir/sift/files/10032005/saltstack.log)

[2022-11-17 13:44] chris200712 commented on #583
Also getting this error when trying to update

Warning: apt-key output should not be parsed (stdout is not a terminal)
gpg: no valid OpenPGP data found.

forensics@DESKTOP-TION3KE:~$ sudo sift update
[sudo] password for forensics:

Installing and configuring SaltStack properly ...

[2022-11-17 13:45] chris200712 commented on #583
forensics@DESKTOP-TION3KE:~$ ls -lah /usr/local/bin/sift
-rwxrwxrwx 1 root root 58M Nov 16 07:25 /usr/local/bin/sift

[2022-11-17 14:00] chris200712 commented on #583
I will upload it soon.  Thank you.

[2022-11-17 15:12] chris200712 commented on #583
This is a brand-new install of Ubuntu 20.04

sudo sift install

[2022-11-17 15:12] chris200712 commented on #583
-rwxr-xr-x 1 forensics forensics 56M Jan 19  2022 /usr/local/bin/sift
forensics@DESKTOP-TION3KE:/var/cache/sift/cli/v2022.01.22$

[2022-11-17 19:49] digitalsleuth commented on #583
Hi @chris200712 , for this particular install (20.04), the errors you're getting are related to the inability to setup a desktop-style environment. When installing SIFT in WSL, use the command `sudo sift install --mode server` and you should have better luck.

[2022-11-18 04:07] chris200712 commented on #583
So one cannot mimic the VM produced in the FOR508 class?

Are there any work arounds?

Sent from my iPhone

[2022-11-18 13:52] ekristen commented on #583
You can't mimic using WSL2. If you use VMware you can. With WSL2 the closest you can get is installing the packages, but there is no UI.

[2022-11-18 17:52] chris200712 commented on #583
Could you provide the instructions to replicate the Windows SIFT in VMware

Sent from my iPhone

[2022-11-18 18:18] ekristen commented on #583
Windows SIFT is entirely different and not supported by this project. This is the Linux SIFT.

[2022-11-20 01:02] digitalsleuth commented on #583
Hi @chris200712, you might want to take a look at Win-FOR to create your own Windows-based VM, which would contain some of the same Windows tools as the Windows-based SIFT. I'm in the midst of organizing the desktop icon layout (using Nimi Places) or another method. Hopefully this might help, but otherwise @ekristen is right, there is no generating the GUI for the Linux SIFT in WSL.

[2022-11-20 06:46] chris200712 commented on #583
Just wondering if it is a permission related issue writing from WSL to Windows? Makes me think how was it generated for the SANS course FOR508 and even GREM. Maybe on a dedicated machine perhaps and custom configuration on the Windows environment.

I noticed the only thing that is different between th installation of SIFT on Windows is Zimmerman tools are added to the env

Sent from my iPhone

[2022-11-20 13:47] digitalsleuth commented on #583
@chris200712 Did you have an issue writing to the host machine when you tried installing SIFT in 20.04 using the `--mode=server`?

I've been re-reading everything you've posted and you've only once indicated an error while using 18.04, but didn't provide any feedback from using the `server` install mode.

I've been using the SIFT CLI in WSL2 since WSL2 came out with no major issues, and any minor

[2022-11-20 15:39] chris200712 commented on #583
Thank you all.  I have successfully installed --mode=server.  I am now testing the WIN-FOR installer at this time
    On Sunday, November 20, 2022 at 02:47:44 PM GMT+1, Digital Sleuth ***@***.***> wrote:

@chris200712 Did you have an issue writing to the host machine when you tried installing SIFT in 20.04 using the --mode=server?

I've been re-reading everything you've posted and you've only once

[2022-11-21 08:47] 0xfaller opened #584 "[CLI] Saltstack error 'EntryPoints' object has no attribute 'items' while running sift update"
Hi,

I am on the latest release of SIFT desktop (v2022.01.22). While running the update feature I do get an error (apt-get autoremove) did not fix the issue. Any knowledge what is causing the error?

Saltstack log is attached.

p.s. I am trying to fix an issue where the desktop background image did not change to SIFT image even when the initial install was successful.

Ubuntu release information:

[2022-11-21 12:27] digitalsleuth commented on #584
Hi @0xfaller , the issue lies with the latest version of Salt and one of the dependencies which was upgraded. To resolve the issue, you can run:
`sudo python3 -m pip install "importlib-metadata<5.0.0"`

Let me know how that goes!

[2022-11-21 14:01] #584 closed

[2022-11-22 17:17] jeremyng123 commented on #581
Found that the solution was already mentioned in another issue: #579