[2020-03-20 02:13] brendancarey33 commented on #449
@ekristen Copy, thanks!

[2020-03-20 11:30] tamisuraca opened #451 "SIFT"
I downloaded and installed the SIFT Workstation from your website at  https://digital-forensics.sans.org/community/downloads.  When I launched it, it doesn't contain the open-source incident response and tools.  Please advise.  Thank you.

[2020-03-22 02:38] brendancarey33 commented on #451
Can you expand on what is missing?
Please do a 'sudo sift version'

[2020-03-22 04:09] #450 closed

[2020-03-22 04:10] ekristen commented on #449
try -- https://github.com/teamdfir/sift-cli/releases/tag/v1.8.4

[2020-03-22 21:16] brendancarey33 commented on #449
$ sudo sift upgrade
sift-cli@1.8.4
sift-version: v2018.16.0

downloading v2020.2.1
downloading sift-saltstack-v2020.2.1.tar.gz.asc
downloading sift-saltstack-v2020.2.1.tar.gz.sha256
downloading sift-saltstack-v2020.2.1.tar.gz.sha256.asc
downloading sift-saltstack-v2020.2.1.tar.gz
validating file sift-saltstack-v2020.2.1.tar.gz
validating signature for sift-saltstack-v2020.2.1.tar.gz.sha256
extract

[2020-03-22 23:06] ekristen commented on #449
Try adding —mode=desktop

[2020-03-22 23:47] brendancarey33 commented on #449
Same errors/outputs.

I also tried manually installing the specific version as per the help, but it just returns the usage page.

[2020-03-23 14:04] ekristen commented on #449
I found the bug.

[2020-03-23 14:07] ekristen commented on #449
https://github.com/teamdfir/sift-cli/releases/tag/v1.8.5

[2020-03-23 17:29] brendancarey33 commented on #449
Possible progress. Updated using sift upgrade --mode=desktop. A large number of updates appeared to run, even received new posters. Ended with the error below. May have updated, but "sift version" does not indicate it.

Event error:
Running: sift-config-tools
Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js

[2020-03-23 17:58] ekristen commented on #449
@brendancarey33 honestly the scenario of 16.04 -> 18.04 hasn't been tested. It looks like there are just a lot of general failures to upgrade packages, this could be for a number of reasons outside the control of me and SIFT and the tooling.

I would start by running apt-get update && apt-get upgrade manually and make sure apt is healthy and happy and everything is up-to-date. After that you can t

[2020-03-23 18:01] brendancarey33 commented on #449
@ekristen Copy. I did notice when I ran apt-get update//upgrade a lot of things did update. Hopefully, I can help figure it out. Let me know if you'd still like bug reports pertaining to this, otherwise, I can keep awaiting new CLI updates and see if something clicks later on.

[2020-03-23 19:43] dwmetz opened #452 "during install /usr/local/bin/sift: ELF : not found"
I'm working on a new SIFT project and wondered if you ever saw the issue of :

/usr/local/bin/sift: 1: /usr/local/bin/sift: ELF : not found
/usr/local/bin/sift: 2: /usr/local/bin/sift: Syntax error: "(" unexpected

when running the installer.

OS = Ubuntu 18.04.4 LTS (GNU/Linux 5.3.0-1019-raspi2 aarch64)

results in the following in /usr/local/bin

''$'\001'','$'\353\216''@S'$'\226\002''@8'   sift

[2020-03-23 21:34] tamisuraca commented on #451
I tried sudo sift version and not found.

I chose option #1 SIFT VM Appliance Download at https://digital-forensics.sans.org/community/downloads.  I did not install Ubuntu in option #2. 

I've attached a screenshot of what it looks like, sudo sift version not found, and empty cases folder.  The other file is a screenshot of the SIFT workstation from the SANS course I took.  As you can see, there i

[2020-03-23 22:02] ekristen commented on #452
amd64 is the only architecture supported at this time.

[2020-03-23 22:02] #452 closed

[2020-03-23 22:06] ekristen commented on #451
The SIFT Workstation from the website is just a VM with all the core tools installed. It does not come with any case data as that's course provided data.

Many course authors opt to take the "community" edition, which is what you download from the website, and modify for their specific course by adding in additional tooling, or changing the desktop icons like you have shown in the second screensho

[2020-03-23 22:06] #451 closed

[2020-04-01 12:49] Fetchered commented on #429
Figured out what the problem actually was for this. The .dbus directory at /home/red was owned by root:root. I did a `sudo chown red:red /home/red/.dbus` and re-ran `sudo sift update` and it completed without error.
Wanted to make sure it was documented in case this error pops up again.

[2020-04-01 12:53] Fetchered commented on #449
@ekristen @brendancarey33 I came across the error that's listed in the saltstack yesterday, and it came about because I already had rekall installed. I did a pip uninstall rekall -y, then rm /usr/local/bin/rek* then sudo sift upgrade and there was no issue.
The issue listed in the saltstack log said it was unable to create the symlink for rekall, likely because the binaries already existed in the

[2020-04-01 22:42] brendancarey33 commented on #449
@Fetchered I tried that, got reminded I didn't have it installed. However, looked like a possible issue with lvm2, force uninstalled and attempted to sift upgrade. It ran through and ended with the _exit code error_ previously identified. I'm starting to wonder if it IS in fact upgraded, but the CLI output is not upgrading due to a cache issue. Thanks for the tip, I think your on to something.

[2020-04-01 23:12] Fetchered commented on #449
The /etc/sift* files are what tracks the "installation" part of it. Another thought might be to rename them to ".old", fix the rekall binaries (above) and then do a sudo sift install.

[2020-04-02 00:52] brendancarey33 commented on #449
Thanks for all the help, but I think its deep somewhere and not likely identified. I downgraded to 1.8.5 (I was not getting this on a working 1.8.6 master by @ekristen) I got a stop on "sift-config-tools" so I tried your rekall technique but no go. see below. I think its just not going to work from an upgrade from 16.04.

Update returned exit code not zero
Error: Update returned exit code not zero

[2020-04-02 01:42] Fetchered commented on #449
If you take a look in the saltstack.log file and do a search for 'result: false' (not the space between the colon and false), you'll see where the failure is. You might see it three or four times, likely all centered around rekall or python.
It is possible to upgrade from 16.04, I've done it before, it just takes a little finessing at times. If you want to submit your saltstack.log from this go 'r

[2020-04-02 01:47] ekristen commented on #449
Thanks @Fetchered for helping out! I definitely need the saltstack.log to pinpoint what's failing.

[2020-04-02 02:37] brendancarey33 commented on #449
@ekristen @Fetchered I should clarify, I am unsure of the challenges of upgrading with a cuckoo user/sandbox setup. too many variables between them I think. However, please see my saltlog below.
[saltstack.log](https://github.com/teamdfir/sift/files/4418619/saltstack.log)

[2020-04-02 15:10] klscomputing opened #453 "SIFT Not Installing"
I'm having similar issues on two laptops. Both windows 10 and both just had the linux subsystem and ubuntu 18.04 installed.  Let's start with one.
 ......

I've tried the apt-get update and apt-get autoremove and there was nothing to do.
Also rebooted, redownloaded and tried again.

Any other help?
[saltstack.log](https://github.com/teamdfir/sift/files/4421874/saltstack.log)

[2020-04-02 15:46] ekristen commented on #453
How are you installing?
If using the cli, what's the command you are running?
If using the cli, what version of the cli are you using?

[2020-04-02 16:12] klscomputing commented on #453
the command is  sift install

at least that was the first one, which failed and then after doing the apt-get etc., etc., I tried sift install and sift update

The version was downloaded from github today  ... is

Thank you for your assistance

[2020-04-02 16:13] ekristen commented on #453
run with `--mode=server` -- desktop won't work with windows subsystem, it's not actually a desktop.

[2020-04-02 16:17] klscomputing commented on #453
OK... it says sift is already installed and won't install. I don't see an uninstall option? how do you switch to server?

[2020-04-02 16:19] ekristen commented on #453
Try `sift upgrade --mode=server`

[2020-04-02 16:21] klscomputing commented on #453
sift upgrade --mode=server

No upgrades available

[2020-04-02 16:52] Kojuda commented on #453
I have exactly the same problem. I'm under a fresh Ubuntu 18.04 with Vbox. I have used the latest release 1.8.5 with the curl command and install sift.

The bug has happened exactly at the same moment as the author (sift-config-tools). So I've tried with --mode=server and the bug has appeared at another time :

`

Update returned exit code not zero
Error: Update returned exit code not zero
    at

[2020-04-02 17:48] klscomputing commented on #453
On a different system, I also had just installed the windows subsystem for linux, and then install ubuntu 18.04

after downloading sift and running
sift install --mode=server
it gets to

______________________

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:529:23)
    at ChildProcess.emit (events.js:196:

[2020-04-02 17:51] ekristen commented on #453
Windows 10 Linux Subsystem is not the same as VirtualBox.

Windows 10 Linux Subsystem installs Ubuntu 18.04 Server (not desktop)

VirtualBox you can install any version you want.

---

@klscomputing `/etc/sift-version` can be removed and then just run the install command again but with `--mode=server`

@Kojuda I would need the saltstack.log file to be able to troubleshoot.

---

@klscomputing your

[2020-04-02 18:04] klscomputing commented on #453
for computer 1 ... (original issue) removing /etc/sift-version and reinstalling worked.

root@siftworkstation:/#

for computer 2 .... trying again worked....

Thank you very much for all your help! Stay safe and have a great day.

[2020-04-02 18:04] #453 closed

[2020-04-02 18:21] Kojuda commented on #453
At the base, I've always installed with desktop mode, so the problem is not here.

I am not used to produce this log, if you can give me a link saying how I can produce it for you, it would be nice !

[2020-04-02 19:13] Kojuda opened #454 "SIFT not installing"
I have tried to install sift with the latest release 1.8.5 through the curl command on a fresh Ubuntu 18.04 VM.

So I run :

`
sudo sift install --mode=desktop
`

I got

`

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:529:23)
    at ChildProcess.emit (events.js:196:13)
    at maybeClose (internal/child_

[2020-04-02 21:31] ekristen commented on #454
Looks like requests to get certain files are getting blocked and resulting in failure

[code]

[2020-04-02 22:33] Kojuda commented on #454
Thank you, so it's really my antivirus ? I'll try to run without it

[2020-04-02 22:51] Kojuda commented on #454
Hit by the most common error. Next, my first will be [Ctrl F] + "antivirus" in the log file.

Thank you very much for troubleshooting !

[2020-04-02 22:51] #454 closed

[2020-04-06 19:25] McFlip opened #455 "WSL Ubuntu 18.04 install"
I tried installing the latest release in a fresh instance of Ubuntu 18.04 in Windows Subsystem for Linux. I initially tried installing in server mode but I also tried desktop mode and the pre-release.
[code]
[saltstack.log](https://github.com/teamdfir/sift/files/4440429/saltstack.log)

[2020-04-08 09:35] Elio67 opened #456 "Issue Mounting Disk Image"
Hi, I started to mount the image copied into ewf_mount folder but it doesn't show me the NTFS partition system.
![image](https://user-images.githubusercontent.com/60920985/78768948-8e674d00-7984-11ea-81c6-81a8acec74b4.png)
Is there anyone can help me, please?

[2020-04-08 09:49] tobiashahn opened #457 "[CLI] Initial installation fails with "getaddrinfo ENOTFOUND api.github.com""
I'm trying to install sift on a freshly installed ubuntu 16.04 system. I am behind a proxy, and have set the proxy in the following places:
- Environment variables: http_proxy, https_proxy, HTTP_PROXY, HTTPS_PROXY
- proxy_host & proxy_port in /etc/salt/minion as mentioned in [issue #236](https://github.com/teamdfir/sift/issues/236).

The installation fails with `getaddrinfo ENOTFOUND api.github.co

[2020-04-08 09:50] Elio67 commented on #456
I tried to carry on, but there is another issue:
![image](https://user-images.githubusercontent.com/60920985/78770648-c40d3580-7986-11ea-8139-ddc277cd9752.png)

[2020-04-08 11:08] tobiashahn commented on #457
Same issue is present on a freshly installed ubuntu 18.04 system.

[2020-04-08 14:57] ekristen commented on #457
Unfortunately that's a DNS error. I assume you tried multiple times? ENOTFOUND means it was unable to do a DNS lookup on that hostname.

[2020-04-08 14:58] ekristen commented on #456
hi @Elio67 this is not the best place for support with the tools, this is more for the installation and management of the VM itself.  Have you tried any of the DFIR community slack servers or DFIR mailing lists?

[2020-04-08 15:00] ekristen commented on #455
desktop mode won't work, pre-release is only going to work if there's a pre-release to install.

server mode is the only mode that'll work with WSL2.

It looks like there was a problem installing the powershell deb?

[code]

[2020-04-08 15:40] Elio67 commented on #456
Yes, I have, but no answer yet.
Thank you anyway

[2020-04-09 06:51] tobiashahn commented on #457
I tried multiple times, the error is persistent. Resolving the same URL over wget/curl immediately after the failed installation does work.

Since I'm behind a proxy, I assume that the proxy settings are not being passed to node?

[2020-04-09 07:29] PhV-80 opened #458 "[CLI] can't install SIFT 1.8.4 on Ubuntu 18.04"
Hy there,
i'm trying to install SIFT, since yesterday.

 sift install

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:529:23)
    at ChildProcess.emit (events.js:196:13)
    at maybeClose (internal/child_process.js:1011:16)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:268:5)

----

[2020-04-09 07:40] PhV-80 commented on #458
[saltstack.log](https://github.com/teamdfir/sift/files/4454702/saltstack.log)

[2020-04-09 11:44] #458 closed

[2020-04-09 17:23] McFlip commented on #455
Thanks for the reply. McAfee host intrusion prevention tripped on the powershell dll and blocked dpkg. I didn't think that HIPS on the Windows Host would block something in the Linux machine, but I'm on an enterprise system that only has WSL1. So it's not using virtualization.

For anyone else in the same boat here was my workaround:

1. On a machine without McAfee, installed WSL and set up an Ubu

[2020-04-09 17:23] #455 closed

[2020-04-14 19:22] #208 closed

[2020-04-17 02:46] digitalsleuth commented on #456
Hi @Elio67 , if you're still having this issue, it is likely because an offset is required for the command to succeed. For example, I've duplicated the issue using an E01 provided from the NIST CFReDS Forensic Image examples (https://www.cfreds.nist.gov/data_leakage_case/data-leakage-case.html - RM#1).

When mounting the E01 with ewfmount, all you need is to supply the command, image name, and mou

[2020-04-17 08:21] runningyogi opened #459 "CLI - Issue with Installing on Ubuntu 19.10"
I tried to install the work station on Ubuntu 19.10 this is the error:

sift install

invalid OS, unable to determine ubuntu version
Error: invalid OS, unable to determine ubuntu version
    at validOS (/snapshot/sift-cli/sift-cli.js:160:11)
    at run (/snapshot/sift-cli/sift-cli.js:640:9)
    at main (/snapshot/sift-cli/sift-cli.js:745:11)
    at Object.<anonymous> (/snapshot/sift-cli/sift-cli.j

[2020-04-17 13:27] ekristen commented on #459
19.10 is not supported. 20.04 will be the next after it’s released and we have time to build out support for it.

Sent from my iPhone

[2020-04-17 22:13] chootbl commented on #447
@Fetchered Thanks. I spend hours to solve this issue. Glad to stumbled over this thread. I am new to Linux. Where do I get a "new" Base.pm, File.pm and Key.pm file than I can place in the folders as described above? Thank you for your help

[2020-04-17 22:29] digitalsleuth commented on #447
@chootbl You can find the files [here.](https://github.com/keydet89/RegRipper2.8) This is Harlan Carvey's GitHub, developer of the tool.

Cheers! (digitalsleuth, formerly Fetchered)

[2020-04-17 23:09] chootbl commented on #447
@digitalsleuth Thanks DS... you saved me a nightshift! Thank you so much. I really spend hours trying to fix it. With your help, RegRipper now parses the timestamp correct.

[2020-04-17 23:41] digitalsleuth commented on #447
Anytime. Cheers!

[2020-04-18 05:54] #416 closed

[2020-04-18 13:24] Kargin opened #460 "[CLI] Update returned exit code not zero after "Running: sift-config" during sift install"
Hello!
I'm trying to install latest version of SIFT WS (v2020.2.1).
Trying to execute command `sudo sift install` on VM Ubuntu 18.04 (minimal installation) using Virtual Box 6.1.6 on Ubuntu 18.04 (host).
Before executing `sudo sift install` did apt-get upgrade.
Set `python3.6` as default for `python` using `update-alternatives --install`.

Always get next error:
[code]
Output of `sift version` aft

[2020-04-18 13:24] Kargin commented on #460
[saltstack.log](https://github.com/teamdfir/sift/files/4496682/saltstack.log)

[2020-04-21 09:38] mwrunner commented on #460
I get the same "exit code not zero" error while installing SIFT on a Ubuntu 18.04 LTS (In Win10 downloaded from Microsoft store), have tried apt-get update apt-get upgrade and autoremove but no differences. Even tried uninstalling Ubuntu and reinstalling.

[2020-04-22 11:53] davidep opened #461 "volatility running on python3 - Ubuntu 18.04"
On Ubuntu 18.04 I found that with the latest saltstack (2020.2.1) and sift cli (1.8.5)

the script to run volatility: _/usr/local/bin/vol.py_ was pointing to _/usr/bin/python3_ instead of _python2.7_

The issue was verified on a vanilla Ubuntu 18.04

Below the error I was getting after executing _vol.py_

I fixed the issue by changing the static reference back to python2 in the first line of _vol.

[2020-04-23 05:05] #436 closed

[2020-04-23 09:52] tobiashahn commented on #457
Any ideas what could be the cause here? Any pointers for additional debugging from my side?

[2020-04-23 14:54] MMULLINIX1 commented on #459
Eric, is 18.04 still supported with the Manual Install?

[2020-04-23 16:39] ekristen commented on #457
Unfortunately this indicates a networking problem on the VM, host, or network. Proxy settings are passed through to node, but that error generally means DNS, but something else could be going on.

How are the proxy settings being passed?

[2020-04-23 20:08] tobiashahn commented on #457
I put the proxy information in the following places:

- Environment variables: http_proxy, https_proxy, HTTP_PROXY, HTTPS_PROXY
- proxy_host & proxy_port in /etc/salt/minion as mentioned in issue #236.

`wget api.github.com` from the same console where the error is shown works, immediately after the error from node. Proxy does not need a user, the source network is white listed on the proxy for co

[2020-04-23 21:17] ekristen commented on #457
That error specifically points to DNS. Proxy isn't specifically designed for or tested but many have had success. I understand other tooling works, but they also operate in a much different fashion.

Is there any specific restrictions on DNS? Are you IPV6 only? IPv4? etc ..

[2020-04-27 14:46] ekristen commented on #461
@davidep thanks for the report. I can take a look into this later. However we are simply installing pip module that volatility publishes. It's possible that the install somehow was run by python3 vs python2 on your system, or we need to make a change to force python2 to be used.

[2020-04-27 16:13] davidep commented on #461
You are right @ekristen
I now tried to install sift 1.8.5 with the latest saltstack on a clean Ubuntu 18.04 and the _vol.py_ was installed correctly pointing to `#!/usr/bin/python `   (python 2.7)

Wondering if the issue could have been caused by some of the older SIFT updates... I recall there was lot of playing around python2 and python3 some month ago.

[2020-04-27 16:27] ekristen commented on #461
It is possible. This whole py2 to py3 is a mess.

[2020-04-28 14:54] davidep commented on #461
indeed :)

wondering if Ubuntu 20.04 and Volatility3 support is progressing well... happy to help there if needed.

[2020-04-29 08:03] neopaladin commented on #460
Same issue on a fresh install of Ubuntu 18.04 LTS in VM.

[2020-04-29 13:09] ALinn73 commented on #460
What I get in the logs is:

    __id__: rekall-virtualenv
    __run_num__: 249
    __sls__: sift.python-packages.rekall
    changes: {}
    comment: 'virtualenv exists

      Requirement already satisfied: pip in /opt/rekall/lib/python2.7/site-packages
      (20.1)

      Requirement already satisfied: setuptools in /opt/rekall/lib/python2.7/site-packages
      (45.0.0)

      DEPRECATION: Python

[2020-05-01 12:13] NomisRenarc commented on #460
same issue here with exit code zero, tried three fresh installs, even different sift versions and no luck.

[2020-05-04 02:20] jeff-in-RTP opened #462 "Unable to import the SIFT-Workstation.ovf"
I've been trying to import the ovf file all weekend with multiple downloads and with both VM Fusion and Virtual Box. I've verified the md5 and it is correct. I am running the latest version of both applications and version 10.14.6 of macOS.

From Fusion

![screenshot_174](https://user-images.githubusercontent.com/10101192/80931989-3f49e780-8d8b-11ea-87c6-54f48e8479d6.jpg)

From Virtual Box

![scre

[2020-05-05 13:07] haloforensics opened #463 "Install Error - Win 10 WSL"
I'm trying to install SIFT on Win 10 WSL Ubuntu 18.04, but am receiving the following error in during the installation:

  virtualenv_|-rekall-virtualenv_|-/opt/rekall_|-managed:
    __run_num__: 249
    __sls__: sift.python-packages.rekall
    changes: {}
    comment: 'One or more requisite failed: sift.packages.python-virtualenv.python-virtualenv'
    duration: 0.388
    result: false
    start_

[2020-05-05 18:03] ekristen commented on #463
Looks like we might be back to having rekall issues again. I'll look into it.

[2020-05-05 18:26] ekristen commented on #463
Rekall installed fine in isolation, I'll have to do a larger set of testing later.

[2020-05-06 15:46] #422 closed

[2020-05-06 19:46] #427 closed

[2020-05-09 02:34] #420 closed

[2020-05-09 17:22] jianni20 commented on #460
+1
Fresh 18.04.4 LTS install
[code]

[2020-05-10 18:53] MMULLINIX1 commented on #460
Has there been a fix yet? I am having the same problem.

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:529:23)
    at ChildProcess.emit (events.js:196:13)
    at maybeClose (internal/child_process.js:1011:16)
    at Socket.<anonymous> (internal/child_process.js:416:11)
    at Socket.emit (events.js:196:1

[2020-05-10 23:17] onfvp commented on #460
Experiencing the same issue - I've tried upgrading python, fresh installs on Ubuntu 16.04 and 18.04, and different variations of the SIFT CLI install (including different versions, server mode vs user mode...etc.)

[2020-05-10 23:52] ekristen commented on #460
All my builds are currently passing, I’ll need you all to look at your salt stack log and look for result equal to false and let me know what’s failing.

I suspect there’s a bunch of python conflicts due to the depreciation of 2.7 and I’m not sure how to resolve them all for everyone but I’ll do my best to help.

Sent from my iPhone

[2020-05-11 00:04] onfvp commented on #460
@ekristen Thanks for the quick response!

    __run_num__: 564
    __sls__: sift.desktop
    changes: {}
    comment: 'One or more requisite failed: sift.server.sift-server-version-file'
    duration: 0.014
    result: false
    start_time: '06:46:39.281962'

That's one of the results for my `result: false` search. The other files with the same error are:
- pkg_|-plaso-tools_|-plaso-tools_|-latest

[2020-05-11 08:31] MMULLINIX1 commented on #460
@ekristen I tried to reinstall saltstack and python. Attacked is my log.
[saltstack.log](https://github.com/teamdfir/sift/files/4608418/saltstack.log)

[2020-05-11 10:08] NomisRenarc commented on #460
Thanks for the response, based on my retried saltstack log, please note the below (This still happens on fresh build or reattempted build):

start_time: '11:01:22.035429'
  file_|-sift-server-version-file_|-/etc/sift-version_|-managed:
    __run_num__: 462
    __sls__: sift.server
    changes: {}
    comment: 'One or more requisite failed: sift.packages.sift-packages'
    duration: 0.047
    resul

[2020-05-11 10:21] Kargin commented on #460
false results from my saltstack.log:

`
    start_time: '13:19:03.381799'
  file_|-sift-desktop-version-file_|-/etc/sift-version_|-managed:
    __run_num__: 564
    __sls__: sift.desktop
    changes: {}
    comment: 'One or more requisite failed: sift.server.sift-server-version-file'
    duration: 0.029
    result: false

start_time: '13:19:02.601351'
  file_|-sift-server-version-file_|-/etc/sift-

[2020-05-12 00:48] fredski-github opened #464 "sift install stops - AWS ubuntu 18.04"
It is stopping during sift-config-tool. the log stops at the rekall package.

`apt-get update` and `apt-get upgrade` are both clean.

***AMI***
ubuntu/images/hvm-ssd/ubuntu-bionic-18.04-amd64-server-20200408 (ami-085925f297f89fce1)

***LOG FILE***
ubuntu@siftworkstation: ~
$ tail /var/cache/sift/cli/v2020.2.1/saltstack.log
  virtualenv_|-rekall-virtualenv_|-/opt/rekall_|-managed:
    __id__: rekal

[2020-05-12 14:03] fredski-github opened #465 "OVA import issues on AWS"
the current OVA from https://digital-forensics.sans.org/community/download-sift-kit/3.0 imports fine on Mac OS X Fusion (it is Ubuntu 18.04.4) but fails on AWS. Tried us-east-1 and us-east-2.

{
    "ImportImageTasks": [
        {
            "Description": "SIFT Workstation OVA - Mon May 11 21:27:49 EDT 2020",
            "ImportTaskId": "import-ami-0000000000000",
            "SnapshotDetails":

[2020-05-12 22:04] ekristen commented on #465
This is not a scenario we test or support. We are working on official AMI builds, they are not officially launched, but if you'd like to test the latest build `ami-0e18b3270d2ce667d` (us-west-2)

[2020-05-12 22:04] #465 closed

[2020-05-17 02:35] digitalsleuth commented on #464
@fredski-github Any chance you could post or upload your full saltstack.log? Unfortunately sometimes the errors are not at the bottom of the log, but further up. You can find the sections which have caused errors by searching for 'result: false' as well.

[2020-05-17 02:40] digitalsleuth commented on #463
The log shows several failures in the installation. However, usually (from what I've seen) the 'rekall symlink' fails only because rekall already exists on the system. One temporary way around this is to do the following: `pip uninstall rekall -y && rm /usr/local/bin/rek*`
This will remove your existing rekall installation and should allow you to continue.

That being said, the remainder of the is

[2020-05-17 02:47] digitalsleuth commented on #462
@jeff-in-RTP There's a good chance that the OVF you're using is likely out of date anyways. However, if you're interested in quickly building your own VM, just spin up a basic, minimal Ubuntu 18.04.4 Desktop VM, run:
 `sudo apt update && sudo apt upgrade -y && sudo apt install open-vm-tools-desktop git curl`

After that, follow the steps at [https://github.com/teamdfir/sift-cli/releases/tag/v1.8.5

[2020-05-17 04:00] digitalsleuth commented on #460
@Kargin Part of the reason your install failed was because appcompatprocessor has to be installed with python2's pip, not python3. Unfortunately, the state currently (specifically) chooses /usr/bin/pip to install appcompat, but yours was a python3 pip.
There are a couple of ways around this, the quickest of which would be to change your pip using update-alternatives again to python2, install, then

[2020-05-17 13:36] Kargin commented on #460
@digitalsleuth Hello! Thank you very much for your suggestion, it really helped!!!
I finally managed to successfully install SIFT workstation from clean Ubuntu 18.04 install (fully updated).
Sharing my path.

`apt install git`

Tried manually install `appcompatprocessor`:
[code]

Set python2.7 as default, because when python3.7 was default I've got the same appcompatprocessor installation error (e

[2020-05-17 13:44] ekristen commented on #460
That's great news.  I would recommending avoiding `snaps` as much as possible, they've got problems.

Your note with python aligns with other observations, this is going to be a problem for a while, but we are trying to work through it, likely we are going to have to make note of all scripts that require python2 and explicitly set them to use python 2 vs 3 just in case 3 is default.

I've been not

[2020-05-17 16:55] MMULLINIX1 commented on #460
I was able to install SIFT on manual build thanks to @Kargin. I really appreciate you finding it!

[2020-05-17 18:31] digitalsleuth commented on #460
@Kargin Glad I could help!

[2020-05-18 07:47] ALinn73 commented on #460
Thanks.  The solution for pdftk seemed to resolve this (although I had installed some things such as ewflib manually since I needed them).

[2020-05-18 20:20] fredski-github commented on #464
sure. i searched for you the entries matching 'result: false' and found four (4):

file_|-sift-server-version-file_|-/etc/sift-version_|-managed:
    __run_num__: 461
    __sls__: sift.server
    changes: {}
    comment: 'One or more requisite failed: sift.packages.sift-packages'
    duration: 0.015
    result: false
    start_time: '14:24:46.581580'

  pkg_|-sift-package-pdftk_|-pdftk_|-installed

[2020-05-19 15:08] digitalsleuth commented on #464
@fredski-github Unfortunately this issue indicated in your saltstack.log is a result of pdftk now missing from the malteworld repo. You can try the following to remedy pdftk, then try the install again:
`wget http://mirrors.edge.kernel.org/ubuntu/pool/universe/p/pdftk-java/pdftk-java_3.0.2-2_all.deb && sudo dpkg -i pdftk-java_3.0.2-2_all.deb`
Then, you should be able to do your sift install withou

[2020-05-20 15:39] NomisRenarc commented on #460
Hi all,

been trying to rip this apart. on another install default python to python3 and still same pdftk error (no fixes for it worked), even though attempted manual download and install. Now a densityscout error. So the issues are not consistent.

[2020-05-20 15:44] digitalsleuth commented on #460
@NomisRenarc What fixes did you apply for pdftk? And can you provide more insight on the densityscout error?
Typically, you can delete densityscout (`/usr/local/bin/densityscout`) and run it again to avoid the error.
Also, please provide the relevant log snippet so we can review.

[2020-05-21 09:27] sandeep-gupta85 opened #466 "sift install error"
root@sift:~# sift install
/usr/local/bin/sift: line 6: syntax error near unexpected token `newline'
/usr/local/bin/sift: line 6: `<!DOCTYPE html>'
root@sift:~#

[2020-05-23 19:48] digitalsleuth commented on #466
@sandeep-gupta85 Is there an issue you're currently experiencing, or was this opened in error?

[2020-05-26 15:39] fredski-github commented on #464
I did not try a clean install, but just installing pdftk did not resolve the issue.

Is there a way to figure out what functionality is not available? It looks like most of the packages have installed correctly.

[2020-05-26 15:42] digitalsleuth commented on #464
The only functionality that wouldn't be available would be those items that popped up with 'result: false' in your saltstack.log
pdftk should be fixed soon, but in the meantime your install is likely complete (only missing the sift install of pdftk).

[2020-05-27 00:46] Tango-Bravo commented on #460
Hi All,

Experiencing similar issues to the above when installing on BB. Attempted the above solution by Kargin, however am still not able to install.

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:529:23)
    at ChildProcess.emit (events.js:196:13)
    at maybeClose (internal/child_process.js:1011:16)

[2020-05-27 19:13] digitalsleuth commented on #460
@Tango-Bravo This looks to be a salt specific error. It's generating an error when trying to parse the code block at the top of one of the states. Standby, I'll take a deeper look.

[2020-05-27 19:21] digitalsleuth commented on #460
@Tango-Bravo Could you run `salt-minion -V` and attach the results?

[2020-05-28 01:51] Tango-Bravo commented on #460
Hey @digitalsleuth, thanks for the help. Please find attached the requested results.
[salt_minion_V.txt](https://github.com/teamdfir/sift/files/4692764/salt_minion_V.txt)

[2020-05-28 09:42] darioongit commented on #460
Hi,

I have exactly the same issue

Ubuntu 16.04.6 LTS

Installing and configuring SaltStack properly ...

[....]

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:529:23)
    at ChildProcess.emit (events.js:196:13)
    at maybeClose (internal/child_process.js:1011:16)
    at Process.ChildProcess._handle.on

[2020-05-28 12:42] digitalsleuth commented on #460
@darioongit Can you attach your saltstack.log? It's likely the same issue with pdftk, but we'd better take a look to make sure.

[2020-05-28 13:23] darioongit commented on #460
[Salt-Minion-V.txt](https://github.com/teamdfir/sift/files/4695764/Salt-Minion-V.txt)

[2020-05-28 13:36] darioongit commented on #460
After the updates, same error
[Salt-Minion-V.txt](https://github.com/teamdfir/sift/files/4695824/Salt-Minion-V.txt)

[2020-05-29 00:35] digitalsleuth commented on #460
@darioongit Actually the log I'm looking for is the /var/cache/sift/cli/v2020.2.1/saltstack.log file. But thank you for anticipating the salt minion version file.

[2020-05-29 09:51] darioongit commented on #460
[saltstack.log](https://github.com/teamdfir/sift/files/4700988/saltstack.log)

[2020-05-29 11:27] ekristen commented on #460
PDFTK failed to install which is a known issue (recently)

Also looks like there is a problem setting up some theme related stuff for your user.

How are you attempting to install? We officially only support 18.04 desktop (no rebranded or slim versions like lubuntu or anything like that).

[2020-05-29 12:20] darioongit commented on #460
Ubuntu Server 18.04

System Versions:
           dist: Ubuntu 18.04 bionic
         locale: UTF-8
        machine: x86_64
        release: 5.3.0-1020
         system: Linux
        version: Ubuntu 18.04 bionic

[2020-05-31 15:59] ekristen commented on #460
If you are running 18.04 server then you need to install with the flag —mode=server to get a successful install

[2020-05-31 20:58] Tango-Bravo commented on #460
Hi @ekristen, i'm not sure how to check whether i have server or desktop installed. However i did realize that i have v18.04.04 installed vice v18.04, would this be why i;m having the issues?
![image](https://user-images.githubusercontent.com/65987409/83362521-4c331880-a3d5-11ea-9afe-45adf6a13e06.png)

[2020-06-01 05:55] darioongit commented on #460
Hi @ekristen,
I will try again, but I installed it on Desktop (apt-get install ubuntu-desktop ) and on Server; same result all time

[2020-06-01 05:58] Tango-Bravo commented on #460
I'm experiencing the same also, failing to install at the same point for both desktop and server

[2020-06-02 01:50] digitalsleuth commented on #449
Apologies for not getting back to you sooner, I let this get away from me (I am/was Fetchered). @brendancarey33 Your installation issue primarily only seemed to be rekall, and it appeared that since rekall was already installed on your system, the SIFT installer was unable to create a symlink in the optimal location, because a file with the intended destination already existed.

If you're still in

[2020-06-02 02:26] brendancarey33 commented on #449
I appreciate the support @digitalsleuth! I will apply fixes and promptly report. As someone who makes about %15 of their income off this suite, I knew I was safe with all the support from you and @ekristen, but felt uneasy at times. I will reply soon with fix results.

[2020-06-02 19:40] Stoesi opened #467 "sudo sift update fails"
I am using the ova version of the Sift Workstation and updated it already several times.
When I run "sudo sift update" now I receive these errors:
Command failed: apt-get update
W: The repository 'https://apt.dockerproject.org/repo ubuntu-xenial Release' does not have a Release file.
E: Failed to fetch 'https://apt.dockerproject.org/repo/dists/ubuntu-xenial/main/binary-i386/Packages 404 Not Found

[2020-06-03 07:42] reidaw commented on #464
I fixed the PDFTK issue after quite a bit of googling found this which seemed to install the required packages and result in a successful install.

wget http://launchpadlibrarian.net/340410966/libgcj17_6.4.0-8ubuntu1_amd64.deb \
 http://launchpadlibrarian.net/337429932/libgcj-common_6.4-3ubuntu1_all.deb \
 https://launchpad.net/ubuntu/+source/pdftk/2.02-4build1/+build/10581759/+files/pdftk_2.02-4b

[2020-06-03 11:36] darioongit commented on #460
Copy that, both desktop and server installation fail with the same message error

[2020-06-03 22:31] brendancarey33 commented on #449
@digitalsleuth Tried both the update and the --pre-release tag (as well as other modes) and I am still getting some sort of error. It appears the log is quite a bit larger than previously, so I was unable to try and find the issue myself or see if it was still due to rekall. Again, I appreciate any help (knowing I should just operate on a new install), but my cuckoo config is just so bloated I can

[2020-06-03 22:48] digitalsleuth commented on #449
Got the log, but not at a computer at the moment. Will reply when I get home. Cheers.

[2020-06-04 00:08] digitalsleuth commented on #464
While that version of PDFTK does work, it is rather out of date. It is likely possible that the next time you do an update, you may have to remove that version prior. The next release should have the fixed pdftk in it and the errors you saw in the past should go away.

[2020-06-05 14:47] ekristen commented on #449
There's a new pre-release out too. We've been suffering a lot of python issues unfortunately and still have not tracked down the root cause. Something that works perfectly for @digitalsleuth doesn't work for me and visa-versa.

Appreciate the assist @digitalsleuth

[2020-06-08 16:33] darioongit commented on #460
Any clue?

[2020-06-08 18:54] #466 closed

[2020-06-08 18:55] ekristen commented on #464
Anything further here?

[2020-06-08 18:56] ekristen commented on #460
There's a new pre-release out, please use --pre-release and --mode=server flags with the instlal tool and report back. Thanks.

[2020-06-08 18:56] digitalsleuth commented on #464
Not from me.

[2020-06-08 20:33] fredski-github commented on #464
seemed to have worked.

ubuntu@siftworkstation: ~
$ sudo sift install

[2020-06-09 10:09] NomisRenarc commented on #460
Thanks Erik,

i have tried on a fresh machine again, it was going very slowly and got to
'cpan install HTML::QuickTable' still had a running state but not
proceeding any further after almost two hours.

cancelling at this point, it stops immediately without issues.

reran and stuck at the same point for over 10 minutes now.

regards

On Mon, Jun 8, 2020 at 7:56 PM Erik Kristensen <notifications@gi

[2020-06-09 11:31] digitalsleuth commented on #460
I also noticed this in testing last night. I believe this module might be pausing for feedback. In the meantime, try `export PERL_MM_USE_DEFAULT=1` before running the install again and see if that makes a difference. I'll get back to you once I figure it out.

Sent from Outlook Mobile<https://aka.ms/blhgte>

[2020-06-09 16:29] saltydog4n6 opened #468 "cd cd"

[2020-06-09 16:40] #468 closed

[2020-06-10 13:07] jonanathan opened #469 "[SALTSTACK] - Unhealthy Instance Launch from AMI"
I was previously able to install SIFT, create an AMI via packer, and launch healthy instances. I have not made changes to my packer file but now the AMI is unable to launch healthy instances and fails the "Instance Status Checks".

Here are the contents of the sift.sh file that packer references:
[code]
Has anything changed in the last ~2 months that might affect this? I cannot use the sift-cli be

[2020-06-12 09:08] darioongit commented on #460
in my case the installation remains stucked here

Running: libcgi-pm-perl

[2020-06-14 05:11] brendancarey33 commented on #449
I get hung up on "Running: cpan install HTML::QuickTable" when trying updates. FYI

[2020-06-14 11:17] digitalsleuth commented on #449
@brendancarey33 We've identified the issue with the cpan install command. It should be fixed in the next release.

[2020-06-14 11:21] digitalsleuth commented on #469
@jonanathan The version of saltstack has changed to 2019.2, which may have affected some of the states. Try replacing 2018.3 in your sift.sh to 2019.2

[2020-06-14 11:28] digitalsleuth commented on #467
@Stoesi Are you using the latest version of the cli? Pretty sure I have an idea what's causing your issue, but to be on the safe side can you include your saltstack.log? It's located at /var/cache/sift/cli/<version_number>/saltstack.log

[2020-06-14 11:30] digitalsleuth commented on #463
@haloforensics Are you still having this issue?

[2020-06-14 11:33] digitalsleuth commented on #456
@Elio67 Did this resolve your issue?

[2020-06-15 13:09] jonanathan commented on #469
Updating the version fixed the issue and I am able to do the install and launch healthy instances from the AMI.

[2020-06-15 13:09] #469 closed

[2020-06-15 21:27] Stoesi commented on #467
@digitalsleuth As mentioned I use the OVA as I have only base knowledge about Linux - and even less (better zero) about SaltStack. The installation run for a few months with some special handling at the beginning, but on my last try to update, I received the above errors.
In the meantime, I learnt more about SaltStack and was able to make it run again by this procedure:
import the OVA, start and r

[2020-06-16 02:00] digitalsleuth commented on #467
@Stoesi The reason you're seeing the '/var/lib/dpkg/lock' issue is because Ubuntu is attempting to do its auto updates at the same time you may be trying to do an apt update or upgrade. Thus, dpkg has a lock on the file to ensure that your apt update and the systems installation of packages do not conflict. When you have this lock, you can wait a few minutes for the system to complete its search f

[2020-06-16 11:23] darioongit commented on #460
@digitalsleuth, did you get any results?

[2020-06-16 20:37] haloforensics commented on #463
Thanks @digitalsleuth.  I have not had much time to play around with it, but will give your recommendations a shot as soon as possible.

[2020-06-17 00:42] digitalsleuth commented on #460
@darioongit That fix should work in the next release of the cli. I did manage to resolve this issue temporarily by manually installing HTML::QuickTable and updating cpan. That should work to get you installed with this version of the cli, and the next should have the fix applied.

Give that a shot and let me know how you fare.

[2020-06-17 07:07] Tango-Bravo commented on #460
Hey @digitalsleuth,

I'm running into issues still, I have manually installed and updated CPAN and installed the HTML::QuickTable module via the below, set the PERL default as recommended above, however the install still seems to hang at 'cpan install HTML::QuickTable'

_curl -L https://cpanmin.us | perl - HTML::QuickTable_

[2020-06-17 14:22] ekristen commented on #464
Nice @fredski-github thanks for the patience. We've been hitting a lot of weird scenarios lately.

[2020-06-20 16:53] vanamaria opened #470 "Validate the signature for sift-cli-linux.sha256.asc"
I am trying to install sift in the Linux subsystem on Windows 10.
After I downloaded
sift-cli-linux
sift-cli-linux.sha256.asc
and imported the PG P Key using the command
gpg --keyserver hkp://pool.sks-keyservers.net:80 --recv-keys 22598A94
I can't validate the signature using the command
gpg --verify sift-cli-linux.sha256.asc.
I have checked that all the files have been downloaded and I am running

[2020-06-21 11:59] svo80 commented on #460
Dear all,

Maybe some short feedback from my side:

- I initially faced the issue described @Kargin as well on a freshly installed and updated Ubuntu 18.04.1 (desktop version, 5.3.0-59-generic), i.e., package `pdftk` did not install correctly. This was the only package for me (other than sift.server) that led to a `result: false` code according to `saltstack.log`.

- I then restarted installation

[2020-06-22 00:35] Tango-Bravo commented on #460
Thanks for sharing @svo80,

I blew away the previous install and started a fresh install. Updated and ran your recommendations as above and was successful in installing the pre-release version of SIFT.

[2020-06-23 08:37] sahoo8920 opened #471 "Error during Manual Install"
Using an updated Ubuntu 16.04.06 VM.
Getting the following error during installation:
"Update Returned Exit code Not Zero"

See the attached image for the error. Please suggest.
<img width="599" alt="Capture" src="https://user-images.githubusercontent.com/39708025/85380619-7ca74600-b580-11ea-9043-200d55593082.PNG">

[2020-06-23 13:02] ekristen commented on #471
There is a log file that was referenced at the start of the run that will have further info.

[2020-07-03 05:19] #459 closed

[2020-07-03 05:19] #457 closed

[2020-07-05 13:52] #461 closed

[2020-07-06 21:30] itripc opened #472 "ova file not booting vmware error no OS found"
I downloaded the ova file from the site, imported and booted with VM 15, sits on black screen trying to PXE boot for while then has error about not being able to locate the OS. Any help would be great.

[2020-07-06 22:09] itripc commented on #462
I download the ova file from the SIFT site you linked, it will not boot either says OS not found.

[2020-07-06 22:51] digitalsleuth commented on #462
Can you provide more details? What virtualization software are you using, and what OS?

Thanks.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: itripc <notifications@github.com>
Sent: Monday, July 6, 2020 6:09:26 PM
To: teamdfir/sift <sift@noreply.github.com>
Cc: Corey Forman <corey@digitalsleuth.ca>; Comment <comment@noreply.github.com>
Subject: Re: [teamdf

[2020-07-06 23:48] itripc commented on #462
Sure Im using Vmware 15 and Windows 10 Pro 64 bit, im just going install
the Ubuntu 16 and install with CLI because in hurry but just wanted to pass
the info along

On Mon, Jul 6, 2020 at 2:51 PM Digital Sleuth <notifications@github.com>
wrote:

[2020-07-06 23:53] digitalsleuth commented on #462
You're actually better off installing Ubuntu 18 over 16, because plaso no long supports or builds their tools for 16.
If you do install with 16, you can likely expect a number of errors.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: itripc <notifications@github.com>
Sent: Monday, July 6, 2020 7:49:08 PM
To: teamdfir/sift <sift@noreply.github.com>
Cc: Corey

[2020-07-07 01:33] itripc commented on #462
That is good to know, can I upgrade to 18 and plaso will work or I need to
do fresh 18 install?

On Mon, Jul 6, 2020 at 3:53 PM Digital Sleuth <notifications@github.com>
wrote:

[2020-07-07 01:47] digitalsleuth commented on #462
Well, if you upgrade from 16 to 18 without installing the SIFT CLI, you should be fine. However, if you upgrade from 16 (with the CLI already installed) and upgrade to 18, you may have issues.

It’s not the option I’d recommend, however, if you were to do it, these are the steps I’d suggest:

First: In 16, sudo sift update and sudo sift upgrade
Second: Upgrade to Ubuntu 18
Third: Run ‘sudo cpan in

[2020-07-07 02:01] itripc commented on #462
Good to know I will have to do the 18 route later when I have time thanks.

On Mon, Jul 6, 2020 at 5:47 PM Digital Sleuth <notifications@github.com>
wrote:

[2020-07-09 13:38] ekristen commented on #472
PXE is a bios issue, has nothing to do with the VM. Sounds like something else is going on with the import.

[2020-07-09 13:39] ekristen commented on #471
@sahoo8920 if you'd like help, please attach the log file.

[2020-07-09 13:39] ekristen commented on #470
What error are you getting? This is not 100% necessary, this is for those who want to verify the file hasn't been tampered with.

[2020-07-09 13:40] ekristen commented on #467
Support for xenial is being dropped by a lot of tooling. SIFT supports 18.04 (bionic) and  we are currently working on 20.04 support for ubuntu right now.

[2020-07-09 13:41] #464 closed

[2020-07-09 13:41] #462 closed

[2020-07-09 13:49] ekristen commented on #460
@svo80 @Tango-Bravo nice, appreciate the patience, glad we got it working for you.

[2020-07-09 13:49] #460 closed

[2020-07-09 13:49] ekristen commented on #449
@brendancarey33 the pre-release is working at the moment

[2020-07-09 13:52] ekristen commented on #449
https://github.com/teamdfir/sift-saltstack/releases/tag/v2020.7.0 -- with fixes above.

[2020-07-09 13:52] #449 closed

[2020-07-17 13:14] davidep commented on #458
I got the same issue by upgrading from saltstack sift-saltstack-v2020.2.1 to v2020.6.1-rc2 and I fixed it by running the following
`pip install pyaff4==0.26.post6`

[2020-07-17 13:15] davidep commented on #460
I got the same issue by upgrading from an existing saltstack sift-saltstack-v2020.2.1 to v2020.6.1-rc2 and I fixed it by running the following:
`pip install pyaff4==0.26.post6`

[2020-07-17 15:57] ekristen commented on #460
@davidep thanks for calling that out. While working on 20.04 I ran into this issue too. I will have to pin pyaff to that version shortly.

[2020-07-17 19:08] digitalsleuth commented on #460
It might be a good idea to upgrade the virtualenv and install to python3 as well (if you're not already doing it). Lenny and I decided to drop Rekall from REMnux though since it's not been maintained since 2017 and might not get any further traction/upkeep. I have a state already built for rekall with python3 if you'd like it. Are you housing a repo for 20.04 work as well? If so I could issue a pu

[2020-07-17 21:00] ekristen commented on #460
I am adding py3, I’ll push all my changes to a branch later that you can open an PR against.

Sent from my iPhone

[2020-07-20 06:10] joachimmetz commented on #433
Ubuntu 16.04 is end of life https://wiki.ubuntu.com/Releases

So we stopped support it, if you really need to run Plaso on an Ubuntu 16.04 installation use Docker instead. I would strongly recommend SIFT to keep their builds up to date instead.

[2020-07-20 06:11] joachimmetz commented on #349
Ubuntu 16.04 is now end of life https://wiki.ubuntu.com/Releases

[2020-07-20 12:24] ekristen commented on #349
16.04 is essentially no longer supported. 18.04 is the default VM now, and 20.04 is being built as we speak. Unsure on the ETA for 20.04 but it is ASAP. I'm working on it almost every day. Lots of work due to py2 being deprecated as well.

[2020-07-21 15:22] NomisRenarc commented on #460
Hi all,

i have a fresh 18.04 install in server mode.
SIFT install completed without errors, but when running log2timeline is
reporting:

redis version : 3.3.11 is to old, 3.4 or later required

how do I resolve this?

regards

On Fri, Jul 17, 2020 at 10:00 PM Erik Kristensen <notifications@github.com>
wrote:

[2020-07-21 21:10] NomisRenarc commented on #460
on my initial broken SIFT Workstation, after alot of ripping packages out,
removing the GUI, reinstalling, ensuring once again updated, attempt the
SIFT install and got back to a clean successful install.

on this refixed VM, trying to run log2timeline now produces:

Traceback (most recent call last):
  File "/usr/local/bin/log2timeline.py", line 4, in <module>
    __import__('pkg_resources').run_

[2020-07-21 21:15] digitalsleuth commented on #460
I have a few thoughts, but I'll have to look into it first. I'll let you know what I come up with.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: NomisRenarc <notifications@github.com>
Sent: Tuesday, July 21, 2020 5:11:12 PM
To: teamdfir/sift <sift@noreply.github.com>
Cc: Corey Forman <corey@digitalsleuth.ca>; Mention <mention@noreply.github.com>
Subject: R

[2020-07-22 07:13] davidep commented on #460
pip3 install -U redis

On Tue, Jul 21, 2020, 17:22 NomisRenarc <notifications@github.com> wrote:

[2020-07-22 10:38] NomisRenarc commented on #460
Davide,

thanks for that, was typing it wrong.
installed redis on the clean 18.04, log2timeline now running as expected.

On Wed, Jul 22, 2020 at 8:14 AM Davide Paltrinieri <notifications@github.com>
wrote:

[2020-07-22 23:04] digitalsleuth commented on #460
@NomisRenarc Can you clarify the issue you're having (or had)? Part of your post shows an issue with log2timeline (Python 2 errors) on a previous install, and another part is a fresh install receiving redis errors. Are you still experiencing the log2timeline issue with the Python 2 errors? And did the upgrade of redis correct your other error?

Thanks

[2020-07-23 06:29] NomisRenarc commented on #460
Hi there,

the log2timeline python2 error is still there on my one machine. I would
like to get this machine sorted out, as I still have data on it before I
can migrate to the other machine.

regards

On Thu, Jul 23, 2020 at 12:04 AM Digital Sleuth <notifications@github.com>
wrote:

[2020-07-23 11:05] NomisRenarc commented on #460
I managed to fix it.
I removed plaso-tools packages completely and reinstalled plaso-tools.
Seems an old broken package from a past update/upgrade possibly.

thanks for all the help so far.

regards

On Thu, Jul 23, 2020 at 7:29 AM Simon Craner <simon.craner@gmail.com> wrote:

[2020-07-23 14:29] modmagus opened #473 "RegRipper 2.8 Repository Not Found"
During installation via "sift install", the user is prompted for github.com username/password for the RegRipper2.8 repository.

Screenshot of prompt as displayed during attempted installation on Ubuntu 18.04:
<img width="398" alt="Github Prompt 2020-07-23 102226" src="https://user-images.githubusercontent.com/29063156/88298298-fc831600-ccce-11ea-9f18-a86332875c49.png">

Screenshot of the section o

[2020-07-24 18:39] jasonalv commented on #473
Experiencing this problem as will

[2020-07-24 19:27] ekristen commented on #473
Looks like there a new one. Will update and test ASAP

Sent from my iPhone

[2020-07-24 23:51] ekristen commented on #473
2020.7.1-rc1 is out. You can install with `sift install --pre-release` or upgrade with `sift upgrade --pre-release`

[2020-07-26 12:11] WEELDBER opened #474 "error on install ubunto 18.04 windows 10 creator(help)"
![sift log file that creates error](https://user-images.githubusercontent.com/57105642/88478502-7d7c2080-cf0e-11ea-9e9e-84ab979168a4.jpg)
![sift error](https://user-images.githubusercontent.com/57105642/88478508-8b31a600-cf0e-11ea-919e-4143bb2f3a19.jpg)
![image](https://user-images.githubusercontent.com/57105642/88478527-b7e5bd80-cf0e-11ea-985c-5bbcb39e4f2d.png)

Update returned exit code not zero

[2020-07-26 16:34] ekristen commented on #474
Please attach the referenced saltstack.log

Sent from my iPhone

[2020-07-27 01:40] modmagus commented on #473
The pre-release installed with the updated repository without additional issue. Much appreciated

[2020-07-29 08:36] tompolth commented on #471
am having the same issue exactly but using ubuntu 18.14. I've also tried with the 16.04 before and same results.

Attached you'll find the log file.
[saltstack.log](https://github.com/teamdfir/sift/files/4993674/saltstack.log)

[2020-07-29 13:01] ekristen commented on #471
Looks like unicode issues.

[code]

What are your language settings?

[2020-07-29 13:31] ekristen commented on #460
Just a heads up, we are converting everything to python3 going forward for both 18.04 and 20.04.

[2020-07-29 13:31] #473 closed

[2020-07-29 13:32] #470 closed

[2020-07-29 13:33] digitalsleuth commented on #460
Excellent! I'll make sure to adjust for that. Thanks, Erik!

[2020-07-29 14:17] tvfischer opened #475 "[SALTSTACK] - upgrading to release v2020.7.0 fails with multiple package requisite fails"
I've been trying to upgrade my SIFT vm by running the cli command `sift upgrade`

I am getting multiple package fails during the installation including
[code]
I've tried the pre-release while that fixes the regripper issue, I am still getting the other package fails

Log  file
[saltstack.zip](https://github.com/teamdfir/sift/files/4995390/saltstack.zip)

[2020-07-29 20:43] Asaph208 commented on #471
I'm running into an install problem as well.. seems to fail at the same point in terminal but my log says it can't use pip. pip is installed and available, not sure what to do... I've been trying to troubleshoot this for two days now. Ubuntu 18.04.4, saltstack.log attached.
[saltstack.log](https://github.com/teamdfir/sift/files/4997372/saltstack.log)

[2020-07-29 20:46] ekristen commented on #475
What version of ubuntu?

[2020-07-29 20:47] #474 closed

[2020-07-29 20:47] #472 closed

[2020-07-29 20:48] ekristen commented on #471
@Asaph208 looks like your python might be broken. 18.04? Can you please provide `dpkg -l | grep python` output.

[2020-07-29 20:51] Asaph208 commented on #471
[python.txt](https://github.com/teamdfir/sift/files/4997403/python.txt)

[2020-07-29 20:52] ekristen commented on #471
@Asaph208 when you run `python --version` what's the default?

[2020-07-29 20:52] Asaph208 commented on #471
2.7.17

[2020-07-29 20:55] ekristen commented on #471
@Asaph208 it also looks like you are having apt problems. If you run `apt-get update` does it run successfully? Can you provide `ls of /etc/apt/sources.list.d` and then run `apt-cache showpkg libesedb`

[2020-07-29 20:57] Asaph208 commented on #471
$ ls /etc/apt/sources.list.d
docker.list
docker.list.distUpgrade
docker.list.save
gift-ubuntu-stable-xenial.list
gift-ubuntu-stable-xenial.list.distUpgrade
gift-ubuntu-stable-xenial.list.save
noobslab-ubuntu-icons-xenial.list
noobslab-ubuntu-icons-xenial.list.distUpgrade
noobslab-ubuntu-icons-xenial.list.save
noobslab-ubuntu-themes-xenial.list
noobslab-ubuntu-themes-xenial.list.distUpgrade
noobsla

[2020-07-29 20:58] ekristen commented on #471
`cat /etc/os-release`

[2020-07-29 20:58] Asaph208 commented on #471
$ cat /etc/os-release
NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.4 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
VERSION_CODENAME=bionic
UBUNTU_CODENAME

[2020-07-29 21:00] ekristen commented on #471
ok so this was an upgrade from 16.04, can you show me the contents of ` gift-ubuntu-stable-xenial.list` and ` sift-ubuntu-stable-xenial.list`

[2020-07-29 21:05] Asaph208 commented on #471
gift is empty

sift:
# deb http://ppa.launchpad.net/sift/stable/ubuntu bionic main # disabled on upgrade to bionic
# deb-src http://ppa.launchpad.net/sift/stable/ubuntu xenial main

[2020-07-29 21:08] ekristen commented on #471
Remove

[code]

Then try again.

[2020-07-29 21:29] Asaph208 commented on #471
Failed again in the same spot with the same reason (i think). Since this is an upgrade from 16, maybe I should just do a totally fresh 18 install and try again.

[secondsaltstack.log](https://github.com/teamdfir/sift/files/4997576/secondsaltstack.log)

[2020-07-29 23:46] Asaph208 commented on #471
I'm at a loss. I re-installed fresh from an Ubuntu 18 DVD I made, erased the whole hard drive and installed. I did the update/upgrade/autoremove trio, followed the directions for the CLI process and it still fails. There is a spot in the middle of the installation asking for a github username and password, am I correct in typing in my credentials here? Could that be the issue?

The failure this ti

[2020-07-30 00:20] ekristen commented on #471
use the `--pre-release` flag, we had to fix an issue with regripper and hadn't officially released the change.

does the gift and sift apt repo files now have the right data in them at least?

[2020-07-30 06:46] tompolth commented on #471
am having the same issue exactly but using ubuntu 18.14. I've also tried with the 16.04 before and same results.

Attached you'll find the log file.

I am using spanish keyboard layout. In any case, I have changed it again to the english *US* again -layout and format- and then tried again. I get the same results.

[2020-07-30 12:55] ekristen commented on #475
This looks like for whatever reason the gift repo apt file is empty.

[2020-07-30 12:55] ekristen commented on #447
2020.7.1 is out with regripper3.0

[2020-07-30 12:55] #447 closed

[2020-07-30 12:57] ekristen commented on #471
Does your username or home directory path use any utf-8 characters?

[2020-07-30 14:34] Asaph208 commented on #471
Was successful! Thank you very much for taking the time to troubleshoot this with me. Whatever change there was with the --pre-release option made the difference.

[2020-07-30 17:23] tompolth commented on #471
No, my username and home directory are siftforensics@siftWS

I used the same that the OVA virtual machine in order to avoid issues. But, obviously, I didnt manage , he, he

[2020-07-31 08:53] tvfischer commented on #475
16.04.6. LTS xenial

GIFT repo is not empty
![image](https://user-images.githubusercontent.com/439019/89018369-b30c7980-d313-11ea-9370-a63e9ff72a46.png)

Cheers

[2020-07-31 16:18] ekristen commented on #475
GIFT not longer supports 16.04. You’ll need to upgrade to 18.04

We are working on 20.04 support right now

[2020-08-02 10:55] tvfischer commented on #475
Hi @ekristen
So I upgrade (started with a brand new VM image) to ubuntu 18.04 using the latest SIFT Workstation VM. This is a clean SIFT install as far as I can tell; no mods on my side.

When I run the sift upgrade command i am still getting errors; attaching the log file again.
[saltstack.zip](https://github.com/teamdfir/sift/files/5012010/saltstack.zip)
I can't make heads or tails of what the p

[2020-08-04 17:51] chelch-cyber opened #476 "sudo mv sift-cli-linux /usr/local/bin/sift error"
I am following the instructions for installing sift and attempting to install on the newest version of Unbuntu. When I get to the step....**sudo mv sift-cli-linux /usr/local/bin/sift** i get an error stating **mv: cannot stat 'sift-cli-linux': No such file or directory** . Curious if anyone else has run into this issue. Thanks.

[2020-08-04 17:53] ekristen commented on #476
If you cannot move it, the file doesn't exist. Are you sure you downloaded it and are in the right path?

[2020-08-04 18:03] ekristen commented on #475
v2020.7.1 fixes this.

[2020-08-04 18:08] chelch-cyber commented on #476
Think my issue was I was doing everything from the desktop. I made it to the install step but when I run sift-install i get a message stating "invalid OS, unable to determine ubuntu version".

[2020-08-04 21:16] ekristen commented on #476
What version of Ubuntu?

Sent from my iPhone

[2020-08-04 22:29] chelch-cyber commented on #476
20.04

[2020-08-04 22:31] ekristen commented on #476
Not quite supported yet. Sorry.

Sent from my iPhone

[2020-08-04 22:49] chelch-cyber commented on #476
No worries. Thanks for the assistance.

-Marcello

From: Erik Kristensen <notifications@github.com>
Sent: Tuesday, August 4, 2020 4:32 PM
To: teamdfir/sift <sift@noreply.github.com>
Cc: Marcello Amente <Marcello.Amente@nglep.com>; Author <author@noreply.github.com>
Subject: [BULK] Re: [teamdfir/sift] sudo mv sift-cli-linux /usr/local/bin/sift error (#476)
Importance: Low

Not quite supported yet.

[2020-08-05 06:23] tvfischer commented on #475
That was the test using v2020.7.1

[2020-08-09 02:32] digitalsleuth commented on #475
@tvfischer In your most recent saltstack.log file, I noticed the only real error causing your final problem is a dbus error when configuring the terminal. This error can occur if the ~/.dbus directory is not owned by the user running the installer. Take a look at the permissions and ownership of the ~/.dbus directory for the intended user (in the log it identifies you're running this for the `sans

[2020-08-09 02:42] digitalsleuth commented on #471
@tompolth Can you provide the output of the `locale` command and `salt-minion -V` ? The error you've provided regarding the unicode string is an error that previously popped up in 2018.3 and early versions of salt-minion 2019.

Thanks

[2020-08-09 02:44] digitalsleuth commented on #463
@haloforensics Please let us know if you're still experiencing this issue. Also, you can now try updating to the new CLI and using the --pre-release argument to ensure you have the latest packages.

[2020-08-09 09:27] tompolth commented on #471
Hi,

The complete output is this:
![image](https://user-images.githubusercontent.com/11537311/89729142-19d81400-da33-11ea-8be1-dd1967365894.png)
I've seen that there is some complains about the installed Python's vesion (2.7) I don't if this has something to do with those errors.

Best

[2020-08-09 11:51] digitalsleuth commented on #471
The Python 2.7 message is just informative, and doesn't actually generate an error in the saltstack process. Can you also send the output of the `locale` command?
One potential way to work around this is to install the 1.9.0-rc1cli, which uses salt-minion 3001. This is a python3-based salt installation which will get rid of the python2.7 warnings. However, I'd like to see the `locale` output befor

[2020-08-09 12:02] tompolth commented on #471
Here it is:
![image](https://user-images.githubusercontent.com/11537311/89731642-e30cf880-da48-11ea-8240-633fbe17f4d2.png)

Thanks for your help

[2020-08-09 12:07] digitalsleuth commented on #471
Can you try running `export LANGUAGE=en_US.UTF-8` and try running the cli installer again? It's possible the Unicode error is due to the language variable being empty.

If that doesn't work, then we can try the sift RC1 cli.

[2020-08-09 12:11] tompolth commented on #471
I've tried and I've got the same errors.
I've also realize that during the apt update command I get this other warning related with salt:

N: Skipping acquire of configured file 'main/binary-i386/Packages' as repository 'http://repo.saltstack.com/apt/ubuntu/18.04/amd64/2019.2 bionic InRelease' doesn't support architecture 'i386'

[2020-08-09 12:16] digitalsleuth commented on #471
That apt warning doesn't actually have an effect on the installation, as it's just a warning. If you have already done the `export LANGUAGE` command, and the environment variable still shows as empty, then try preceding your sift cli command with it, like this: `LANGUAGE=en_US.UTF-8 sudo sift install --pre-release`

Even with your LANGUAGE env blank, this will force the command to run under this c

[2020-08-09 12:23] tompolth commented on #471
I am using the 1.8.5 version. The same errors. I will try it with the 1.9.0-rc1

[2020-08-09 12:43] digitalsleuth commented on #471
Could you provide a copy of your last saltstack.log? I'd like to see if there are any other indicators which may be causing the error.

Thanks!

[2020-08-09 13:16] tompolth commented on #471
Now, with the 1.9.0 version I have other errors :-(

_root@siftWS:/home/siftforensics# sift install --pre-release

Installing and configuring SaltStack properly ...

Command failed: apt-get install -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" -y --allow-change-held-packages salt-minion
debconf: delaying package configuration, since apt-utils is not installed
E: Sub-pro

[2020-08-09 13:19] digitalsleuth commented on #471
That one's actually easy to fix. Try the following:
` sudo apt search salt-minion` and make note of the version. Should be 3001. If it is, then run:
`sudo apt install salt-minion salt-common -y`
Once that finishes, run the sift cli again, using the --pre-release option.

[2020-08-09 13:34] tompolth commented on #471
Installed salt-minion.
This is the saltstack.log in the last execution. Same issues

[saltstack.txt](https://github.com/teamdfir/sift/files/5047602/saltstack.txt)

[2020-08-09 13:50] digitalsleuth commented on #471
Can you confirm that your `/home/siftforensics/` directory is owned by siftforensics:siftforensics recursively? Including the .dbus directory.
I see this error just prior to the Unicode error, when it's trying to setup your terminal preferences:

`[DEBUG   ] env command: ('su', '-s', '/bin/bash', '-', 'siftforensics', '-c', '/usr/bin/python3')`
`# [DEBUG   ] stdout: dbus[19128]: Unable to set up t

[2020-08-09 13:56] digitalsleuth commented on #471
Looks like the cause of the Unicode error is due to an error message being returned in place of the expected DBUS_SESSION_BUS_ADDRESS and salt is trying to parse the error message. The message contains invalid/unexpected characters, and as such is throwing the Unicode error. Let me know if the permissions in your home directory are out of whack.

[2020-08-09 14:07] tompolth commented on #471
mmm, yes probably is that. I don't know why but the .dbus directory is root owned

drwxr-xr-x 17 siftforensics siftforensics 4096 Aug  9 14:19 .
drwxr-xr-x  3 root          root          4096 Jul 29 09:33 ..
-rw-------  1 siftforensics siftforensics  271 Aug  9 13:58 .bash_history
-rw-r--r--  1 siftforensics siftforensics  220 Jul 29 09:33 .bash_logout
-rw-r--r--  1 siftforensics siftforensics 377

[2020-08-09 14:18] tompolth commented on #471
Bingo!! That was!!

Now the sift install is working. Let's hope that is enough. Thanks a lot.

In any case, I don't know why the .dbus directory was owned by root.

Thank you very much.

[2020-08-09 14:30] digitalsleuth commented on #471
This can happen for any number of reasons, but I have a few (unvalidated) reasons as to why it happened.
Glad everything worked out for you!

[2020-08-10 22:06] jaychan-q commented on #460
Tried the above steps on Ubuntu 18.04 and facing issues. Pls assist accordingly. Thanks

Error from saltstack shown below

[code]

[2020-08-10 22:24] jaychan-q commented on #460
fixed the above issue by removing the 4 packages installed from this link: https://askubuntu.com/a/1046476

[2020-08-12 01:28] angry-bender opened #477 "sift-cli not included in Sift Workstation appliance"
I have noticed that the sift-cli to update sift, is not presently included in the appliance.

Additionally, when running the update at present it throws the following error

sansforensics@siftworkstation: ~
$ sudo sift update

Hashes for sift-saltstack-v2020.2.0.tar.gz do not match. Expected: , Actual: b6c7fa985070fa6c7749893913de6319490ecd02c90479171f4162d0d716a650  /tmp/sift-saltstack-v2020.2.0.

[2020-08-12 01:52] angry-bender opened #478 "Feature Request - ZSH with autosuggestions"
Is it possible to request ZSH with autosuggestions & Syntax highlighting (Something like .oh-my-zsh) into SIFT? making the terminal a little easier for newbie analysts?

https://github.com/zsh-users/zsh-autosuggestions
https://github.com/zsh-users/zsh-syntax-highlighting.git

I'd be happy to give it a go and push to salt stack, once I can see how it works if its a good suggestion.

[2020-08-12 07:03] artimis36d opened #479 "Invalid credentials downloading VM appliance"
I wish to download the VM appliance from your official website, but using the credentials posted on the download page, I got an error "Please fix the following problem(s) - Invalid credentials" on the login page.  Is there an update on the credentials?  Thanks.
![image](https://user-images.githubusercontent.com/5388398/89985043-f9b38980-dcac-11ea-8847-f2aa4188fe3c.png)

[2020-08-12 11:00] kkttc commented on #479
Hi, the credentials being requested are your SANS account, which can be created at sans.org.

The credentials listed on the page are to login to the VM once you boot it up

Ken Kleiner
Pr. Security Engineer
UMass Lowell
(978) 934 3645

________________________________
From: Louis Li <notifications@github.com>
Sent: Wednesday, August 12, 2020 3:03:53 AM
To: teamdfir/sift <sift@noreply.github.com>
C

[2020-08-13 13:29] honorthecode opened #480 "SIFT detailed package listing link is broken"
I'm trying to get a listing of software installed on the SIFT but the detailed package listing link is broken.
![image](https://user-images.githubusercontent.com/69635449/90139861-e81ec000-dd46-11ea-8d9e-9a07ac2c4e86.png)

Does anyone know where I can find that information?

[2020-08-15 10:30] tvfischer commented on #475
Still failing on a stock SIFT Workstation VM.
Now I'm getting different errors but still unable to complete a proper clean update. Log file attached

This time it is complaining about not being able to find `pip` but this is installed by default in the SIFT VM.

[saltstack.zip](https://github.com/teamdfir/sift/files/5078483/saltstack.zip)

[2020-08-15 13:54] digitalsleuth commented on #475
Hi @tvfischer , I'm looking in the saltstack log and am not really seeing any errors. There was a problem with pydasm/libdasm, but that's the only apparent issue. Can you tell me what the final on-screen output was of this last attempt?
Also, it would be helpful if you could provide the output of `salt-minion -V` and `sudo sift version`, and the sift cli command you used (--pre-release or --user e

[2020-08-15 14:34] digitalsleuth commented on #480
The documentation hasn't been updated yet, but if you're in a pinch to find this information, you can find it in the [sift-saltstack](https://github.com/teamdfir/sift-saltstack) repo. All of the state files there are used to create the SIFT environment, and instantiated using the sift-cli.
Currently, the quickest and easiest way to get a list like the one above is to clone the repo, cd into it, an

[2020-08-15 18:46] digitalsleuth opened #481 "SIFT-VM Workaround for Clean Install Issues"
As of late, there have been a few users utilizing the VM provided on the SANS website to create their SIFT workstation. Running the steps below immediately after launching the VM should mitigate those issues until such time as the VM is updated.

**NOTE: These are only for a brand-new fresh SIFT VM, not for a VM which has already been modified:**

[code]
The saltstack.list bundled with the VM is f

[2020-08-16 09:45] tvfischer commented on #475
Hi @digitalsleuth

Command used: `sudo sift update`

**output for `sudo sift version`**:
[code]

**output for `salt-minion -V`**:
[code]

More on the errors:
[code]

Yes pip is installed
[code]

[2020-08-16 13:46] digitalsleuth commented on #475
I figured it was installed, or you would have had a lot more than 10 errors :)
Can you try running `sudo sift upgrade --pre-release` and see if you get the same errors?
Also, could you provide the output of the `which pip` and `which pip3` commands?

[2020-08-17 02:41] angry-bender opened #482 "[CLI] Saltstack ENV variable not applying correctly"
sift-cli@1.9.0-rc1
    sift-version: v2020.2.0

    Command failed: apt-get install -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" -y --allow-change-held-packages salt-minion
    debconf: delaying package configuration since apt-utils is not installed
    E: Sub-process /usr/bin/dpkg returned an error code (2)

[2020-08-17 02:42] angry-bender commented on #482
Made fix on sift-cli, Pull Request https://github.com/teamdfir/sift-cli/pull/47

[2020-08-17 03:34] ekristen commented on #482
IIRC This can be ignored

There is likely something wrong with the underlying dpkg system ... try `sudo dpkg --configure -a`

[2020-08-17 03:36] ekristen commented on #481
I think we probably just need to loosen the reigns and just allow latest to be set at all times, it would prevent this in the future, but could become problematic.

We are trying to get better about updating the VM on the website to.

[2020-08-17 03:37] ekristen commented on #479
Thanks @kkttc

[2020-08-17 03:37] #479 closed

[2020-08-17 03:39] ekristen commented on #478
Shells are extremely personal preference. We've gone down this road before and we are unlikely to change the default shell.

[2020-08-17 03:40] #476 closed

[2020-08-17 03:41] #471 closed

[2020-08-17 03:41] #467 closed

[2020-08-17 03:42] ekristen commented on #477
Thanks for pointing this out, will verify for the next build we publish.

[2020-08-17 04:38] angry-bender commented on #482
Not quite, the main reason its occuring is because it's trying to do it through the apt-utils, however, you can see under the env codes below, the intent is to run this through dpkg, which avoids having to use the apt-utils, which can case more output. By using the env var at run time, it appears to fix this issue, and the salt-minion installs correctly.

Additionally, setting as an ENV variable,

[2020-08-17 04:38] angry-bender commented on #478
No worries, thank you.

[2020-08-17 04:38] #478 closed

[2020-08-17 04:52] #477 closed

[2020-08-17 07:29] angry-bender commented on #482
Re-opened with correct .js code correction

[2020-08-17 07:33] dsmackie commented on #482
I believe the associated pull request will fix https://github.com/teamdfir/sift/issues/481 also.

[2020-08-17 09:28] tvfischer commented on #475
Ok these are the `which pip?`:
[code]
trying to upgrade to pre-release tells me there are none
[code]

[2020-08-18 21:03] honorthecode commented on #480
This is excellent. Thank you for the list @digitalsleuth !

[2020-08-18 21:03] #480 closed

[2020-08-22 14:55] vietlq414 opened #483 "CLI - Issue with Installing on Ubuntu 20.04.1"
I tried to install the work station on Ubuntu 19.10 this is the error:

[code]

invalid OS, unable to determine ubuntu version
Error: invalid OS, unable to determine ubuntu version
    at validOS (/snapshot/sift-cli/sift-cli.js:160:11)
    at run (/snapshot/sift-cli/sift-cli.js:640:9)
    at main (/snapshot/sift-cli/sift-cli.js:745:11)
    at Object.<anonymous> (/snapshot/sift-cli/sift-cli.js:751:

[2020-08-23 17:51] ekristen commented on #483
20.04 is not yet supported

Sent from my iPhone

[2020-08-24 17:08] crowface28 commented on #481
change the curl to https://github.com/teamdfir/sift-cli/releases/download/v1.8.5/sift-cli-linux

[2020-08-25 15:46] Katrina-Prescott opened #484 "Cannot access SIFT VM appliance over network with RDP and xRDP"
The company I work for has installed a SIFT workstation on our network via the .ova file.  I have the computer name and IP address for it.  I am trying to figure out how to access it from my windows vm workstation.  I installed putty and was able to get to the command line and install xrdp using sudo apt install xrdp.  I can get to the xrdp login page using rdp.  But I cannot get to the sift works

[2020-08-26 00:18] dominikborkowski opened #485 "Non-interactive install of 1.9.0-rc1 fails on salt-minion"
Hello,

We're installing SIFT via a non-interactive method using Hashicorp's Packer on Ubuntu 18.04. Version 1.8.5 doesn't have any problems at this particular stage, while 1.9.0-rc1 fails with the following:

[code]

`apt-utils` is installed, and installing salt repository along with salt-minion outside of `sift` installer allows the installer to proceed.

Cheers!

[2020-08-26 00:20] ekristen commented on #485
We build an AMI but haven’t published it widely. I can supply those to you.

I’m also getting ready to publish all my packer scripts in the next week or two.

With packer I use salt stack directly and skip using sift CLI.

[2020-08-26 00:27] dominikborkowski commented on #485
Holy smokes, that would help us tremendously. I've been fighting with sift CLI all day, and that doesn't account for half of the effort our team spent on it. One of our biggest challenges is that the build environment is behind a web proxy, and that SIFT CLI just does not appear to support that at all.

Of course, our hope is to remain close to the upstream, so I'm interested in how you solved it

[2020-08-26 00:35] ekristen commented on #485
Well if you are in AWS you can just use the prebuilt AMI. No need to build yourself,

I can get you the AMIs in a bit.

Sent from my iPhone

[2020-08-26 13:34] dominikborkowski opened #486 "Installer fails without gnome components"
The sift-config-tools portion of the install process will fail if certain GNOME components are not present. This has been tested on Ubuntu 16.04. The packages required include 'gnome-shell' and 'gnome-shell-extension-dashtodock'. Ideally if they're required, they may need to be pulled by salt. Otherwise, is there a document showing required core components?

Thanks!

Here's relevant output:

[code

[2020-08-27 00:40] ekristen commented on #486
16.04 support is being dropped, 18.04 is supported and 20.04 is in the works

Sent from my iPhone

[2020-08-27 00:55] dominikborkowski commented on #486
Sorry, it was a typo. The system in question is vanilla 18.04 with all the relevant updates.

[2020-08-29 17:11] mrf0012 commented on #483
So what versions are supported?

[2020-08-29 17:21] ekristen commented on #486
Interesting. I have not seen this behavior.

[2020-08-29 17:21] ekristen commented on #483
18.04

[2020-08-29 22:06] ekristen commented on #485
@dominikborkowski check out https://github.com/teamdfir/sift-packer

[2020-08-29 22:06] #483 closed

[2020-08-31 20:13] jdecrosta opened #487 "Installing SIFT using CLI tool 18.04.5 fails"
Hello,

   New to GitHub and am trying to install SIFT for a forensics class I am in. I have followed the instructions provided by my school and other Github threads regarding issues similar to mine but am a bit stuck. I am running "sudo sift install" after downloading the appropriate files from the SIFT webpage and the install fails with "Error: update returned exit code not zero". I have attache

[2020-08-31 20:49] ekristen commented on #487
Looks like only a few things failed like timesketch from the logs which is sorta a known issue at the moment.

[2020-08-31 20:54] jdecrosta commented on #487
@ekristen thank you for the quick reply. Based on what you have seen, is SIFT installed in my Ubuntu instance or is there something more I need to be doing?

[2020-08-31 22:07] jdecrosta commented on #487
I ask the above question because I checked the version installed and it shows that there is none - see attached photo.
![Sift not installed](https://user-images.githubusercontent.com/70543700/91773464-d5184680-ebb4-11ea-8a47-9856783672af.PNG)

[2020-08-31 22:51] ekristen commented on #487
Yeah so it's a bit misleading unfortunately. If it can't complete 100% it doesn't mark that it was installed, it's a flaw, but basically everything is 100% separate from each other so all the bits that did install, remain, just the ones that failed do not.

[2020-09-01 15:26] dominikborkowski commented on #486
Our default approach is to use XFCE with ubuntu, and remove gnome components. That's likely why we've ran into these issues. Removing those two packages in question should reproduce the problem.

[2020-09-02 14:57] ekristen commented on #486
Ah. Yeah gnome is the only official supported option. There are just too many variations to support otherwise.

If you don’t care about user and ui preferences you can simple install if using server mode. This just installs all tools and packages and the like with no user customizations.

Erik

Sent from my iPhone

[2020-09-04 15:47] TrustZero opened #488 "Workstation is not installed with net-tools"
As seen in the screen shot the ifconfig command is not available. After going through the steps to install net-tools the command is available but shouldn't this be a part of the default settings?

![2020-09-04 10_44_56-Window](https://user-images.githubusercontent.com/64290382/92258003-c58e4b80-ee9b-11ea-9c48-6e82659a4bd0.png)

[2020-09-04 19:07] NAngryPole opened #489 "SIFT OVA Apt-Get Update Not working"
Cannot update the OVA of the SIFT workstation 18.04.5

I turned off Ubuntu auto update from ticket #467

I came across this when trying to install iptables-persistent and it was not able to resolve the archive site. I statically set the DNS servers to Google DNS and still same result. Removed the NIC from vm in workstation and readded. Set NIC to DHCP. Reconfigured static IP in Network manager and

[2020-09-04 19:15] ekristen commented on #489
What error are you getting?

[2020-09-04 19:35] NAngryPole commented on #489
sits at 0% when connecting to the archive.ubuntu , security.

Then errors on could not resolve;
security.ubuntu.com
archive.ubuntu.com
ppa.launchpad.net
us.archive.ubuntu.com
repo.saltstack.com

Some index files failed to download, They have been ignored, or old ones used instead.

[2020-09-04 19:37] ekristen commented on #489
What virtualization platform and version are you using? Seems like a bad configuration of some sort.

Sent from my iPhone

[2020-09-04 19:44] NAngryPole commented on #489
Workstation pro 15. It must be, I believe setting a static IP via ifconfig screwed things up. I spun up a new OVA and all is seems fine. Sorry to waste your time.

[2020-09-07 00:43] amcap623 opened #490 "Error Installing SIFT"
I am trying to install SIFT and am getting this error.  Please help.

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:529:23)
    at ChildProcess.emit (events.js:196:13)
    at maybeClose (internal/child_process.js:1011:16)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:268:5)

-----

[2020-09-07 12:54] amcap623 commented on #252
I am getting this error trying to install SIFT workstation v2020.7.1 on Ubuntu 16.04.   The install does not show me at the end Completed with Errors.  It just stops.  Below this error is the error from the saltstack.log

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:529:23)
    at ChildProcess.emit (eve

[2020-09-07 19:27] ekristen commented on #490
Please provide the full saltstack log. It's likely that just a single thing is failing.

[2020-09-08 08:23] n00btotal commented on #490
I have the same problem.

Looks like a problem with gsettings can't find schemas?

But I do get several more errors (result: false)

`  ? cmd_|-sift-config-theme-gnome-launcher-position_|-gsettings set org.gnome.shell.extensions.dash-to-dock
    dock-position BOTTOM_|-run
  : __id__: sift-config-theme-gnome-launcher-position
    __run_num__: 519
    __sls__: sift.config.user.theme_bionic
    chang

[2020-09-08 12:02] amcap623 commented on #490
The latest releases site had version 1.8.5 ..  Showed these 2 commands..  so I ran them and then ran the sudo sift install again which worked.

RESULT::  >> COMPLETED SUCCESSFULLY -- Success: 571, Failure: 0

curl -Lo /usr/local/bin/sift https://github.com/sans-dfir/sift-cli/releases/download/v1.8.5/sift-cli-linux
chmod +x /usr/local/bin/sift

[2020-09-08 13:05] ekristen commented on #490
@n00btotal this seems to be a bug/problem with gsettings and gnome possibly. Is this a vanilla Ubuntu 18.04 Desktop install or has it been modified in any way?

@amcap623 glad to hear it is working for you now.

[2020-09-08 13:16] n00btotal commented on #490
@ekristen  it is a vanilla ubuntu desktop (from minimal netboot install image). I made no modifications or updates before I tried the sift installation

[2020-09-08 19:20] gebhard73 commented on #490
Got a similar error with saltstack. Please see pull-request https://github.com/teamdfir/sift-cli/pull/50, this may help.

[2020-09-09 10:06] n00btotal commented on #490
From a fresh minimal ubuntu install (I added no extra packages during install, i.e no desktop environment) I successfully installed sift with
`sift install --mode=server --user=<the user I added during install>`

When I tried to update with --mode=desktop the update fails.

I installed the default desktop environment with
`sudo tasksel install ubuntu-desktop`

After a reboot and login, I'm greeted

[2020-09-09 12:37] ekristen commented on #490
Yeah desktop mode requires desktop ubuntu to be installed.

[2020-09-09 15:24] #482 closed

[2020-09-10 02:34] ekristen commented on #489
@NAngryPole no worries. Glad it's all working now.

[2020-09-10 02:34] #489 closed

[2020-09-10 02:37] ekristen commented on #488
How did you come by this VM? OVA? Self Install?

[2020-09-10 02:37] ekristen commented on #487
Try this https://github.com/teamdfir/sift-cli/releases/tag/v1.9.0-rc4

[2020-09-10 02:39] ekristen commented on #486
If you'd like to continue talking about this let me know, but for now I'm going to close this.

[2020-09-10 02:39] #486 closed

[2020-09-10 02:42] ekristen commented on #485
New version of the CLI -- https://github.com/teamdfir/sift-cli/releases/tag/v1.9.0-rc4 -- but the packer scripts is the best option.

[2020-09-10 02:42] #485 closed

[2020-09-10 02:45] ekristen commented on #484
@Katrina-Prescott I'm sorry this is probably not the best forum for this sort of question. Unfortunately I'm not familiar with xrdp. If you are able to access via SSH, then you should be able to access with other protocols. Feel free to response back, but for now I'm going to close this out.

[2020-09-10 02:45] #484 closed

[2020-09-10 02:46] ekristen commented on #481
There's a newer version available now https://github.com/teamdfir/sift-cli/releases/tag/v1.9.0-rc4

[2020-09-10 02:46] #481 closed

[2020-09-11 13:13] #490 closed

[2020-09-21 12:55] Bostek commented on #463
Hello, I have also issue with installing SIFT-CLI on WSL2, tried on following version:
_Linux  4.19.104-microsoft-standard #1 SMP Wed Feb 19 06:37:35 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux_

Having following error:

    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:529:23)
    at ChildProcess.emit (events.js:196:13)
    at maybeClose (internal/child_process.js:1011:16)
    at Proces

[2020-09-21 13:00] ekristen commented on #463
With WSL you need to run in server mode to skip all UI related changes.

Sent from my iPhone

[2020-09-21 13:36] Bostek commented on #463
Thank you, it worked. I didnt know that, back then I was installing it without any mode :)

[2020-09-22 17:43] ED-209-MK7 commented on #487
This is really disappointing. I have never seen SIFT so broken. Through a lot of trouble shooting and frankly guessing, most of my students and I got around this. Some were able to get past the .js issue about by trying the pre-release... others it worked fine out of the box.

When you run `sift update` it seems to look for and has a salt file in the /tmp dir that isn't there.... it says it is exp

[2020-09-22 18:15] ekristen commented on #487
Hi @ED-209-MK7 I'm assuming you are stating you are seeing the same error above?

If you'd like better assistance in the future, providing more details would of more benefit.

The CLI tool uses the internet to make a connection to GitHub where the source files for the Open Source Community Edition of SIFT resides. It downloads those files to the `/tmp` directory and performs a hashing function aga

[2020-09-22 18:16] ekristen commented on #487
@jdecrosta were you ever able to download the latest CLI and try again, a few adjustments have been made thanks to feedback and testing by other members of the community.

[2020-09-22 18:40] ED-209-MK7 commented on #487
I got it... for the newly downloaded VM.

Import the OVA.
Once logged in open a CLI...
[code]

It seems the first issue is that the VM was pushed out without a SIFT CLI being installed. Once the new SIFT CLI is installed it is looking to upgrade the salt-minion but is having issues because the VM ships with those packages being held.

A humble recommendation is that SIFT CLI check for this situati

[2020-09-22 18:47] ekristen commented on #487
This was an oversight, as we use to install it as part of the install process but that led to odd behavior so it was removed. Since we do not use the CLI to build the VM it wasn't getting installed. I can take note to add it back.

The CLI tool allows for change to held packages https://github.com/teamdfir/sift-cli/blob/master/sift-cli.js#L238

Can you provide any output that suggests it is unable

[2020-09-22 18:55] ED-209-MK7 commented on #487
![image](https://user-images.githubusercontent.com/29338568/93924732-5c4b6c80-fcd2-11ea-82e6-7583064a5df3.png)

I saw that, and checked for a hold. There was hold out of the box...

![image](https://user-images.githubusercontent.com/29338568/93924861-8e5cce80-fcd2-11ea-9139-0240d8e99aff.png)

Then tried it again....

![image](https://user-images.githubusercontent.com/29338568/93925019-bcdaa980-fcd

[2020-09-22 19:36] ekristen commented on #487
https://github.com/teamdfir/sift-cli/releases/tag/v1.9.2 -- fixes the held package on package remove issue in the first screenshot.

[2020-09-22 19:43] ED-209-MK7 commented on #487
HOLY SMOKES!!! Did you literally just go fix that and push it?!? Impressive!

Thanks!

[2020-09-22 19:46] ekristen commented on #487
Yes I did. You gave me enough info to see where the problem was in the last post, thanks, it's an edge case I wasn't setup to test.

[2020-09-22 19:52] ED-209-MK7 commented on #487
My disappointment is now ... envy! Thanks @ekristen !

[2020-10-02 06:48] ghb1912 opened #491 "sleuthkit lacks ewf support"
It appears that sleuthkit was not built with libewf or much of anything else. On SIFT workstation, whether from the OVA or from scratch:

[code]

and

[code]

On generic Ubuntu installs, on the other hand, we have:

[code]

and

[code]

Shouldn't sleuthkit support at least ewf?

[2020-10-02 13:21] ekristen commented on #491
Please provide version details of host and of the sleuthkit package.

[2020-10-04 06:20] ghb1912 commented on #491
Greetings -- my apologies for leaving out details. The following is from the downloaded OVA from https://digital-forensics.sans.org/community/downloads; however, I get identical results when I spin up a generic Ubuntu 18.04 VM and use sift CLI v1.9.2 to build my own:

[code]

Thank you.

[2020-10-04 14:16] ekristen commented on #491
I recently found the cause of this. It’s not the SIFT version being installed but from a repo we are dependent on which seems to be compiled with very little.

I don’t have the command at the moment to install the right version.

Sent from my iPhone

[2020-10-04 18:16] ghb1912 commented on #491
Ok. Thank you very much for checking and for the info.

[2020-10-07 04:49] ghb1912 commented on #491
In case it helps others: a workaround that worked for me was to download the sleuthkit source and compile it myself. It's very straightforward. I just unpacked v.4.10.0 and did './configure --prefix=/usr/local; make; sudo make install'. Since /usr/local/bin is already ahead of /usr/bin, that's all I needed to do (SIFT's sleuthkit binaries are in /usr/bin), other than log off/on. Result:

[code]

C

[2020-10-07 13:20] ekristen commented on #491
Thanks for the update. For you and everyone else you definitely don't need to compile but that's an options.

You can manually install the version that has support.

[code]
OR

[code]

4.7.0 is being built right now, but will look at up-ing to 4.10.0 soonish?

[2020-10-08 23:38] jdecrosta commented on #487
Erik,

   Apologies for the delay in replying - yes, I was able use this to fix the errors. Thanks so much for your quick reply!

[2020-10-10 08:24] naderhabbbab opened #492 "error in upgrading"
[saltstack.log](https://github.com/teamdfir/sift/files/5358652/saltstack.log)
i'v attached the log it regenerated

[2020-10-14 04:22] ekristen commented on #491
```apt-get install sleuthkit==4.7.0-2ppa1~focal```

[2020-10-14 04:22] #491 closed

[2020-10-14 04:23] ekristen commented on #487
Great.

[2020-10-14 04:23] #487 closed

[2020-10-14 04:27] #488 closed

[2020-10-15 04:55] Zan0101 commented on #488
Hi i get the same issue as well. How did you resolve it?

[2020-10-16 03:02] digitalsleuth commented on #290
Hi @philhagen, just going through some of the Issues and looking to help close them. I notice that the apt version of ngrep now matches the version at the repo you posted above, and it also looks as if the repo hasn't been updated in a while. Any chance this can be closed?

[2020-10-16 03:04] digitalsleuth commented on #281
Hi @zappeee , the newest version (which you referenced above) has been added to SIFT, with the appropriate version of construct to handle it. Do you still require this issue to remain open?

[2020-10-16 03:05] digitalsleuth commented on #269
@johnmccash and @CrustyBarnacle , the pstotal plugin has been fixed using the recommendations from @Pitteuchar. Do you still require this issue to remain open?

[2020-10-16 03:07] digitalsleuth commented on #266
@ekristen , this issue should hopefully be resolved with the recent changes. We might be able to close this and re-open if it continues to occur.

[2020-10-16 13:29] ekristen commented on #488
You can install net tools via apt, but we’ve added it to the build process the next version will have it

[2020-10-16 16:57] Darth-Leshioius opened #493 "log2timeline missing/broken in Ubuntu 18.04"
Log2timeline wrapper for Plaso seems either non-existent or broken when building with Ubuntu 18.04 LTS

This means that instructions/syntax in SIFT cheatsheet don't work as advertised.

Please advise.

[2020-10-16 16:58] ekristen commented on #493
How are you making this asserting? Please share commands run.

[2020-10-16 17:23] ekristen commented on #493
@Darth-Leshioius a lot of time it's hard to reproduce this sorta thing without more info, in this case I was able to verify.  It looks like somewhere along the line the requirement to install the CLI tool was removed or refactored away.

For now you can add it by running `sudo apt-get install plaso-tools` I've already fixed our builds scripts going forward.

[2020-10-16 17:25] #493 closed

[2020-10-16 17:47] Darth-Leshioius opened #494 "Plaso erroring out"
Plaso is erroring out when I attempt to use it on Ubuntu 18.04 LTS. I just ran full 'sift update' prior to attempting to use Plaso.

"2020-10-16 17:39:21,150 [INFO] (MainProcess) PID:20007 <data_location> Determined data location: /usr/share/plaso
2020-10-16 17:39:21,162 [INFO] (MainProcess) PID:20007 <artifact_definitions> Determined artifact definitions path: /usr/share/artifacts
Checking availa

[2020-10-17 14:03] ekristen commented on #494
This was recently discovered and resolved in the build system.

You can attempt to upgrade to the latest version of SIFT by using the SIFT CLI via `sift upgrade --pre-release` this will download and run `v2020.10.2-rc1`

[2020-10-17 14:06] ekristen commented on #492
`cat /etc/os-version` and what command did you run to upgrade?

[2020-10-17 14:08] ekristen commented on #475
https://github.com/teamdfir/sift-saltstack/releases/tag/v2020.10.2-rc1 has been released as pre-release, upgrade may or may not owkr. Unfortunately the deprecation of python2 has brought some challenge to everything.

[code]

[2020-10-17 14:09] ekristen commented on #463
Great, glad it worked for you.

[2020-10-17 14:09] #463 closed

[2020-10-17 14:10] ekristen commented on #435
@WriteCodeEveryday if you continue to have issues please feel free to re-open.

[2020-10-17 14:10] #435 closed

[2020-10-17 14:14] ekristen commented on #418
@philhagen unfortunately I'm not sure we can do this. I've looked at it a few different ways and the problem is that we have to "create" the swap file of 10-20GB and that's problematic when creating the OVA for distribution. It might have to be something that's done as a first step in the class work?

If you have thoughts of how this can be achieved without creating the file ahead of time I'm all

[2020-10-17 14:21] ekristen commented on #263
I believe this is now resolved.

[2020-10-17 14:21] #263 closed

[2020-10-17 14:25] ekristen commented on #264
Issue Clean -- this has been resolved.

[2020-10-17 14:25] #264 closed

[2020-10-17 14:25] ekristen commented on #266
Agreed @digitalsleuth

[2020-10-17 14:25] #266 closed

[2020-10-17 14:25] ekristen commented on #249
Issue Cleanup -- I believe this is now all resolved.

[2020-10-17 14:25] #249 closed

[2020-10-17 14:26] #281 closed

[2020-10-17 14:27] ekristen commented on #290
@philhagen looks like our 20.04 build has ngrep 1.47, not sure on 18.04 yet.

[2020-10-17 14:28] ekristen commented on #269
Thanks @digitalsleuth.

@johnmccash @CrustyBarnacle if you still experience issues please feel free to re-open.

[2020-10-17 14:28] #269 closed

[2020-10-17 14:28] digitalsleuth commented on #494
@ekristen Pull request [# 40](https://github.com/teamdfir/sift-saltstack/pull/40) fixes this, but wasn't merged prior to the most recent release.

[2020-10-17 14:31] digitalsleuth commented on #290
@ekristen 18.04 has it as well. Confirmed on a few working systems. It's currently 1.4.7 in the Ubuntu 18 repo.

[2020-10-17 14:36] #261 closed

[2020-10-17 20:14] muchar commented on #279
It's been some time and still a 404 trying to download the workstation...

[2020-10-17 20:35] ekristen commented on #279
@muchar downloads work just fine for me. You can also use the instructions on GitHub to build your own. As for ESXi 6 compatibility, I'm unsure. THe focus is on VMWare Workstation compatibility.

[2020-10-18 04:04] naderhabbbab commented on #492
this is the output
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.5 LTS
Release:        18.04
Codename:       bionic

$ sift -v
Version: 1.9.2

i ran sudo sift upgrade

please note that i upgrade my ubuntu on windows  from 16.4 to 18.04 the remove sift and add the new one sift 1.9.2

[2020-10-22 02:43] sahoo8920 opened #495 "SIFT Workstation VM based on Ubuntu 18.04 on SIFT VM Download Page."
Will the SANS Sift Workstation VM Download page make available a SIFT VM based on Ubuntu 18.04 once the Ubuntu 16.04 is no longer supported ?
I know we can manually install it on Ubuntu 18.04, just wanted to know about it.

Thanks.

[2020-10-22 02:59] ekristen commented on #495
Actually 20.04 will be the next. We are vetting it now.

Sent from my iPhone

[2020-10-22 03:08] sahoo8920 commented on #495
https://digital-forensics.sans.org/community/downloads
The link never updated with the 18.04 VM, it still linked the 16.04, that is why asked. Thanks for the update.

[2020-10-22 03:39] #495 closed

[2020-10-23 23:10] digitalsleuth commented on #494
@Darth-Leshioius This should be fixed for you now, try running the upgrade with the --pre-release option and let us know how it goes.

[2020-11-01 00:24] jklipsch opened #496 "[SALTSTACK] - step 4 errors out"
Hi All,

Noob here and for the life of me I can't get Rekall to work on Ubuntu 18.04 due to SaltStack errors. In following the install directions of the latest release, step 4 gives the following errors. If anyone can make me smart or share a fix, that would be greatly appreciated.

sansforensics@siftworkstation: ~/Desktop
$ sudo apt-get install salt-minion
[code]

Thanks in advance

[2020-11-01 00:55] ekristen commented on #496
Rekall is being removed and no longer supported in SIFT. The project isn’t really maintained anymore.

Sent from my iPhone

[2020-11-01 02:04] jklipsch commented on #496
Thank, Erik for the quick response. What's trending right now? Volatility?

[2020-11-10 01:45] ae61195p opened #497 "SIFT Workstation has limited tools after installation from .ova"
- Installation went okay, no issues. Looking at the applications available, there are only a handful installed. There are 54 installed apps including the normal system apps and programs.

[2020-11-10 02:15] ekristen commented on #497
How are you reaching this assertion? List? What tool are looking for that isn't there?

[2020-11-10 02:21] dralbundy commented on #497
By clicking 'Show Applications' in the bottom left in the VM. The ones that should be there based on the SIFT workstation download page aren't there. None of the tools listed below are there.

Software Includes:

log2timeline (Timeline Generation Tool)
Rekall Framework (Memory Analysis)
Volatility Framework (Memory Analysis)
3rd Party Volatility Plugins
bulk_extractor
autopsy
afflib
afflib-tools
C

[2020-11-10 02:23] ekristen commented on #497
They won’t show there. Most tools are CLI based.

Sent from my iPhone

[2020-11-10 22:17] rib0u opened #498 "sift-cli install fail on fresh Ubuntu 18.04.5 LTS install"
Hi,

Trying to install SIFT on a fresh Ubuntu 18.04.5 LTS install, and it fail with error bellow :

--------------------------
sift install

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:547:23)
    at ChildProcess.emit (events.js:315:20)
    at maybeClose (internal/child_process.js:1021:16)
    at Proce

[2020-11-10 23:05] ekristen commented on #498
Looks like a unicode error. Anything special about your install?

[2020-11-11 07:44] rib0u commented on #498
Hi,

Not that i could think of accept my language settings. i did again a fresh install using US based locale, and i ran into same issue.
---
root@SIFT:/home/fifou/Downloads# locale
LANG=en_US.UTF-8
LANGUAGE=
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_PAPER="en_US.UTF-8"
LC_NAME="en_US.UTF-8"

[2020-11-11 19:52] rib0u commented on #498
Hi,
I was reviewing saltstack.log, and something caught my attention :
      - DBUS_SESSION_BUS_ADDRESS: "dbus[4810]: Unable to set up transient service directory: XDG_RUNTIME_DIR "/run/user/0" **is owned by uid 0, not our uid 1000**
unix:abstract=/tmp/dbus-Cb8g9OrHOb,guid=49eb6c0a5e9de7905b1086515fab9460"

Instead of running "sift install" as root, i ran it as my normal user using "sudo sift inst

[2020-11-11 20:39] rib0u commented on #498
Hi,

Confirmed solved. sift install should be ran with sudo, not as root itself.

Thanks you.

[2020-11-11 20:39] #498 closed

[2020-12-06 23:25] gra55h0pp3r opened #499 "Error: Update returned exit code not zero"
I have attempted to install sift on version 18.04.04 LTS and 18.04.05 LTS and both get the following error message. I even tried installing sift in server mode 'sift install --mode:server'.

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:547:23)
    at ChildProcess.emit (events.js:315:20)
    at maybeClos

[2020-12-11 02:34] philhagen opened #500 "Add accessibility tools to base SIFT VM"
To support upcoming accessibility requirements, please ensure the following are installed on the base public SIFT VM.  I've verified the commands below on the 18.04 VM.

- Magnus: On-screen magnification tool
  - https://snapcraft.io/magnus
  - `sudo snap install magnus`
- Onboard: Alternative input option for motor accessibility
  - `sudo apt-get install onboard`
- Orca: Text-to-speech tool for a

[2020-12-11 03:17] ekristen commented on #500
So snaps are terrible. I suggest we avoid as long as possible. I’ll see if we can install it another way.

Sent from my iPhone

[2020-12-11 03:21] philhagen commented on #500
No worries at all!  I didn't mean to specify that as a solution, just something that WFM.

[2020-12-11 04:13] ekristen commented on #500
No worries! Just sharing knowledge. I’ll get it installed however we can.

Sent from my iPhone

[2020-12-16 21:20] GuardianCosmos commented on #499
@gra55h0pp3r see issue #498
Sounds like the same problem and is the result of running as root instead of running as the user with sudo

[2020-12-17 06:08] gra55h0pp3r commented on #499
I initially ran the install as root, but then rebuilt the VM and ran everything as sudo. The results and error are from running the install as sudo and not root. I will build a new VM and will try install SIFT again.

[2020-12-18 21:46] J-a-s-o-n-P opened #501 "SIFT CLI - Error: Update returned exit code not zero"
Hi,

When running sift-cli I get exit code not zero when the install hits "Running: sift-scripts":

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:547:23)
    at ChildProcess.emit (events.js:315:20)
    at maybeClose (internal/child_process.js:1021:16)
    at Process.ChildProcess._handle.onexit (internal/

[2020-12-19 22:15] timmyg558 commented on #501
I am having the exact same issue with the small difference that mine starts at ">> Running: sift-config".

[2020-12-19 22:16] ekristen commented on #501
Please provide logs. I’m looking Into it

[2020-12-19 22:23] timmyg558 commented on #501
Just reverted snapshot. I'll rerun. Which logs will you need me to attach to best assist you?

[2020-12-22 18:11] gunner4361 opened #502 "Volatilty"
Lots of errors on a fresh install of sift

Volatility Foundation Volatility Framework 2.6.1
*** Failed to import volatility.plugins.community.JeffBryner.twitter (ImportError: No module named lxml.html)
*** Failed to import volatility.plugins.malware.apihooks (NameError: name 'distorm3' is not defined)
You need to install pycoin for this plugin to run [pip install pycoin]
*** Failed to import volat

[2020-12-30 17:26] puku-777 opened #503 "listed un/pw pair for sift .ova download not accepted"
to reproduce:
click link for the sift .ova from [downloads page](https://digital-forensics.sans.org/community/downloads) and get directed to [login page](https://digital-forensics.sans.org/login/)
un `sansforensics` pw `forensics` is apparently wrong?

[2020-12-30 18:26] ekristen commented on #503
Login with sans account to download.

Listed creds are for the VM.

Sent from my iPhone

[2020-12-30 18:42] puku-777 commented on #503
oops! thanks

[2020-12-30 18:42] #503 closed

[2021-01-03 19:43] digitalsleuth commented on #501
Hi @J-a-s-o-n-P and @timmyg558 ,
I've reviewed your saltstack logs and you both appear to have two different errors.

@J-a-s-o-n-P , your error appears to be connection / apt related. The errors indicate that you were unable to download packages from the apt-repo, and the retcode: 100 indicates that your apt database was not updated (sudo apt update).

By running the `sudo apt update` command and

[2021-01-03 19:45] digitalsleuth commented on #499
@gra55h0pp3r Are you still having this issue? If so, can you attach your full saltstack log as well?

[2021-01-03 19:46] digitalsleuth commented on #502
@gunner4361 Is this from the download of the SIFT VM, or is it after installing SIFT using the CLI?
If you used the CLI, try running it again using the `--pre-release` argument as well.

[2021-01-03 20:45] timmyg558 commented on #501
@digitalsleuth Thank you for catching that since I completely missed it. Kicking myself. Modifications to my setup allowed successful install. Thanks again!

[2021-01-04 07:51] dnabanita7 opened #504 "[CLI] Update returned exit code not zero"
[code]
I use ubuntu 20.04 and am facing the above mentioned issue.

[2021-01-04 17:38] dnabanita7 commented on #504
Closing this as 20.04 is not yet supported.

[2021-01-04 17:38] #504 closed

[2021-01-12 00:58] michaelafry commented on #501
I had this as well, I was running as sudo, not root, I had a strong internet connection and had done the apt cleanup. I am using ubuntu 20.04. I tried the --pre-release command line parameter and it seems to be off and running.

[2021-01-12 08:41] Coding4Sec commented on #501
Hi. Crazy: Same error as @J-a-s-o-n-P . Did fix as specified by @digitalsleuth then ran sudo sift install --mode=server and same issue appears. Any idea? /etc/os-release output same as @J-a-s-o-n-P . running ubuntu 18.04 LXC... on proxmox

[2021-01-12 22:54] Darth-Leshioius commented on #494
I've ran 'apt-get update' and 'apt-get remove', then I run the following, and I still get the same error:

$ sudo psteal.py --source /dev/sdb1 -o l2tcsv -w l2t_all.csv
2021-01-12 22:52:35,225 [INFO] (MainProcess) PID:53042 <data_location> Determined data location: /usr/share/plaso
2021-01-12 22:52:35,507 [INFO] (MainProcess) PID:53042 <artifact_definitions> Determined artifact definitions path: /u

[2021-01-13 02:38] digitalsleuth commented on #501
Hi @Coding4Sec , any chance you can upload your saltstack.log file so we can take a look? There may be other items impacting your setup besides the issue which @J-a-s-o-n-P was having.

[2021-01-13 02:47] digitalsleuth commented on #494
Hi @Darth-Leshioius , try running `sudo sift install --pre-release` or `sudo sift upgrade --pre-release` to get the latest version of the packages. Pull Request [#40](https://github.com/teamdfir/sift-saltstack/pull/40) fixed this issue.
If you're still having this issue after this, you can remove your existing installation of redis and run `sudo apt install python3-redis` to fix it in the meantime

[2021-01-13 03:01] ekristen commented on #494
I just pushed a new release. 2021.1.0 no need for pre-release now

Sent from my iPhone

[2021-01-13 17:03] Darth-Leshioius commented on #494
I failed to mention yesterday that I'd also run 'sudo sift upgrade --pre-release' prior to posting. I ran 'sudo sift update' this morning, and also uninstalled, and reinstalled python3-redis. I'm still getting the same error as before about the redis version, even though the installed redis appears to be 3.5.3 from dpkg:

$ sudo dpkg -s python3-redis
Package: python3-redis
Status: install ok insta

[2021-01-13 18:47] Darth-Leshioius commented on #494
I figured out how to update the PIP3 redis, and now I'm able to successfully use Plaso. This may help others with a similar issue.

Thank you for your time and assistance with this issue.

[2021-01-13 18:47] #494 closed

[2021-01-14 04:42] RASHA909 opened #505 "Hi.. facing curl(23) failed writing body error..checked that input stream is not closed by any other perocess.. but no luck,,any hints pls"

[2021-01-14 05:31] RASHA909 commented on #505
facing curl(23) failed writing body error..checked that input stream is not closed by any other perocess.. but no luck,,any hints pls now

[2021-01-17 15:23] gnittala opened #506 "XUbuntu 18.04 SIFT install failure and fix"
Hello,
I was installing SIFT via the CLI on Xubuntu 18.04 and SIFT installation fails. The saltstack.log file is attached and there are 5 failures - all related to gnome dock.

### OS version details

### Error details
[code]

[code]
On the XUbuntu machine this fails. And the root cause of this is because of two missing packages.
- gnome-shell-extensions
- gnome-shell-extension-dashtodock

I found

[2021-01-17 15:27] gnittala commented on #505
Can you please provide some more details about this curl download. Are you downloading the CLI and installing it as `sudo sift install` or are you trying to download the `.ova`.

[2021-01-17 15:28] gnittala commented on #500
Trying to understand how this is going to be done; will these get added as salt packages so that they are pulled and installed as part of `sift install`.

Thank You

[2021-01-17 15:35] ekristen commented on #500
Correct. Look for them in the next couple of weeks.

On Sun, Jan 17, 2021 at 8:28 AM gnittala <notifications@github.com> wrote:

[2021-01-17 15:36] ekristen commented on #506
I'll take a look at adding these two dependencies.

Regards,
-Erik

On Sun, Jan 17, 2021 at 8:24 AM gnittala <notifications@github.com> wrote:

[2021-01-18 16:02] RASHA909 commented on #505
Sure Sir..
-> i downloaded .ova  -- no issues
-> logged into root     -- no issues
-> now i want to download sift..so, for that .. i want to download the sift package from root
-> however, when i used curl commend given on ur github page.. https://github.com/teamdfir/sift-cli/releases/tag/v1.9.2
-> the command given there  is..  curl -Lo /usr/local/bin/sift https://github.com/sans-dfir/sift-cli/re

[2021-01-18 17:38] ekristen commented on #505
Sounds permissions related

CURL Exit Code 23 is the following.
[code]

[2021-01-22 18:09] jackdyson1399 opened #507 "sit-config-tools: Update returned exit code not zero"
I am having issues installing SIFT through SIFT-cli on Ubuntu 18.04.5 LTS.
I am using a brand new VM and I am running the following commands on it to initiate the install:
- `sudo apt update`
- `sudo apt install curl`
- `sudo curl -Lo /usr/local/bin/sift https://github.com/sans-dfir/sift-cli/releases/download/v1.9.2/sift-cli-linux`
- `sudo chmod +x /usr/local/bin/sift`
- `sudo sift install`

Upon

[2021-01-22 19:13] ekristen commented on #507
It should be trying to install v2021.1.0 which is the latest, odd that you'd be getting an older version.

It appears that 99% of things installed, it was just some minor user config items that were missed.

[2021-01-22 19:13] ekristen commented on #507
You can run `sift upgrade` to get the latest.

[2021-01-22 20:20] jackdyson1399 commented on #507
Hi thanks for the advice. I did attempt to install the newest version first. Same error.
I was attempting this version as it is the same as the one I have that works. So wanted to see if it was the version or not. Which I ruled out as latest version and the older version creates same error.

I ran sift upgrade and it created the same error.

[2021-01-26 13:54] JackHumphries1994 opened #508 "SIFT install on Windows errors out at Running: sift-config"
Hi,

I'm trying to install SIFT manually on a Windows box and get the following error message repeatedly. I've upgraded, updated apt as it states, as well as attempting to run sift update too, which gets the same error.

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:547:23)
    at ChildProcess.emit (even

[2021-01-27 05:06] gra55h0pp3r commented on #499
@digitalsleuth

You can close this ticket. I re-installed Ubuntu 18.04.5 and ran the install command without any errors this time.

Thanks.

[2021-01-27 05:06] #499 closed

[2021-01-28 02:21] digitalsleuth commented on #508
Hi @JackHumphries1994 , There are a few issues listed in your saltstack.log, both of them appear unrelated. The first issue appears to be a problem with the installation of python2 in your Ubuntu Focal WSL instance. I'm not sure exactly is causing that error, but I'll look into it.

The second error comes from the configuration of the desktop environment. Now, keep in mind that since you're instal

[2021-01-28 02:27] ekristen commented on #508
You beat me to it @digitalsleuth had my response typed up and everything. Windows WSL required --mode=server ;-)

[2021-01-28 02:28] digitalsleuth commented on #507
Hi @jackdyson1399 , when you created this VM, was it a brand new SIFT VM downloaded from the SANS website, or was this one you created manually?

If manually, can you run salt-common -V or salt-minion -V and post the results?

Additionally, after looking at your saltstack.log, it appears that you only have one actual error during the installation, and that's the configuration of the theme. It appe

[2021-01-28 02:30] digitalsleuth commented on #508
You know what they say: great minds think alike :-) Finally had a chance to sit down at the computer today and do something other than work :+1: .

[2021-01-28 02:34] digitalsleuth commented on #502
Hi @gunner4361 , any word on this?

[2021-01-28 02:35] digitalsleuth commented on #501
@Coding4Sec , any chance you could provide a progress update on this? If you're still experiencing the issue, please upload your saltstack.log file so we can take a look.

[2021-01-28 11:26] JackHumphries1994 commented on #508
Thanks both @digitalsleuth @ekristen ! I didn't even think of that to be honest! I've re-ran the install in server mode and it still errors out. The logs definitely look to have a lot less errors in them, however the install didn't get as far. Whether this failure is due to the get-pip error, i'm unsure. I've attached the updated logs below.

Appreciate the fast response!

[saltstack.log](https://

[2021-01-28 13:06] jackdyson1399 commented on #507
Hi, thank you for the detailed help.
My set up was a clean Ubuntu 18 minimal install VM set up via Virtual Box. I was then running a bash shell script which included the install of SIFT to create the SIFT workstation but with a few extra features that my team needs.

I have now managed to get it to install successfully by changing my custom script to install Virtual Box Guest Editions and disable

[2021-01-28 20:31] digitalsleuth commented on #507
@jackdyson1399 Glad to help anytime. I'd be curious to know your step-by-step was for your install, and what your bash script contained, so I could potentially try to duplicate this error and determine what caused it, if you have the time of course.

Cheers!

[2021-01-28 20:35] digitalsleuth commented on #508
@JackHumphries1994 The only error found in your saltstack.log file appears to only be the python2 get-pip error. Mind you, even though it's only one error, it does impact many of the other tools in SIFT, including volatility (since python2-pip won't get installed).

All of the other non-python2 packages appear to have installed correctly. We'll keep you posted about the get-pip error, once we find

[2021-01-28 20:50] jackdyson1399 commented on #507
I'll get this write up for you tomorrow. I would be interested too if you could replicate and provide a more formal reasoning than mine.
Thanks again.

[2021-01-28 21:17] digitalsleuth commented on #508
Issue found. The get-pip script was recently changed to support only python3. However, bootstrap.pypa.io still has a 2.7/get-pip.py script which works. Testing is ongoing to ensure the toolkit builds properly with this change, then I'll submit a PR for the fix.

[2021-01-29 11:00] JackHumphries1994 commented on #508
I was just about to comment the same answer. When looking into the get-pip.py script, there's a syntax error that fails.

I manually installed the 2.7/get-pip.py script and re-ran the installation and got a success!

[2021-01-29 11:32] jackdyson1399 commented on #507
Okay so I have modified the script to make it more simple (removing comments and console output etc). The script is designed to log the console output of the commands in files, they will be saved to script execution directory for the purpose of testing. I had to change extension to txt from sh.

Unsuccessful script is here: [SIFTvm_Installer (Test).txt](https://github.com/teamdfir/sift/files/58935

[2021-01-29 16:48] digitalsleuth commented on #507
@jackdyson1399 I noticed that you said 'minimal install', then referenced 'default options on the welcome pages'. Did you install this VM with a Desktop Environment? If so, which one? Either that, or I'm guessing you might have used the 18.04.5 Desktop ISO instead of the minimal?

[2021-01-29 17:28] jackdyson1399 commented on #507
Hi yes I used the Desktop ISO but when in the GUI for the installation I chose the minimal option.

[2021-02-02 04:06] digitalsleuth commented on #505
@RASHA909 Were you able to resolve this? Based on your previous post, it looks like you didn't use the `sudo` command before your `curl -Lo /usr/local/bin/sift` command. If this is resolved, please get back to us and let us know.

[2021-02-02 15:10] RASHA909 commented on #505
No Sir
..do u have VMDK image with sift installed..
i mean.. a reputed company like u..has not completed the work..
pls send link of vmdk image with sift installed..
Regards

On Tue, Feb 2, 2021 at 9:37 AM Digital Sleuth <notifications@github.com>
wrote:

[2021-02-02 15:19] digitalsleuth commented on #505
Hi @RASHA909 , I can understand that you're likely frustrated with not being able to get your SIFT workstation set up. There are two ways to go about this:
1) `sudo curl -Lo /usr/local/bin/sift https://github.com/sans-dfir/sift-cli/releases/download/v1.9.2/sift-cli-linux`
`sudo chmod +x /usr/local/bin/sift`
`sudo sift install --mode=desktop` or `sudo sift install --mode=server` (depending on if yo

[2021-02-03 06:02] RASHA909 commented on #505
No Sir,
Am not frustrated..
Infact learned 3 to 4 methods how it will not work..

Yes.. downloaded ova only..but ur ova is without sift..and one needs to use
curl to download it.. i used browser also..but couldnt..

See if u can help..and share link of ur ...ova with sift already
installed...

Thanks..i started learning.. but the impression..that SANS tools work.. is
getting weaker

Nothing else
R

[2021-02-03 13:16] digitalsleuth commented on #505
@RASHA909 The issue you're having is in downloading something from GitHub using curl, and downloading it to a protected directory `/usr/local/bin`; in this case it happens to be the installer for SIFT you're unable to download. This is not an issue with the SIFT Toolkit or the installer; it is an issue of user account privileges to run the required command.

In an attempt to assist, please copy an

[2021-02-08 16:53] jackdyson1399 commented on #507
Hi,
has there been any update on this? My fix does not always seem to work. The error seems a bit unpredictable.

[2021-02-08 17:00] ekristen commented on #507
I am in the process of doing test builds now on several changes. Look for
an update soon.

On Mon, Feb 8, 2021 at 9:54 AM jackdyson1399 <notifications@github.com>
wrote:

[2021-02-08 21:33] jackdyson1399 commented on #507
Great thank you.
sorry for being hasty.

[2021-02-10 20:18] Coding4Sec commented on #501
Sorry for being late. I was busy with exams.... So i dropped the ubuntu lxc and set up a an ubuntu VM on proxmox. I now run into the same error reported here: https://github.com/teamdfir/sift/issues/507

[2021-02-10 20:19] Coding4Sec commented on #501
The CLI output:

[2021-02-10 20:22] digitalsleuth commented on #501
Hi @Coding4Sec , can you also attach the saltstack.log file, and the output of `salt-common -V`?

[2021-02-10 20:29] Coding4Sec commented on #501
No success: command not found

[2021-02-10 20:31] digitalsleuth commented on #501
Try `salt-call -V` or `salt-minion -V`. One of those should provide an output.

[2021-02-10 20:36] Coding4Sec commented on #501
ok.
Strange, I did reboot, now my prompt changed to <username>@siftworkstation...

Here is output form `sat-call -V`

secfor@siftworkstation: ~
$ salt-call -V
Salt Version:
           Salt: 3001.4

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: 2.8.1
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed

[2021-02-10 20:39] digitalsleuth commented on #501
Can you run `ls -la` in your home directory and check to see that all of the folders there are owned by your user?

[2021-02-10 20:43] Coding4Sec commented on #501
sure, all but two are not:
.kde
and
.cpanm
they are owned by root

[2021-02-10 20:45] digitalsleuth commented on #501
Change those to be owned by your user (to match the rest) using `chown -R <user>:<user>` and try running your sift install again. That should do it.

[2021-02-10 20:47] Coding4Sec commented on #501
Ok, Thanks. I will do and come back for feedback...

[2021-02-10 21:12] Coding4Sec commented on #501
Uhh, no success, same as before...

Anything else to do?

[2021-02-10 21:15] digitalsleuth commented on #501
Can you upload the saltstack.log from this attempt?

[2021-02-10 21:18] Coding4Sec commented on #501
Here we go
[saltstack.log](https://github.com/teamdfir/sift/files/5961583/saltstack.log)

[2021-02-10 21:24] ekristen commented on #501
Potentially looks like some unicode errors. Anything unique about your install? Foreign language?

[2021-02-10 21:24] #508 closed

[2021-02-10 21:24] Coding4Sec commented on #501
German... do we need english installation?

[2021-02-10 21:24] ekristen commented on #507
Latest builds on the latest version seem to be doing ok. Try doing an update pulling the latest version.

[2021-02-10 21:26] ekristen commented on #505
The OVA above has SIFT pre-installed on it. I'm going to close this.

[2021-02-10 21:26] #505 closed

[2021-02-10 21:26] digitalsleuth commented on #501
Can you share the output of `locale` here, and try running your sift install like this: `LANGUAGE=en_US.UTF-8 sudo sift install`
If that doesn't work, change LANGUAGE to LC_ALL.

[2021-02-10 21:27] digitalsleuth commented on #501
You read my mind @ekristen

[2021-02-10 21:27] ekristen commented on #502
@gunner4361 if you can follow up in the future, please do an I will re-open.

[2021-02-10 21:27] #502 closed

[2021-02-10 21:28] #500 closed

[2021-02-10 21:29] ekristen commented on #492
A new version has been released since you opened this, please try it, if you still have issues please comment back on this issue.

[2021-02-10 21:29] #492 closed

[2021-02-10 21:29] ekristen commented on #496
Volatility I believe is the only other viable option right now.

[2021-02-10 21:29] #496 closed

[2021-02-10 21:30] #475 closed

[2021-02-10 21:30] #497 closed

[2021-02-10 21:30] #433 closed

[2021-02-10 21:46] Coding4Sec commented on #501
yes, will do so. Let me try tomorrow morning. Will come back then. Locale: all entries are de_DE.UTF-8

[2021-02-10 22:17] Coding4Sec commented on #501
ok, tried

returned exit code not zero....

[2021-02-10 22:21] jackdyson1399 commented on #507
I will look into this tomorrow.
I did attempt to install SIFT v2021.2.0 on Tuesday but it created the error again. But this time it did not show that it had been installed, where as last time it showed it was installed.

I will upload more results tomorrow when I get them.

[2021-02-10 22:36] Coding4Sec commented on #501
ok, tried LC_ALL no success. I did a fresh VM ubuntu 18.04 in en. except timezone and layout in de. no success: exit code not zero... although sift-config throws error, the prompt changes to @siftworkstation

[2021-02-10 22:39] digitalsleuth commented on #501
Can you post the saltstack.log for this as well? It's possible that another error may have been introduced besides the original which will help narrow things down. And can you share the exact command you're using as well?

[2021-02-10 22:43] Coding4Sec commented on #501
1. $ LANGUAGE=en_US.UTF-8 sudo sift install
-> not zero

2. $ LANGUAGE=LC_ALL sudo sift install
and log:
[saltstack.log](https://github.com/teamdfir/sift/files/5962030/saltstack.log)

log for try#1 isn't available anymore

[2021-02-10 22:46] Coding4Sec commented on #501
this is from 2nd VM in en_US.... except timezone and keyb.-
[saltstack.log](https://github.com/teamdfir/sift/files/5962137/saltstack.log)
layout

[2021-02-10 22:47] digitalsleuth commented on #501
Just to clarify, the second attempt should have been `LC_ALL=en_US.UTF-8 sudo sift install`> I'm looking at the log now.

[2021-02-10 22:49] Coding4Sec commented on #501
uupps, ok, running this command... last thing to do for today... will upload log

[2021-02-10 22:52] digitalsleuth commented on #501
Actually your last install worked but with one separate error with pyhindsight. I'll take a look at this tonight, but I'm pretty sure I know the issue, related to setuptools_rust.

[2021-02-10 23:06] Coding4Sec commented on #501
ok, this is for
` LC_ALL=en_US.UTF-8 sudo sift install
`
[saltstack.log](https://github.com/teamdfir/sift/files/5962244/saltstack.log)

[2021-02-10 23:10] digitalsleuth commented on #501
That one installed fine except for pyhindsight due to the setuptools_rust error I mentioned earlier. I'll submit a pull for that tonight to fix it.

[2021-02-11 00:04] RASHA909 commented on #505
Thanks, Erik
Pleasure

On Thu, Feb 11, 2021 at 2:57 AM Erik Kristensen <notifications@github.com>
wrote:

[2021-02-11 03:41] digitalsleuth commented on #501
Issue found and resolved, but identifies a larger issue. Requires setuptools_rust and a newer pip version. I have the necessary changes ready for a pull request, but I'm in the midst of testing in both a Bionic and Focal docker (for a full fresh install), and a VM for an upgrade scenario. You can expect a pull request before EOD tomorrow.

[2021-02-11 10:54] jackdyson1399 commented on #507
Good morning.
So I have attempted to run the my script today trying to install `v2021.2.0`.
Again, it did not succeed. But this time, SIFT-cli does not even recognise that SIFT is installed. Whereas last time when it created the error, it still recognised that SIFT had been installed so the other commands like `sift upgrade`, `sift list-upgrades` etc worked, now they do not. Here is the informatio

[2021-02-11 16:13] ekristen commented on #507
@jackdyson1399 if it never gets a 100% successful install, it will not recognize a partial install. It's a design decision. However in the face of error it does not roll back, everything that was installed is still installed.

Looks like some errors around pyhindsight not being installed properly. We've had quite the number of problems getting all the python stuff to work correctly with the deprec

[2021-02-11 17:10] jackdyson1399 commented on #507
Okay thank you for looking into this.
I will keep trying to see if I can get it to fully install as any errors could cause issues when validating our lab, even if we can justify them.

[2021-02-12 05:43] Coding4Sec commented on #501
@digitalsleuth Any updates on how to proceed?

[2021-02-12 05:50] digitalsleuth commented on #501
Well the easiest way would be first to upgrade pip using `sudo python3 -m pip install --upgrade pip`, then install setuptools_rust with `sudo python3 -m pip install setuptools_rust`, and finally run `sudo python3 -m pip install pyhindsight`.

This will complete your latest install and, once the pull request is approved, you can try your install again.

[2021-02-12 21:31] eddocode commented on #507
Possible work around while pyhindsight issue (https://github.com/teamdfir/sift-saltstack/pull/48) gets resolved. This is what I had to do on fresh Ubuntu 18.04.5 to install sift (v2021.2.0). Also, puremagic is required by latest pyhindsight; you can install pyhindsight without the module but hindsight.py fails to start without puremagic module.

[code]

[2021-02-12 22:13] robertnixon2003 commented on #507
That didn't work for me:
[code]

[2021-02-13 03:07] digitalsleuth commented on #507
@robertnixon2003 Can you upload your saltstack.log file so we can take a look?
We are in the midst of testing a fix, so a full resolution should be available soon. However while your install may say it failed, reviewing the logs will allow us to see just where it failed, and if it's only as a result of one or two tools, which we can rectify and get it to 100%.

[2021-02-15 16:14] jackdyson1399 commented on #507
@eddocode thank you for your response.
I have tried your recommend installation process and it has allowed me to successfully install SIFT five times today, with no failed attempts.
I will update my scripts to include the 'pre-installation' of pyhindsight while a more "permanent" fix is issued in a newer version.

[2021-02-18 17:49] pyrodie18 commented on #507
Looks like I'm having the same problem as everyone else as well (log included).  I may give @eddocode idea a try
[saltstack.log](https://github.com/teamdfir/sift/files/6004794/saltstack.log)

[2021-02-19 13:51] eagerbeaver-ce opened #509 "sift 1.92 install fails - ModuleNotFoundError: No module named 'setuptools_rust'"
Hi,
I installed ubuntu 18.0.4.5 then installed the latest updates (sudo apt-get upgrade -y).
When installing SIFT CLI 1.92, I get the following error:

[code]

I added the saltstack.log.  Not sure, but checking it, it seems the error is based on this:

[code]

[saltstack-2.log](https://github.com/teamdfir/sift/files/6010417/saltstack-2.log)

[2021-02-19 13:52] eagerbeaver-ce commented on #509
Seems that the file was not attached.  attaching it again here.
[saltstack-2.log](https://github.com/teamdfir/sift/files/6010398/saltstack-2.log)

[2021-02-19 14:29] blebeIGeonAT commented on #507
This worked for me. Well, it fixed my first problem: SIFT error installing on a clean Ubuntu 18.04 VM. Thank you eddocode for this post!

But now I have a new problem: I get the same type of error message when attempting to add REMnux (addon mode) to my new SIFT machine. Any suggestions for how to fix?

My salfstack log file is attached.
[saltstack.log](https://github.com/teamdfir/sift/files/60106

[2021-02-20 22:35] eddocode commented on #509
@eagerbeaver-ce If you are still having issues installing sift, you can give this work around a try:
[code]

[2021-02-21 17:19] eagerbeaver-ce commented on #509
Thank you very much.  That worked.

[2021-02-21 17:19] #509 closed

[2021-02-23 21:15] p57p57 commented on #501
Hi gents. same case as the others.
I am running a pretty old version of sift ws but with the latest cli and a brand new ubuntu 18.04.
I did the apt updates and so forth. I ran sift update and sift upgrade that both failed.
 attached the log from the upgrade.

sift version ( i have updated the cli to 1.9.2 just before the upgrade and just after i am back in 1.5.1)

the error message:
 Running: sift

[2021-03-09 14:54] philhagen opened #510 "ssh config/config.bak ownership"
In the 20.04 build:
both `~/.ssh/config` and `~/.ssh/config.bak` are owned `root:root` and should be `sansforensics:sansforensics`.

[2021-03-09 15:48] ekristen commented on #510
Thanks will take a look ASAP.

[2021-03-15 15:28] philhagen opened #511 "set LC_TIME=C systemwide"
set LC_TIME=C so all (most?) shell time utilities respect formatting

[2021-03-16 00:05] Shirofune-Security opened #512 "Can't import OVF into VMware"
I cannot import the OVF file into VMware fusion 12 with the error "Failed to open OVF descriptor".
I think I tried a year ago and seems to still be broken.
<img width="637" alt="SIFT-failed-to-open-OVF-descriptor" src="https://user-images.githubusercontent.com/43838376/111236608-9caef600-8636-11eb-9a22-271ca52794fa.png">

[2021-03-29 18:59] michealb40 opened #513 "Docker SIFT / pip conflict"
I am attempting to create a docker image for SIFT using 2021.4 / Ubuntu 20.04.  It seems they moved the pip 21 URL.  I cannot seem to bypass this issue.  Logs attached.  I attempted to install pip 21 manually but I am not sure if it is still causing a conflict. Any advise is appreciated.

[results.yml.gz](https://github.com/teamdfir/sift/files/6223886/results.yml.gz)
[saltstack.log.gz](https://git

[2021-03-30 08:10] jackdyson1399 commented on #507
It seems the fix by @eddocode does not work every time. I have tried it about 15-20 times via the same method and its probably failed on half of them.
Does anybody know whether the newer releases come with a more permanent fix?
I am unsure how to find out.

[2021-03-30 14:47] digitalsleuth commented on #513
Hi @michealb40, I have submitted a pull request to correct the python2 PIP issue, however if you install python2 first, then `curl -o /tmp/get-pip.py https://bootstrap.pypa.io/pip/2.7/get-pip.py ` then `python2 /tmp/get-pip.py` you should be able to continue with the install normally.

I have a docker building as we speak with this configuration to test based on focal. Once it's confirmed working,

[2021-03-30 14:49] digitalsleuth commented on #507
Good morning @jackdyson1399, if you're looking to upgrade the existing installation, yes the latest release comes with the fix for that. If however you're about to start a new install, there is a minor issue with the python2 pip installation on focal. A fix has been submitted, but there is a workaround by installing python2 first, then the pip binary, then installing sift.

[2021-03-30 14:53] digitalsleuth commented on #512
@Shirofune-Security I'll take a look at this today and see if I can get you a workaround. However, it would actually be just as easy to create a brand-new Ubuntu 20.04 VM with the desktop environment installed, then install sift using the sift-cli.

If you create the new VM, vice importing the old one, you should install python2 first from APT (`sudo apt install python2`) then install the python2

[2021-03-30 15:54] michealb40 commented on #513
That did it!! Thanks a bunch for that!  I have a fully functional docker for testing.  I very much appreciate your help on that one.

I am going to push this one up overnight. Please feel free to use it for your testing/confirmation as well.

sha256:ad75713c9d44fc565adbed3a608f6c48f02a6405753b8a16c54f566107be4c4f

[2021-03-30 15:55] #513 closed

[2021-03-30 18:12] jackdyson1399 commented on #507
Great thank you for the help. I will close this issue as I presume there is another one open for the other minor issue.

[2021-03-30 18:21] ekristen commented on #512
We are looking to release an updated version of the OVA soon as well.

[2021-03-31 09:25] l34rn1t opened #514 "[CLI] Error: Update returned exit code not zero"
[saltstack.log](https://github.com/teamdfir/sift/files/6235438/saltstack.log)

uname -a output:
Linux sift000 4.15.0-112-generic #113~16.04.1-Ubuntu SMP Fri Jul 10 04:37:08 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

LC_ALL=en_US.UTF-8 sudo sift install

[saltstack.log](https://github.com/teamdfir/sift/files/6235439/saltstack.log)

Update returned exit code not zero
Error: Update returned exit code n

[2021-03-31 16:33] digitalsleuth commented on #514
Hi @l34rn1t , Ubuntu 16.04 is no longer a supported OS. Ubuntu 20.04 LTS is the latest supported OS, and would be recommended for your build of SIFT.

[2021-04-01 02:18] digitalsleuth commented on #513
Hi @michealb40 Glad to hear it's resolved. If you need some SIFT docker images, I have a couple available on the docker hub (just updated them with the newest releases for both bionic and focal). You can also find a docker-compose with the Dockerfiles at https://github.com/digitalsleuth/sift-docker for ease of configuration as well.

Erik has already merged the fix for the python2 pip issue, so yo

[2021-04-01 07:36] graememeyer opened #515 "SIFT Workstation Documentation on SANS.org Out-of-Date"
The documentation on SANS.org appears to be out of date, compared to the README in this repo. Specifically, this page contains numerous references and directs users to Ubuntu version 16.04 which is listed as no-longer-supported/deprecated by this repo: https://digital-forensics.sans.org/community/downloads

There's seven references to 16.04, and even one to 14.04 (in the context of REMnux). Presum

[2021-04-01 14:22] #507 closed

[2021-04-01 21:14] Xboarder56 commented on #514
I'm getting this exact error that @l34rn1t is reporting above on ubuntu 20.04 LTS desktop on a fresh install.

[2021-04-01 21:17] digitalsleuth commented on #514
Hi @Xboarder56 , can you attach your saltstack.log file so we can review it? The error that @l34rn1t received was for a different reason (different OS), so we'll need your log file to determine the cause of the error in your situation.

[2021-04-01 21:21] Xboarder56 commented on #514
@digitalsleuth it's attached below. I tried doing an update and remove without any success either.
[saltstack.log](https://github.com/teamdfir/sift/files/6246529/saltstack.log)

[2021-04-01 21:26] Xboarder56 commented on #514
@digitalsleuth it looks like there is still a reference to ubuntu 16.04 for the salt packages for powershell as the most likely cause.

[2021-04-01 21:35] digitalsleuth commented on #514
@Xboarder56 Thanks for uploading the log file. Can you run `cat /etc/os-release` and post the results? The log you attached references states (sift.packages.powershell_xenial) which either no longer exist, or are based on the existing OS (sift.packages.powershell_{{ grains['oscodename'] }}). Somehow saltstack is getting 'xenial' from the environment when it shouldn't especially if you're using Ubu

[2021-04-01 21:35] ekristen commented on #515
Thanks for the heads up, I'll work with the team to figure out where those are at and how to get it all up-to-date.

[2021-04-01 21:36] Xboarder56 commented on #514
@digitalsleuth below:

sift@siftworkstation: ~
$ cat /etc/os-release
NAME="Ubuntu"
VERSION="20.04.2 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.2 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-po

[2021-04-01 21:37] digitalsleuth commented on #514
Thanks. And can you also run `salt-minion -V` and `salt-common -V`? I should have put those in my last comment.

[2021-04-01 21:42] Xboarder56 commented on #514
salt minion returned results, salt-common isn't installed at all.

Salt Minion -V

`sift@siftworkstation: ~
$ salt-minion -V
Salt Version:
          Salt: 3003

Dependency Versions:
          cffi: Not Installed
      cherrypy: Not Installed
      dateutil: 2.8.1
     docker-py: Not Installed
         gitdb: Not Installed
     gitpython: Not Installed
        Jinja2: 2.11.3
       libgit2: Not Ins

[2021-04-01 21:44] digitalsleuth commented on #514
Perfect. Just so you're aware, v3003 of saltstack (common/minion) are not yet supported by SIFT. One easy fix would be to remove 3003 and install 3001, and trying again to see if that works. It's possible there might be an issue caused by the newer version, but I'm going to have to do a little testing to see if that's the issue.

Additionally, salt-common should be installed by the sift-cli by def

[2021-04-01 21:45] mpilking opened #516 "VMware tools not working on 20210331 internal build"
After booting the OVA created on 2021-03-31, VMware tools do not seem to function. I am running it in VMware Workstation 15.5.7. I cannot resize it through VMware, such as View > Fit Guest Now. I cannot copy and paste between the host and VM. I'm also unable to mount shared folders--the option is greyed out in the VM's settings.

[2021-04-01 21:45] Xboarder56 commented on #514
Just replied above, but it is installed just the command isn't valid

[code]

[2021-04-01 21:47] digitalsleuth commented on #514
Strange. Your common command did have too many 'm' 's though. But it's obvious to tell that the salt-(TAB) didn't show the salt-common.

[2021-04-01 21:57] Xboarder56 commented on #514
Just reverted back and got the same error during install. Running 3001.7 now for both minion and common. Really strange it's trying to grab that old package.

[code]

[2021-04-01 21:59] ekristen commented on #514
You only need salt-common. `salt-call --versions-report`

[2021-04-01 22:00] Xboarder56 commented on #514
salt-call --versions-report

[code]

[2021-04-01 22:01] ekristen commented on #514
The logs here https://github.com/teamdfir/sift/issues/514#issuecomment-812179829 failed on a powershell install, it resolved to install for xenial, but clearly you are on 20.04.

[2021-04-01 22:04] Xboarder56 commented on #514
@ekristen is there a way to manually install powershell for it to continue the reset of the installation.

[2021-04-01 22:10] digitalsleuth commented on #514
You can install Powershell manually, but that state will still try to install it for Xenial until we figure out why it's looking for xenial instead of focal.

[2021-04-01 22:11] ekristen commented on #514
Can you please do another install and provide the log.

[2021-04-01 22:21] Xboarder56 commented on #514
@ekristen I moved the old log to a new file, and just executed the install again.

[saltstack.log](https://github.com/teamdfir/sift/files/6246739/saltstack.log)

[2021-04-01 22:27] ekristen commented on #514
Looks like your apt database is busted and possible issues with python too.

Please run an `apt-get update && apt-get upgrade`.

Was this an upgraded OS? Like did you upgrade from xenial to focal? Did you previously have sift installed?

[2021-04-01 22:42] Xboarder56 commented on #514
no this is a pure fresh install from an ISO 20.04 and upgraded to 20.04.2

command results below:
[code]

[2021-04-01 22:50] digitalsleuth commented on #514
@Xboarder56 Out of curiosity, did you use the Ubuntu Server ISO or the Desktop ISO? And if server, did you install the desktop environment, and which one did you choose?

[2021-04-01 22:54] Xboarder56 commented on #514
I used the standard desktop iso. I can get you a hash of it @digitalsleuth

[2021-04-01 22:56] digitalsleuth commented on #514
No that's good. I don't doubt you're using the right one, I'm just trying to duplicate the error to figure out what happened. I'm using the 20.04.2.0-desktop ISO and no problem.

[2021-04-01 23:01] Xboarder56 commented on #514
ubuntu-20.04-desktop-amd64 MD5: EA28C4FD933BE55F9F01A5FA9E868490

just in case. I did a default installed username was sift, and I did install updates and 3rd party add ons.

[2021-04-01 23:49] digitalsleuth commented on #514
@Xboarder56 I'm trying to duplicate the issues, but something doesn't seem to fit, and I'm wondering if you can help me sort out some problems. Saltstack isn't installed in the default Ubuntu 20.04 release, and on a clean install, the sift-cli installs the 3001 release. You stated at the beginning, after posting your saltstack.log, that you had version 3003 installed. The log you provided at the t

[2021-04-02 00:00] Xboarder56 commented on #514
So I think I know why this occurred @digitalsleuth a fresh install did work correctly.

At the start I was gonna launch the salt stack version as a stand alone without the cli tools. So I went to salt stacks website and added the gpg key and installed salt stack manually using the below commands. Once this was done I manually installed salt stack minion using apt-get install salt-minion. Then I ma

[2021-04-02 00:03] digitalsleuth commented on #514
That makes some sense. There have been some recent changes with the way saltstack handles their repo, (saltproject.io vice saltstack.com) and using the `latest` keyword in the installation installed the latest version (`3003`).

Glad to hear you got this resolved and have a working installation.

[2021-04-02 15:22] mpilking opened #517 "libguestfs-tools is broken"
The libguestfs-tools package (virt-filesystems) does not work in the current 20.04 builds of SIFT (e.g. build from 2021-03-31), nor does it work in the publicly available SIFT based on 18.04.  I think we should either fix it before releasing a new Community SIFT, or just remove it.  In general, libguestfs-tools seems too brittle.  Alternatively, qemu-nbd is already in the new SIFT and I confirmed

[2021-04-02 15:37] ekristen commented on #517
What exactly is not working about libguestfs-tools. We are simply installing the pre-build package, so if it's not working, sounds like something is going with the upstream tool which is a bit odd, but not unheard of.

[2021-04-02 18:01] ekristen commented on #516
Confirmed, it seems open-vm-tools is not being installed properly for some reasons.

[2021-04-02 22:27] salty4n6 opened #518 "SIFT OVA missing sift-cli"
Hi,
I just downloaded the OVA from the SANS website and it appears that sift-cli is missing from the OVA.  Is that right?

![image](https://user-images.githubusercontent.com/81833785/113458687-b7c08a80-93d8-11eb-8198-853e7917e5a4.png)

Thanks,
Salty

[2021-04-03 01:14] ekristen commented on #518
Indeed it is missing, I'll make sure we get it added back. You can simply download it from the sift-cli repository so that you can use it as normal.

[2021-04-03 01:14] #349 closed

[2021-04-03 01:15] ekristen commented on #514
@Xboarder56 are we good to close this?

[2021-04-03 01:18] Xboarder56 commented on #514
Yes @ekristen this is good To go. Thanks for the help guys.

[2021-04-03 01:30] #514 closed

[2021-04-05 01:08] michealb40 commented on #513
Absolutely helpful and very appreciated!  Please let me know if there is
anything I can do to help.

On Wed, Mar 31, 2021 at 9:18 PM Digital Sleuth ***@***.***>
wrote:

[2021-04-05 13:34] salty4n6 commented on #518
Thanks.

[2021-04-05 18:11] mpilking commented on #517
The problem I'm seeing is that when I try to access a .vhdx image with `virt-filesystems`, it fails due to a missing file in the "supermin" mini VM that `virt-filesystems` spins up. It reports an error such as:

`guestfsd: error while loading shared libraries: libtsk.so.19: cannot open shared object file: No such file or directory`

It is not creating the supermin VM properly.  You can first valid

[2021-04-05 18:13] ekristen commented on #517
Oh, this might be pretty easy to fix, looks like libguestfs-tools is built against a different version of libtsk that is installed. I'll take a look at the source for libguestfs, might be able to solve this in a couple different easy ways.

[2021-04-05 18:22] mpilking commented on #517
I don't think it's libtsk that is the problem, even though it initially chokes on that file. I've tried to add that file into the supermin VM and then it fails on a different totally unrelated missing file. I think it more about building the supermin.  Feel free to try a fix, but again, I wouldn't let it take up much of your time. This tool overall seems too brittle.

[2021-04-06 08:03] graememeyer commented on #515
The link to "SIFT Workstation YouTube Series" on that same page is also broken. Near as I can tell, that playlist doesn't exist any more

[2021-04-14 00:54] digitalsleuth commented on #512
Hi @Shirofune-Security I've checked this using the SANS OVA from sans.org and VMware Fusion 12 without issue. Is there perhaps another OVA/OVF you were using for this? If you're still having the issues, I would follow what @ekristen mentioned and keep your eyes peeled for an updated OVA. This will likely address your issues as well.

[2021-04-14 06:39] naderhabbbab commented on #492
thank you it s worked

[2021-04-15 14:51] Sylver-Dragon opened #519 "File sift-cli-linux.sha256.asc appears to be empty"
I am attempting to install the sift-cli on a new system following the guide at:
https://github.com/teamdfir/sift-cli

During the download and verify process, I attempted to download the file:
https://github.com/teamdfir/sift-cli/releases/download/v1.10.0-rc3/sift-cli-linux.sha256.asc

This file appears to to be empty, which means that the following step fails:
`Validate the signature gpg --verify

[2021-04-15 15:23] ekristen commented on #519
Thanks for the report. Fixed in rc4.

[2021-04-15 15:23] #519 closed

[2021-04-15 15:23] ekristen commented on #516
This has been fixed.

[2021-04-15 15:23] #516 closed

[2021-04-15 15:24] ekristen commented on #517
We've removed libguestfs-tools from the build process for now until we confirm it's fixed and working again.

[2021-04-15 15:24] #517 closed

[2021-04-16 16:47] salty4n6 opened #520 "SIFT CLI - KDE Wallet Service"
Hi,
I installed SIFT on the SIFT OVA (sift was missing) and I'm doing a sift upgrade and I'm getting the following pop-up box.

![image](https://user-images.githubusercontent.com/81833785/115057274-771d4280-9ea9-11eb-8557-23b4acb4278b.png)

What package is doing this and what option should I pick?

Thanks,
Salty

[2021-04-17 18:30] salty4n6 commented on #520
I found reference to a similar issue and this seemed to resolve pip prompting for the KDE Wallet.

sudo python3 -m pip install --upgrade pip
sudo python3 -m pip install setuptools_rust
sudo -H pip3 uninstall keyring
sudo pip3 install --upgrade keyrings.alt

Salty

[2021-04-17 18:35] ekristen commented on #520
Hey @salty4n6 -- what SIFT OVA are you using where SIFT is not installed, that doesn't seem correct?

The current community OVA on SANS website does not have the SIFT CLI installed but it is still 100% SIFT.

I've never seen KDE Wallet installed before, to my knowledge both 18.04 and 20.04 SIFT builds are gnome based not KDE, so not sure where KDE stuff is coming from unless you aren't actually us

[2021-04-17 18:40] ekristen commented on #520
Regardless, the KDE wallet is nothing being installed directly by SIFT, could be a dependency of something I suppose or installed by default? Could be wrong about KDE vs GNOME too.

[2021-04-17 18:50] salty4n6 commented on #520
Hi, The KDE wallet issue was happening on the latest OVA that doesn't have SIFT installed but I followed the instructions for installing SIFT so I can have an up to date system.  I have also done clean Ubuntu 18.04 and 20.04 installs and installed SIFT and both installs give the same KDE Wallet prompts.  The only packages I've installed before installing SIFT are build-essential, dkms, vim, and th

[2021-04-17 20:18] salty4n6 commented on #520
Hi,
I did a clean Ubuntu 18.04.5 install, updated everything, installed a couple of packages (vim, dkms, and build-essential),
 and VirtualBox guest additions.  I installed SIFT and the KDE Wallet prompt happened again.

I also have a new home directory called {{ user }}.

The install failed with the following:

Update returned exit code not zero
Error: Update returned exit code not zero
    at Ch

[2021-04-17 22:10] ekristen commented on #520
I will take a look, we have primarily started to move on to 20.04, might be worth a try too

Sent from my iPhone

[2021-04-17 22:34] salty4n6 commented on #520
I'll give 20.04 a rip and let you know.

[2021-04-18 13:34] salty4n6 commented on #520
20.04 has the same KDE Wallet pop-up and the {{ user }} issue.  From looking at the salt.log, it looks like the errors are related to the changes to the sansforensics user account.  The KDE prompt is still strange but I'll run the SIFT install again to see if it comes back and if it does then I'll run the other commands I found earlier then run SIFT install again to see if the prompt comes back.

[2021-04-18 13:37] salty4n6 commented on #520
Good news is the system knows that SIFT is installed

![image](https://user-images.githubusercontent.com/81833785/115147563-1463ac80-a04b-11eb-8fb9-962adbe75fc9.png)

running sudo sift update now

[2021-04-18 13:45] salty4n6 commented on #520
sudo sift update prompts for the KDE Wallet then I ran

sudo python3 -m pip install --upgrade pip
sudo python3 -m pip install setuptools_rust
sudo -H pip3 uninstall keyring
sudo pip3 install --upgrade keyrings.alt

I ran sudo sift update and the KDE Wallet prompts are gone.  Not sure what all is going on.

Salty

I attached the salt log for the last run with the upgrade to keyrings.alt
[sift-keyri

[2021-04-19 13:07] ekristen commented on #520
I haven't seen this happen through normal use, but since you are upgrading pip, perhaps it's related to that. I'll check with a few others as well.

[2021-04-19 15:45] salty4n6 opened #521 "SIFT CLI - {{ user }}"
Hi,
While running the desktop mode install, I'm getting a home directory called {{ user }}.  Most of the desktop changes of the SIFT install aren't working.  The wallpaper appears to be the only one that was successful. I attempted to follow the salt.log to see what all is going on but I'm failing miserably.  This issue happens on both Ubuntu 18.04 and 20.04.  I've run through the with various acc

[2021-04-19 22:59] esentner commented on #521
I installed on 18.04 yesterday and got the same thing.  I'm trying again on 20.04 but expect since you got this, I'll see the same.

[2021-04-19 23:05] esentner commented on #520
I saw the same popup when I installed on a fresh 18.04 box yesterday. The install error'd out from lack of space, so I had to add more space to root and tried again, and the popup didn't come back but it still gave an error and left a {{user}} folder in /home.  I thought something broke due to the space issue and since there's no way to uninstall sift, I've rebuilt the box with 20.04 and and tryin

[2021-04-19 23:08] ekristen commented on #520
I'll take ac closer look tonight/tomorrow, some recent changes were made with the user, but I think we fixed one bug but might not have pushed the change.

Regard PGP, it shouldn't matter PGP is PGP, but I'll verify and see what's causing a problem.

[2021-04-20 03:25] esentner commented on #520
[code]

[code]

[2021-04-20 03:54] esentner commented on #520
Tried older release of sift-cli (1.9.2) and it still errors out.
[code]

[code]

[2021-04-20 19:47] ekristen commented on #521
I think this was an accidental bug introduced in the 2021.4.2 update, the 2021.4.3 is out and I don't see it happening there.

[2021-04-20 19:48] ekristen commented on #520
I believe this was an accidental bug introduced in 2021.4.2, but not seeing it in 2021.4.3. Please run an upgrade or fresh install and let me know. I'm doing a full run through as we speak.

[2021-04-20 20:19] canadianmuppet commented on #519
I am currently trying to install on a HyperV Ubuntu 18.04, and when I try to gpg verify "sift-cli-linux.sha256.asc" I get
"gpg: verify signatures failed: Unexpected error"
Is this the correct SHA256 for "sift-cli-linux.sha256.asc" ?
"ad66011043442c34d13ccd1df5553c89e9373da6ae15f73993f69457b596f6e4"
Many thanks for any help.

[2021-04-20 20:25] ekristen commented on #519
We have a known issue with the signing at the moment, working to resolve. You are still safe to download from the GitHub releases, this is just extra verification.

[2021-04-20 20:42] ekristen commented on #519
1.10.0-rc5 is now fixed.

[2021-04-20 21:00] canadianmuppet commented on #519
Cheers for the quick response, just tried it and it works.
Many thanks.

[2021-04-21 01:49] salty4n6 commented on #520
Hi Erik,
I did a clean install of Ubuntu 20.04 and installed with the latest version 2021.4.3 and I had the same results ( KDE Wallet and {{ user }}). I ran a sift update afterwards and I'm still getting errors.  I'm attaching the log for the update.  I forgot to grab the log for the clean install.
Thanks,
Salty
[saltstack.log](https://github.com/teamdfir/sift/files/6347506/saltstack.log)

[2021-04-21 02:16] salty4n6 commented on #520
Hi Erik,
I did a clean install of Ubuntu 20.04 and installed with the latest version 2021.4.3 and I had the same results ( KDE Wallet and {{ user }}). I ran a sift update afterwards and I'm still getting errors.  I'm attaching the log for the update.  I forgot to grab the log for the clean install.
Thanks,
Salty
[saltstack.log](https://github.com/teamdfir/sift/files/6347506/saltstack.log)

[2021-04-21 05:06] ekristen commented on #520
I’m running another build now, so far haven’t reproduced it.

Sent from my iPhone

[2021-04-21 13:40] ekristen commented on #521
Finally duplicated this. Attempting to track it down.

[2021-04-21 13:40] ekristen commented on #520
Ok I duplicated this as well. Looks like they are entirely unrelated.

[2021-04-21 13:42] salty4n6 commented on #520
Good timing.  I was just about to post my update from another machine going from 2021.4.2 to 2021.4.3.

Thank you for looking into these issues.

[2021-04-21 13:47] #521 closed

[2021-04-21 13:48] ekristen commented on #512
I'm going to close this issue out, it's been over a month. If you would like to revisit this, please comment and I will re-open.

[2021-04-21 13:48] #512 closed

[2021-04-21 13:49] ekristen commented on #510
Thanks to @digitialsleuth we have a fix.

[2021-04-21 13:49] #510 closed

[2021-04-21 13:54] ekristen commented on #520
I have a fix for `{{ user }}` -- we'll see if they are actually linked together. I spun up an older OVA that doesn't have any of these issues. Looking at the differences.

[2021-04-21 15:28] ekristen commented on #520
It's the latest version of pip that is doing the KDE wallet stuff. Pip wants to create a wallet for some reason :/

[2021-04-21 15:31] ekristen commented on #520
Apparently this is a known issue that is being worked on in a number of different ways.

[2021-04-21 18:09] salty4n6 commented on #520
Just upgraded via 2021.4.4 - all good with the {{ user }}.  Thanks Erik.

[2021-04-21 21:53] codifiedlikenessutility1970 commented on #501
I am having trouble with my install dropping while running: sift-config-tools....it also changes my hwclock even doing the update this: `LC_ALL=en_US.UTF-4 sift update `

I am including my output for `salt-call -V`
 salt-call -V
Salt Version:
           Salt: 3001.7

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: 2.8.1
      docker-py: Not Insta

[2021-04-21 21:55] codifiedlikenessutility1970 commented on #501
This is where it drops:

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:542:23)
    at ChildProcess.emit (events.js:315:20)
    at maybeClose (internal/child_process.js:1051:16)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:287:5)

----- PLEASE READ ----------------------

A lot of

[2021-04-21 22:11] digitalsleuth commented on #501
Hi @codifiedlikenessutility1970 , can you check the permissions on the /home/timelord/.dbus directory, and confirm that it has the proper permissions (should be set to timelord:timelord or permissions specific to the timelord user)?
The error is coming from the dconf command, which is modifying the contents of the .dbus dir.

[2021-04-21 22:23] codifiedlikenessutility1970 commented on #501
Hmmm. It's root.

[2021-04-21 22:23] codifiedlikenessutility1970 commented on #501
I started the dl/install process in timelord.

[2021-04-21 22:46] digitalsleuth commented on #501
If you haven't already, please change the permissions to the proper permissions and try running the install command again.

[2021-04-22 00:18] ekristen commented on #501
I’ll review permissions tonight. I just did a fresh install though with no problems.

[2021-04-22 00:56] codifiedlikenessutility1970 commented on #501
Thanks, @digitalsleuth! That did it!!!....two things that were odd, but I don't think were related to this was it switching my timezone and it also moved my dock from the left side to the bottom...both happened at the end of the where it kept cutting out. Thanks again!!!

[2021-04-28 09:30] angry-bender opened #522 "Feature Request - Zeek"
Requesting Zeek to be included as a package in the zeek CLI.

There is a deb package available at https://download.opensuse.org/repositories/security:/zeek/xUbuntu_20.04/

This would match the SIFT VM, provided with FOR572.

[2021-04-30 11:05] beedjbite opened #523 "invalid OS, unable to determine ubuntu version"
I have follow to the install instructions (https://github.com/teamdfir/sift-cli#installation) serval times, tested to install sift in the supported ubuntu.desktop 16&18 but keep getting following error:

sudo sift install

invalid OS, unable to determine ubuntu version
Error: invalid OS, unable to determine ubuntu version
    at validOS (/snapshot/sift-cli/sift-cli.js:162:11)
    at run (/snapshot

[2021-04-30 11:47] ekristen commented on #523
We support 20.04 LTS

[2021-04-30 14:20] hunttom opened #524 "[CLI] New Releases of SIFT CLI does not include 'Latest' tag"
Recommendation: Is this possible to tag SIFT CLI with 'Latest' Tag in order to keep commands simplified for automated build processes?

Example:
Use the following to install SIFT CLI: `curl -Lo /usr/local/bin/sift https://github.com/sans-dfir/sift-cli/releases/download/latest/sift-cli-linux`

Or if requiring a specified version:
`curl -Lo /usr/local/bin/sift https://github.com/sans-dfir/sift-cli/r

[2021-05-02 21:13] D4ziel commented on #523
hi,
following up on the error above which I also experienced.

I am using Linux on my chromebook (I guess it is called Crostini) and the OS seems invalid. Do I need to install ubuntu if I am to get SIFT working?

cheers,

[2021-05-02 21:22] ekristen commented on #523
We only support Ubuntu 20.04 at this time.

[2021-05-04 10:38] fbourla opened #525 "Bad ASC file on the SIFT-CLI repository"
There is a small issue on the [SIFT-CLI repository](https://github.com/teamdfir/sift-cli). The ASC file is not healthy, which prevents users from validating the SHA256 signature with "shasum -a 256 -c sift-cli-linux.sha256.asc" or "sha256sum -c sift-cli-linux.sha256.asc".

The problem seems to have been introduced with v1.10 in April last year. The ASC file in v1.9.2 seems to be fine.

[2021-05-05 15:41] 8ear opened #526 "Update Readme.md"
Hi,
in #523 you say that you support only Ubuntu 20.04 at the moment. But your readme file say:

Supported Distros
18.04 Ubuntu Desktop (only default Gnome Desktop)
18.04 Ubuntu Server (use --mode=server with the CLI tool)

Upcoming Support
20.04 Ubuntu Desktop
20.04 Ubuntu Server

Deprecated / No Longer Supported
14.04 Ubuntu
16.04 Ubuntu

____
So I think it should be changed to:

Supported Distr

[2021-05-09 14:27] D4ziel opened #527 "[CLI] sift install => permission denied, mkdir '/var/cache/sift'"
Hi,
Very noob with linux so apologies for missing the basics (UBUNTU 20.04 LTS on Windows).

I am trying to install sift after having followed the previous steps and I get the following issue:
Can you please guide me on what I can do? thanks

"_> sift-cli@1.10.0-rc5+0-ga2e1d5f

EACCES: permission denied, mkdir '/var/cache/sift'
Error: EACCES: permission denied, mkdir '/var/cache/sift'

----- PLEAS

[2021-05-09 18:10] D4ziel commented on #527
Hi,

I tried again, now using "sudo sift install" but with no lack and the following new error. Any tip?

"_> sift-cli@1.10.0-rc5+0-ga2e1d5f

Installing and configuring SaltStack properly ...

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:542:23)
    at ChildProcess.emit (events.js:315:20)
    at maybeCl

[2021-05-11 16:53] ekristen commented on #527
Add `--mode=server`, WSL does not support the desktop install of SIFT, no X11 env.

[2021-05-11 16:55] ekristen commented on #525
There was an ASC issue for a short while, it's been remedied on the latest RC release and the 1.10.0 that was just released.

[2021-05-11 16:56] ekristen commented on #525
I'm going to close, if you think there is still a problem, please comment back on the issue.

[2021-05-11 16:59] ekristen commented on #520
Glad it's working.

[2021-05-12 09:46] D4ziel commented on #527
thanks ekristen! it worked very nicely

[2021-05-17 14:16] jackdyson1399 commented on #298
Is there a way to identify if there is a new version of sift-cli available via terminal?
Like for new SIFT releases there is the 'sift list-upgrades' command, I was wondering if there was something for sift-cli as I just by chance noticed you released a new version recently.

[2021-05-17 18:23] ekristen commented on #298
There is no feature built in at this time. Looking at this projects releases is about the only way. I'm looking into adding a new feature for it though, but have no ETA.

[2021-05-17 18:39] jackdyson1399 commented on #298
No worries. Just wanted to check. It's easy enough scripting to open the releases url.

[2021-05-17 18:40] fbourla commented on #525
Unfortunately not. The ASC should indeed be a SIG file, and it should contain the hash of the sift-cli-linux executable instead of the relative path "release/sift-cli-linux.sha256".

At the moment, the SHA256 signature verification as defined at [https://github.com/teamdfir/sift-cli#installation](https://github.com/teamdfir/sift-cli#installation) (see step 5) cannot work.

[2021-05-18 07:37] Nima-pw commented on #501
Hi,

Dear @digitalsleuth, I have the same issue (exit code, not zero). Could you please check my logs?

Ubuntu 18:
[saltstack-18.log](https://github.com/teamdfir/sift/files/6499243/saltstack-18.log)

Ubuntu 20:
[saltstack-20.log](https://github.com/teamdfir/sift/files/6499246/saltstack-20.log)

[2021-05-18 12:06] digitalsleuth commented on #501
Hi @Nima-pw, It looks like the issue is with pefile. I encountered this recently with REMnux, and we created a temporary fix while we await the permanent fix being merged by the original author. The issue is covered [here](https://github.com/erocarrera/pefile/issues/318).

I'll submit a pull request to change the state temporarily, and once the issue is fixed by the author, return it to its origin

[2021-05-18 13:54] Nima-pw commented on #501
Thanks, @digitalsleuth, for your reply.
Unfortunately, I did not fully understand the temporary solution.
The temp fix is this?
"modifying lines 3789 and 3790 to replace the f' string formatting with .format() then everything works as it should."

Where should this edit be done?

[2021-05-18 13:56] digitalsleuth commented on #501
Hi @Nima-pw, the reference shows you where the issue was caused, I am submitting a fix shortly for this. Once merged, the issue will be resolved.

[2021-05-18 14:06] digitalsleuth commented on #501
Pull request [53](https://github.com/teamdfir/sift-saltstack/pull/53) has been submitted to provide a temporary fix. For the time being, you may be able to install pefile manually first, then running the sift-cli installer to complete the install.

To install the 'temporary fix' version of pefile, you can run the following:
`python2 -m pip install git+https://github.com/digitalsleuth/pefile.git`

[2021-05-18 14:25] Nima-pw commented on #501
Thanks, @digitalsleuth,
I will do it and come back for feedback.

[2021-05-18 15:28] Nima-pw commented on #501
The result of installing the 'temporary fix' version:

[code]

But the saltstack.log (ubuntu 20):

Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:547:23)
    at ChildProcess.emit (events.js:315:20)
    at maybeClose (internal/child_process.js:1021:16)
    at Process.ChildProcess._handle.onexit (internal/c

[2021-05-18 15:35] digitalsleuth commented on #501
@Nima-pw , the errors seen in the saltstack.log you provided indicate that there was an issue downloading some files, not related to pefile:

`# [ERROR   ] Error: HTTP 599: Timeout while connecting reading https://didierstevens.com/files/software/virustotal-submit_V0_0_3.zip`
`# [ERROR   ] Error: HTTP 599: Timeout while connecting reading https://didierstevens.com/files/software/virustotal-search_

[2021-05-18 18:35] ekristen commented on #525
@fbourla I've verified what you are seeing now. I'm looking into it.

[2021-05-19 04:24] Nima-pw commented on #501
@digitalsleuth you are great!
Thank you, man!

[2021-05-19 04:24] Nima-pw commented on #501
@digitalsleuth you are great!
Thank you, man!

OMPLETED SUCCESSFULLY -- Success: 654, Failure: 0

[2021-05-19 17:24] TylerTenlen commented on #501
@digitalsleuth  Thank you so much for the fix regarding pefiile. I was having issues with this for a few days and this resolved it.

[2021-05-20 09:45] jackdyson1399 commented on #501
Hello,
My SIFT install is failing too, with the below message:

I am attempting to install `SIFT v2021.4.4` using `sift-cli v1.10.0` on an `Ubuntu 20.04` VirtualBox VM.
The exact command I am running for the install is: `sudo sift install --version=v2021.4.4 --user=test`
I am doing it this way as my aim is to script the SIFT install with some other components, but the script will be run with sudo

[2021-05-20 11:44] digitalsleuth commented on #501
Hi @jackdyson1399 , looking at your log files, the first one shows that you had a connectivity issue, which is why it errored out (the one called PREfix). The one called POSTfix is failing due to the same pefile issue we mentioned earlier, and can be fixed temporarily by following the steps [here](https://github.com/teamdfir/sift/issues/501#issuecomment-843202682) prior to running the sift-cli.

A

[2021-05-20 12:33] digitalsleuth commented on #501
@jackdyson1399 , you'll then need to install python2 first. Use the following commands to do that, then do the pefile fix above. Make sure, as well, when you run the pefile fix that you run it with `sudo`:

`sudo apt-get install python2 git curl -y`
`curl -o /tmp/get-pip.py https://bootstrap.pypa.io/pip/2.7/get-pip.py`
`sudo python2 /tmp/get-pip.py`
`sudo python2 -m pip install git+https://github.

[2021-05-20 12:44] jackdyson1399 commented on #501
I will give this a try now and report back to you.

[2021-05-20 13:33] ekristen commented on #501
I need to go to new release for the CLI to pick up the PE file fix.￼

However if you are wanting to programmatically install sift I would suggest you look at using salt directly in the salt stack repository versus trying to use the CLI￼

[2021-05-20 13:46] jackdyson1399 commented on #501
Just completed the SIFT update now. Thank you for your help!
I recon my issue was I did not run your pefile fix with sudo.

Interestingly though, the Desktop and the tool bar has not changed, but it did when the install failed. This is only minor but don't want to be missing anything. The saltstack.log for the successful attempt without the correct Desktop wallpaper and reorientation of the tool b

[2021-05-21 21:56] TechButton opened #528 "Error - Update returned exit code not zero - snapshot/sift-cli"
Same error on WSL 20.04 and 20.04 Desktop with /snapshot/sift-cli/shift-cli.js:542:23 events.js:315:20 internal/child_process.js:1051:16 and internal/child_process.js:287:5

errors out on the same part when I run the --mode=server and without it on the 20.04 desktop version.

[2021-05-24 12:03] tompolth commented on #501
Hi everyone,

I am trying to update and I am getting this error:
 Running: sift-config-tools
Update returned exit code not zero
Error: Update returned exit code not zero
    at ChildProcess.<anonymous> (/snapshot/sift-cli/sift-cli.js:545:23)
    at ChildProcess.emit (events.js:315:20)
    at maybeClose (internal/child_process.js:1021:16)
    at Process.ChildProcess._handle.onexit (internal/child_p

[2021-05-24 13:04] digitalsleuth commented on #501
Hi @tompolth , There are a few different errors there. The easiest one to fix is to follow the steps [here](https://github.com/teamdfir/sift/issues/501#issuecomment-843202682), as this will resolve the pefile issue found in the log.

The other errors center around the sha256 hash being different from some of the PDF's that are being downloaded. I'll take a look at those later today and see if the

[2021-05-24 13:40] digitalsleuth commented on #528
Hi @TechButton Any chance you can provide the saltstack.log file from your installation? This will help us narrow down the error.

[2021-05-24 20:59] salty4n6 commented on #518
Hi.
I downloaded the latest version of the OVA - Ubuntu 20.04 and the sift program is missing.  Everything else appears to be there and functional.

Is sift supposed to be there or are we okay just doing sudo apt update && sudo apt upgrade to keep the system up to date?
Thanks,
Salty

[2021-05-24 22:46] TechButton commented on #528
[saltstack.log](https://github.com/teamdfir/sift/files/6535354/saltstack.log)

[2021-05-24 22:47] TechButton commented on #528
There is the file from one of the machines, I just tried it again, and same error. I am getting to the same spot on another machine. I am thinking it is a URL block somewhere that it is not able to download something.

[2021-05-24 23:02] TechButton commented on #528
I saw the checksums failed on the desktop. I deleted those files from the folder and ran it again and I got a success message. But now I don't have any cheatsheets on the desktop.

SIFT already installed, please use the update or upgrade command

[2021-05-25 22:29] TheAlienDrew opened #529 "[Question] Why use libbde-utils over dislocker?"
I'm not saying one or the other is better, but I've been using dislocker for a while (until it recently started not working), and wondering what advantages libbde-utils has.

[2021-05-26 00:16] ekristen commented on #529
I'm not aware of any conscious decision between one vs the other, there have been talks of adding dislocker previously, however lib bde is already apart of the GIFT/Libyal suite so we install it.

[2021-05-26 00:20] TheAlienDrew commented on #529
In that case, had any unlocking issues with 1909 or newer Windows BDE drives?

[2021-06-01 03:20] digitalsleuth commented on #528
Hi @TechButton , apologies for the delay in getting back to you. The issue you received in the saltstack.log file above is from a hash mismatch between some of the PDF's which get downloaded. The remainder of the software has installed fine, and once the new hashes and URL source for the PDF are updated, your install should run error free.

[2021-06-01 07:02] tompolth commented on #501
Hi @digitalsleuth

I am very sorry for my late answer. Work kept me very busy. Just thank you for your help, your solution fixed the problem

[2021-06-05 12:50] KDPryor opened #530 "Won't boot in Virtualbox on Linux"
I imported the OVA in Virtualbox and then started the VM. When starting the VM, all I get is the Vbox BIOS screen and then the grub menu. After that, I just get a black screen with the cursor flashing. Probably something I'm missing, but wondered if anyone had a suggestion

[2021-06-06 01:26] KDPryor commented on #530
Please disregard. I just installed SIFT manually in a new Ubuntu VM instead.

[2021-06-06 01:26] #530 closed

[2021-06-06 11:20] joachimmetz commented on #529
FYI `libbde-utils` is Debian maintained and seriously out of date https://packages.ubuntu.com/bionic/libbde-utils, https://packages.ubuntu.com/focal/libbde-utils

`libbde-tools` is the name of the package in the GIFT PPA which is up to date https://launchpad.net/~gift/+archive/ubuntu/stable/+packages?field.name_filter=libbde&field.status_filter=published&field.series_filter=

@TheAlienDrew first o

[2021-06-11 03:06] philhagen commented on #511
would still like this to get in if not already

[2021-06-11 03:20] ekristen commented on #511
Definitely. Added labels so it won't go stale again. I don't recall if this made it in the latest. I'll verify

[2021-06-11 15:15] TheAlienDrew commented on #529
That's pretty useful information, thanks this is helpful. I'll close this now.

[2021-06-11 15:15] #529 closed

[2021-06-13 05:51] Nima-pw opened #531 "I can not use Volatility in SIFT"
Hi sir

I want to use volatility in SIFT workstation, but I faced with error (Snapshot1 = Windows 10 X64):

`vol.py -f Desktop/DF-Files/Memory/Snapshot1.dmp imageinfo
Volatility Foundation Volatility Framework 2.6.1
INFO    : volatility.debug    : Determining profile based on KDBG search...
WARNING : volatility.debug    : Alignment of WindowsCrashDumpSpace64 is too small, plugins will be extremely

[2021-06-13 11:47] #531 closed

[2021-06-18 15:42] rsharo opened #532 "[CLI] Release v1.10.0 has incorrectly signed sha256 file"
Hello,

Releases **v1.10.0** and **v1.10.0-rc5** have no hash in the file `sift-cli-linux.sha256.asc`, and the `asc` file is _not_ a detached signature.

This means `gpg` makes no attempt to verify `sift-cli-linux.sha256` and the end-user is unable to verify that the hash is unaltered.

Recommend removing `sift-cli-linux.sha256` and placing the hash in `sift-cli-linux.sha256.asc`, as was done for

[2021-06-22 20:49] Anderson0abr opened #533 "[CLI] Install error on a Windows Server 2019 WSL 2"
Hi,

I'm trying to install sift-cli (server mode) on a Windows Server 2019 WSL 2 Ubuntu 20.04 and it always crashes at the same place. I saw a similar issue with the same error message (#528), but it doesn't seems to be the same problem. I'd appreciate a little help. Thanks in advance :)

![image](https://user-images.githubusercontent.com/3248826/122997057-fafc1b00-d381-11eb-89aa-8a52be87cbaa.png)

[2021-06-24 14:03] ekristen commented on #533
It looks like your apt is broken. An unmet dependency cannot be installed. Looks like perhaps like ettercap-common failed.

Try running apt-get update && apt-get upgrade and see if that runs successfully. You can also try running `apt-get install --fix-broken`

[2021-06-24 21:49] Anderson0abr commented on #533
I had already done this, but it didn't work.
Anyway, I tried again after some Windows updates and some new packages appeared to update on Linux. I don't know if Windows updates would influence that, but it worked after that.

TLDR: Update Windows; apt-get update && apt-get install --fix-broken && apt-get upgrade

[2021-06-24 21:49] #533 closed

[2021-06-26 02:49] #515 closed

[2021-06-28 15:16] gds-ahine opened #534 "[CLI] Unable to import GPG key from sks-keyservers to check integrity for sift-cli binary v1.10.0"
Unable to verify the integrity of the latest sift-cli binary as we're no longer able to import GPG keys from sks-keyservers.net. DNS records were removed for SKS Keyservers as part of a GDPR takedown request.

ref: https://www.reddit.com/r/crypto/comments/o7oh4w/skskeyserversnet_pool_dns_records_disabled/

From https://github.com/teamdfir/sift-cli README line step 3 -:

Import the PGP Key - gpg --

[2021-06-28 15:48] ekristen commented on #534
For now you should be able to use pgp.mit.edu instead.

I'll look into just publishing the key on GitHub and updating the instructions.

[2021-07-02 16:29] DanFelton commented on #528
How do you update the hashes and URLs?

[2021-07-02 16:32] digitalsleuth commented on #528
Hi @DanFelton , These should be updated now. Have you tried recently? If so, and it failed, please upload your saltstack.log file so we can take a look.

[2021-07-02 16:35] DanFelton commented on #528
Just did it today and the pdfs are missing, and that seems to be where it's failing

[saltstack.log](https://github.com/teamdfir/sift/files/6755869/saltstack.log)

[2021-07-02 17:23] digitalsleuth commented on #528
That's correct, it is the PDF's. It's not so much the hashes that are the issue, it's the origin of the PDF's that's changed. Due to the SANS recent upgrade of their website and resources, some of the PDF's require login for download, and some of them have a new URL.

Besides this, everything else seems to be installed properly, so you should have a fully functioning SIFT environment, with the exc

[2021-07-02 23:09] ekristen commented on #528
The PDFs were valid as of this last Monday, I'll check them again.

[2021-07-08 15:38] mh725 opened #535 "CLI - Cannot successfully run "sift update" even after updating apt-get"
Hello, I get 1 error when updating sift and another when updating apt-get. I am running both from the SIFT Workstation in VMWare Player 16.

![image](https://user-images.githubusercontent.com/86366104/124950879-cffc0300-dfe0-11eb-9566-9cc869666f3d.png)

![image](https://user-images.githubusercontent.com/86366104/124950938-dd18f200-dfe0-11eb-91f1-35c913fd3d0b.png)

i386 architecture...? Unsure - wo

[2021-07-08 19:12] ekristen commented on #535
Beginning of output lists a log file, please upload that.

[2021-07-08 19:41] mh725 commented on #535
[saltstack.log](https://github.com/teamdfir/sift/files/6786859/saltstack.log)

[2021-07-09 13:13] ekristen commented on #535
Looks like a single file was unable to be downloaded and installed. Most likely just a transient error you can try again, the SIFT tool will only install what's missing or configure what's not configured, it is idempotent.

[code]

[2021-07-25 09:47] anfokaboom opened #536 "CLI - Suggested location for sift-cli-linux.sha256.asc"
Hi

Is sift-cli-linux.sha256.asc meant to be somewhere in particular before validating it in step 4 of instructions?

[2021-07-25 15:28] ekristen commented on #536
Same directory as the binary

[2021-07-26 18:18] photoemulator commented on #534
How is this done?  What are the steps I need to replace to succeed here?

[2021-07-30 07:25] matthewthomaskelly commented on #534
The following command worked for me:

[2021-07-31 00:05] ekristen commented on #534
Thanks for helping out.

I'm looking at overhauling this in the near future, not sure how just yet.

[2021-08-07 13:50] dewiestr commented on #389
This issue is still in the latest SIFT FYI ...

[2021-08-10 14:18] ekristen opened #537 "INDXParse.py is missing"

[2021-08-11 00:00] cle1861 opened #538 "[CLI] No "sift-cli-linux: OK" When Validating Signature"
I followed all the steps but is there something I'm doing wrong? Any help is appreciated.
<img width="979" alt="Screen Shot 2021-08-10 at 7 57 52 PM" src="https://user-images.githubusercontent.com/47131999/128949863-28c28b42-e0ed-4d97-8879-432f876fc781.png">

[2021-08-11 00:40] cle1861 commented on #538
I'm using an ARM-based Ubuntu VM, does that have anything to do with my errors?

[2021-08-11 00:54] ekristen commented on #538
ARM is definitely not supported

[2021-08-16 14:16] ekristen commented on #389
Looks like this is the case of conflicting plugins unfortunately. You can try disabling the malware one for now. We try to be very selective in which plugins are added and sometimes conflicts arise because authors use the same CLI options.

[2021-08-16 14:17] ekristen commented on #538
@cle1861 please see the updated instructions, SIFT-CLI is now using the cosign tool for signing and validation, unfortunately ARM is not supported at this time.

[2021-08-16 14:17] #538 closed

[2021-08-16 14:17] ekristen commented on #536
Please see the updated README. The signing and validation of the binary has changed to use [cosign](https://github.com/sigstore/cosign)

[2021-08-16 14:18] #536 closed

[2021-08-16 14:18] #535 closed

[2021-08-16 14:18] ekristen commented on #532
@rsharo this has been resolved. Please see the updated README. The signing and validation of the binary has changed to use [cosign](https://github.com/sigstore/cosign)

[2021-08-16 14:18] #532 closed

[2021-08-16 14:19] ekristen commented on #534
Please see the updated README. The signing and validation of the binary has changed to use [cosign](https://github.com/sigstore/cosign)

[2021-08-16 14:19] #534 closed

[2021-08-16 14:19] #527 closed

[2021-08-16 14:19] ekristen commented on #526
Complete.

[2021-08-16 14:19] #526 closed

[2021-08-16 14:19] ekristen commented on #525
Please see the updated README. The signing and validation of the binary has changed to use [cosign](https://github.com/sigstore/cosign)

[2021-08-16 14:19] #525 closed

[2021-08-16 14:20] ekristen commented on #528
Closing this. PDFs are working, this issue should be resolved.

[2021-08-16 14:20] #528 closed

[2021-08-16 14:21] ekristen commented on #518
Hey @salty4n6 great question, I don't recall if we installed the SIFT-CLI in the latest update. You can always download and install it on the existing VM, you will not break anything.

[2021-08-16 14:21] #523 closed

[2021-08-16 14:22] ekristen commented on #178
Since this applied to 16.04 closing unless this comes up again.

[2021-08-16 14:22] #178 closed

[2021-08-16 14:23] ekristen commented on #243
With the switch to 20.04 and systemd, I'm wondering if this is still an issue. I know I haven't seen it much. @philhagen thoughts?

[2021-08-16 14:23] #279 closed

[2021-08-16 14:24] ekristen commented on #290
@philhagen looks like the latest package, is that acceptable or do you think we need to maintain a build from the source?

[2021-08-16 14:30] #350 closed

[2021-08-16 14:30] ekristen commented on #350
Resolved by https://github.com/teamdfir/sift-saltstack/pull/57

[2021-08-16 14:31] ekristen commented on #418
We've enabled swap in the latest builds of the OVA, see https://github.com/teamdfir/sift-packer/blob/master/builtin_files/ubuntu-desktop-preseed.cfg#L250-L252

[2021-08-16 14:31] #418 closed

[2021-08-16 14:32] ekristen commented on #501
This issue got very long, I'm going to close and lock, if you have similar issues in the future please open a new issue.

[2021-08-16 14:32] #501 closed

[2021-08-17 04:17] rj-chap commented on #131
Just found a solid use case to have Ralph's version.  Updating this Issue as a bump.  Thanks gang.

[2021-08-19 00:08] jf-telus opened #539 "[CLI] Fresh SIFT install failed on GCP Ubuntu 18.04"
[sift-saltstack.log](https://github.com/teamdfir/sift/files/7010832/sift-saltstack.log)

Hello,
I'm trying to create a base ubuntu image through Packer with Remnux and Sift. Remnux installs with no errors, Sift errors out and thus fails the Packer build.

[2021-08-20 18:44] ekristen commented on #539
It looks like plaso didn’t install correctly. I’ll run tests to ensure it’s still working properly

[2021-09-12 01:16] digitalsleuth commented on #539
After taking a look at this, and experiencing this same problem a few times, this appears to actually be a disruption in internet connectivity. When you see the IP address listed in the apt output, that's usually a good indication. This starts at line 13766:
`Could not connect to ppa.launchpad.net:80 (91.189.95.85), connection timed out [IP: 91.189.95.85 80]`

@jf-telus, have you tried the install

[2021-09-13 13:28] #537 closed

[2021-09-13 13:53] #131 closed

[2021-09-13 15:00] digitalsleuth commented on #506
After looking into this, it seems that the gnome-shell-extension-dashtodock is only available on Bionic, Hirsute and above, but not on Focal.

Technically, the [deb package under Hirsute](https://launchpad.net/ubuntu/+source/gnome-shell-extension-dashtodock) available on the Ubuntu PPA does install and appears to work on Focal, so it "could" be a viable option. However, any changes that might occu

[2021-09-13 17:03] digitalsleuth commented on #240
@mpilking Is this still of interest to you? If so, any chance you have a sample image I could use for testing?

[2021-09-14 20:42] jf-telus commented on #539
Our org wants us to create these images through Packer, so i don't have a lot of control over what goes on at the cli. Recently i just ran it and hit this problem: https://github.com/hashicorp/packer-plugin-googlecompute/issues/42 . Will keep an eye on this until Packer issue is resolved

[2021-09-14 20:52] ekristen commented on #539
Hi @jf-telus please use 20.04 and take a look at https://github.com/teamdfir/sift-packer -- I haven't added google compute, but wouldn't be difficult.

[2021-09-14 20:55] jf-telus commented on #539
Thanks @ekristen. I have stumbled upon that page before, but at the moment we're restricted to using 18.04 since it has been pre-hardened by an internal team and they don't have any near future plans to harden 20.04. I understand that SIFT stopped supporting 1804 so worst case scenario, we'll go with the off-the-shelf SIFT on 2004.

[2021-09-21 12:19] passuf commented on #530
I have the same problem, on both Ubuntu 21.04 and Windows 10 machines where the previous version of SIFT worked without problems.

Could we re-open the issue please?

[2021-09-29 06:55] javalireports commented on #218
This workaround worked for me., thank you

[2021-10-07 00:45] digitalsleuth commented on #539
Hi @jf-telus , Any chance you can provide some additional information? From the log, it shows systemd-run failed, and the package python2-dev could not be found. These two errors are typically independent, with the systemd error indicating a docker or virtualized container, and the python2-dev error simply indicating the package is not found.

Can you identify if this is a container-based installa

[2021-10-07 14:48] Daniel-CS-Team opened #540 "[CLI] Proxy-Issues again"
I found 2 older issues reagrding Proxy-Issues when using sift-cli.
However, the problem seems to be back.
[code]
The first install steps connecting to repo.saltproject.io work nicely over the configured proxy, but for this request, I do not even see a connection attempt in the proxy-logs.

FYI: Environment is Ubuntu 20.04 running in WSL1 on Windows Server 2019

[2021-10-11 06:08] Daniel-CS-Team commented on #540
Well, the workstation has no DNS-Resolution because all traffic must go via the proxy. This works well for all tools, which are proxy-aware. As mentioned above, for the first install steps, it works.

This means, that whatever tires to resolve api.github.com is not proxy-aware.

[2021-10-11 17:33] rbnmaia opened #541 "Feature request - SIFT to Ubuntu 21.04 (Hirsute Hippo)"
Requesting if you can validate 21.04 to support SIFT update and upgrade as usable distro.
If there will be a plan workaround to re-use the 20.04 server and desktop variant by manipulating files, please also let me know.

[2021-10-12 09:33] chbrao9 opened #542 "Unable to login to EC2 instance launched from Image ami-0b631d85f5e19c06f"
I have create an ec2 instance from image ami-0b631d85f5e19c06f in us-east-1 zone. I tried login via ssh and it throws me an error Permission denied (publickey). I tired all usernames ubuntu, sansforensics but there is no luck.

[2021-10-13 20:42] philhagen opened #543 "Inclusion request: ugrep"
Would it be possible to include `ugrep` in the baseline SIFT build?

https://github.com/Genivia/ugrep

DRAMATICALLY faster performance than `grep`.  hat tip to @tileo for the find!

[2021-10-13 22:24] ekristen commented on #543
Sounds like a great idea. AND it has apt package already!

[2021-10-26 14:26] Cyopeng opened #544 "SIFT CLI TLS error"
I am having issues installing SIFT using the CLI.

My proxy variables are set for my corporate proxy using both uppercase and lowercase. I am able to curl the release repo and receive a 200, successfully authenticating with the proxy.

request to https://api.github.com/repos/teamdfir/sift-saltstack/releases failed, reason: Client network socket disconnected before secure TLS connection was establi

[2021-10-26 15:19] #542 closed, assigned to nobody

[2021-10-27 14:25] #544 closed, assigned to nobody

[2021-11-04 14:47] itpropaul opened #545 "Update / Upgrade as of Spring 2021 OVA"
I don't see the "sift" command available in the OVA.

Beyond apt update and apt upgrade, is there a sift-specific way that I should be updating the VM and it's included tools?

[2021-11-04 16:07] ekristen commented on #545
Yes, the latest build script didn't include it, you can easily download it from https://github.com/teamdfir/sift-cli and then run the install, it won't think it's installed only because a single file doesn't exist, but the SIFT scripts are all idempotent and so it'll run through and see what's different, what's the same and make any necessary changes..

[2021-11-04 19:40] itpropaul commented on #545
Okay, thanks! Do you recommend solely using sift to update/upgrade the VM or still use apt?

I'm wondering if using apt would break dependencies, etc.

[2021-11-07 17:10] ekristen commented on #545
The SIFT CLI will do things apt doesn’t, apt is going to cover probably 70% or so.

Sent from my iPhone

[2021-11-08 13:23] itpropaul commented on #545
Awesome, thanks @ekristen!

[2021-11-08 13:23] #545 closed

[2021-11-14 23:11] AgnosticCrusader opened #546 "SIFT Installer error: unable to validate hashes for sift-saltstack | On Ubuntu server 20.04 and v2021.9.0"
I have a basic installation of Ubuntu **Server** 20.04.3. I am following the instructions from _Option 2A: SIFT Easy Installation on Native Ubuntu System_

When I run _sudo sift install --mode=server_ , I get the error below.

Does SIFT expect Ubuntu Desktop? Or am I running into some other (unexpected) issue?

==============

t805959@tsirtforensicswest:/var/tmp$ sudo sift install --mode=server

H

[2021-11-15 19:59] digitalsleuth commented on #546
Hi @AgnosticCrusader , it looks like there may not have been a download of the actual release file. This could happen if there was a network connectivity problem, or perhaps you might be behind a proxy. Could this be the case?

[2021-11-17 00:01] AgnosticCrusader commented on #546
I noticed that. I am indeed behind a proxy, but /etc/environment is correctly set:

http_proxy="http://###.###.##.25:8080/"
https_proxy="http://###.###.##.25:8080/"
HTTP_PROXY="http://###.###.##.25:8080/"
HTTPS_PROXY="http://###.###.##.25:8080/"

Having said that, some tools have their own config file for proxy declaration - they may not pick up on proxies defined in the environment variables. Is

[2021-11-17 00:57] ekristen commented on #546
Make sure those environment variables are in your current shell and you should be ok.

[2021-11-20 21:55] itripc opened #547 "[SALTSTACK] - Rekall installation"
![image](https://user-images.githubusercontent.com/31646277/142741926-553c7d71-9b8c-4a06-99e1-8ec5232c2650.png)

Hello, I believe I got the most recent SIFT vm  from :  https://www.sans.org/tools/sift-workstation/?utm_medium=Display&utm_source=DFIR&utm_content=SIFT%20LAUNCH%20SPRING%2021_VMR&utm_campaign=DFIR%20Courses

then I installed the SIFT cli tools,  and did sift upgrade  and then  sift upd